@import '../../styles/all';

.dropdownContainer {
  display: flex;
  flex-direction: column;
  width: 100%;

  .dropdown {
    margin-bottom: 11px;
    position: relative;
    .dropdownControl {
      width: 100%;
      height: 60px;
      display: flex;
      flex-direction: row;
      align-items: center;
      padding: 15px 20px;
      border: 3px solid transparent;
      border-radius: 8px;
      background-color: $colorGrayLight;
      cursor: pointer;
      user-select: none;

      &:hover {
        box-shadow: none !important;
      }

      .dropdownPlaceholder {
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        @media (max-width: $screen-md) {
          font-size: 14px;
          margin-right: 10px;
        }
      }

      .dropdownArrow {
        top: unset;
        right: 13px;
      }

      @media (max-width: $screen-md) {
        height: 100%;
        padding: 0 20px;
      }
    }

    .dropdownMenu {
      width: 100%;
      position: absolute;
      /*top:              52px;*/
      left: 0;
      background-color: $colorGrayLight;
      border: none;
      border-radius: 0 0 8px 8px;
      padding: 10px 23px;
      z-index: 999999;

      > * {
        background-color: transparent !important;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        padding-left: 0 !important;
        padding-right: 0 !important;
      }
    }
  }
}
.dropdownMenu {
  width: 100%;
  position: absolute;
  bottom: 100%;
  top: auto !important;
  left: 0;
  background-color: $colorGrayLight;
  border: none;
  border-radius: 0 0 8px 8px;
  padding: 10px 23px;

  > * {
    background-color: transparent !important;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
}
