@import '../../styles/all';

.carouselContainer
{
    margin-top: 140px;

    .titleContainer
    {
        display:         flex;
        flex-direction:  row;
        align-items:     center;
        justify-content: space-between;
        padding:         0 3rem;
        margin-bottom:   30px;

        .title
        {
            color:       $colorWhite;
            font-family: $fontBold;
            font-size:   24px;
        }

    }

    .carousel
    {
        display:        flex;
        position:       relative;
        flex-direction: column-reverse;
        padding-left:   30px;

        @media (min-width: $screen-sm)
        {
            padding-left: 3rem;
        }
    }
}

:global
{
    .react-multi-carousel-item
    {
        width: unset !important;
    }
}