@import '../../styles/all';

.carouselContainer {
    margin: auto;
    margin-bottom: 50px;
    margin-top: 50px;
    width: 100%;
    position: relative;

    .inactivePlaceholder {
        background-image: url('../../data/backgrounds/games/games-highlight.png');
        background-repeat: no-repeat;
        background-size: contain;
        position: absolute;
        left: 50%;
        top: 180px;
        z-index: 20;
        min-width: 250px;
        min-height: 70px;
        transform: translate(-50%, -50%);
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 18px;
        font-family: $fontRegular;
        color: $colorBlack;
        font-weight: 700;
    }

    .titleContainer {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 30px;

        .title {
            color: $colorWhite;
            font-size: 24px;
        }

        .titleLink {
            font-size: 14px;
            color: $colorWhite;
            line-height: 12px;
            letter-spacing: 0.6px;
            margin-left: 20px;
        }
    }

    .carousel {
        display: flex;
        align-items: flex-start;
        position: relative;

        &.blurContainer {
            filter: blur(4px);
        }

        .comingSoonContainer {
            position: absolute;
            width: 100%;
            height: 100%;
            z-index: 10;
        }

        @media (max-width: 1300px) {
            overflow-x: scroll;
        }

        a {
            text-decoration: none;

            @media (max-width: $screen-md) {
                margin-bottom: 10px;
            }
        }
    }
}

.scrollButtons {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    &.blurContainer {
        filter: blur(4px);
    }

    .comingSoonContainer {
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 10;
    }

    @media (min-width: $screen-md) {
        // display: flex;
    }

    .buttons {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .arrowNext,
    .arrowPrev {
        background-color: transparent;
        border: none;
        height: 60px;
        width: 60px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;

        &.inactive {
            opacity: 0.5;
            cursor: not-allowed;
        }
    }
}