@import '../../styles/all';

.stepsContainer
{
    width:  100%;
    height: 100%;

    .stepsContentContainer
    {
        height:          100%;
        width:           100%;
        display:         flex;
        flex-direction:  column;

        $paddingPercent: 7%;
        $paddingHTotal:  2 * $paddingPercent;
        $padding:        0 $paddingPercent;

        .stepsStepBarContainer
        {
            width:           100%;
            display:         flex;
            justify-content: center;
            margin:          36px 0 110px;
            padding:         $padding;
        }

        .stepsHeadline
        {
            width:          100%;
            font-family:    $fontBold;
            font-size:      36px;
            line-height:    39.6px;
            letter-spacing: 0;
            color:          $colorPrimary;
            padding:        $padding;
        }

        .stepsButton
        {
            margin-top: auto;

            @media only screen and (min-width: $screen-sm)
            {
                width:      (100% - $paddingHTotal);
                margin:     $padding;
                margin-top: auto;
            }
        }
    }
}