@import '../../styles/all';

.stepsContainer
{
    width:    100%;
    height:   100%;
    position: relative;

    .stepsStepBarContainer
    {
        width:           100%;
        display:         flex;
        justify-content: center;
        position:        absolute;
        margin:          60px 0 30px;
        z-index:         1;
        padding:         $padding;
        user-select:     none;

        @media (min-width: $screen-sm)
        {
            margin-bottom: 80px;
        }
    }

    .stepsContentContainer
    {
        height:          100%;
        width:           100%;
        display:         flex;
        flex-direction:  column;

        $paddingPercent: 7%;
        $paddingHTotal:  2 * $paddingPercent;
        $padding:        0 $paddingPercent;

        &.splittedView
        {
            @media (min-width: $screen-md)
            {
                flex-direction: row;
                position:       relative;

                > div
                {
                    width:  50%;
                    height: 100%;

                    &:last-child
                    {
                        margin-top: 0 !important;
                    }
                }
            }
        }

        > div
        {
            &:first-child
            {
                margin-top: 115px;

                @media(min-width: $screen-md)
                {
                    margin-top: 130px;
                }
            }

            &:last-child
            {
                display:        flex;
                flex-direction: column;
                height:         100%;
                margin-top:     50px;
            }
        }

        .stepsHeadline
        {
            width:          100%;
            font-family:    $fontBold;
            font-size:      36px;
            line-height:    39.6px;
            letter-spacing: 0;
            color:          $colorPrimary;
            padding:        $padding;
        }

        .stepsButtonContainer
        {
            display:        flex;
            flex-direction: column;
            margin-top:     auto;
            color:          $colorPrimary;
            margin-bottom:  30px;

            @media (min-width: $screen-sm)
            {
                flex-direction: column-reverse;
            }

            @media only screen and (min-width: $screen-sm)
            {
                width:      (100% - $paddingHTotal);
                margin:     $padding;
                margin-top: auto;
            }

            .cancelButton
            {
                opacity:          0.3;
                font-size:        12px;
                background-color: transparent;

                @media (min-width: $screen-sm)
                {
                    font-size: 18px;
                }
            }

            .continueButton
            {
                font-size: 16px;

                @media (min-width: $screen-sm)
                {
                    margin-bottom: 20px;
                    font-size:     23px;
                }
            }
        }
    }
}