@import '../../styles/all';

.container {
  margin: 0 auto;
  width: 100%;
  max-width: 1288px;
  padding: 50px 22px;
  background: rgba($colorPrimary, 0.7);
  border-radius: 12px;
  position: relative;

  @media (max-width: $screen-sm) {
    padding: 0 20px;
  }

  /* ACTIVITY TRACKER */
  .activities {
    margin-top: 30px;

    .title {
      display: flex;
      align-items: center;
      color: $colorWhite;

      h2 {
        color: $colorWhite;
        font-size: 20px;
        font-weight: bold;
        padding: 0;

        @media (max-width: $screen-xs) {
          font-size: 20px;
        }
      }

      img {
        margin-right: 30px;
      }
    }
  }
}

.gameBannerContainer {
  .title {
    padding-bottom: 30px;
    h2 {
      font-size: 20px;
      color: $colorWhite;
    }
  }

  .games {
    display: flex;
    gap: 13px;
    justify-content: space-evenly;
    padding-bottom: 20px;

    .gameBanner {
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      width: 100%;
      max-width: 614px;
      height: 220px;
      justify-content: center;
      cursor: pointer;

      @media (max-width: $screen-xs) {
        align-items: center;
      }

      .bannerTitle {
        font-size: 30px;
        z-index: 2;
        color: $colorWhite;
        width: 100%;
        max-width: 250px;
        margin-left: 40px;
        text-transform: uppercase;
        line-height: 30px;
        padding-bottom: 10px;
        font-style: italic;
        font-family: $fontDMSans;

        @media (max-width: $screen-xs) {
          max-width: 150px;
          font-size: 20px;
          line-height: 20px;
          margin-left: 10px;
        }
      }

      .bannerButton {
        max-width: 150px;
        height: 40px;
        color: $colorPrimary;
        margin-left: 40px;
        @media (max-width: $screen-xs) {
          margin-left: 0;
        }
      }

      & > img {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: 0;
        border-radius: 12px;
      }
    }
  }
}

.discordBanner {
  width: 100%;
  height: 130px;
  margin-top: 40px;
  margin-bottom: 40px;
  @media (max-width: $screen-sm) {
    display: none;
  }
  &.withPadding {
    margin-top: 40px;
  }

  .backgroundWrapper {
    position: absolute;
    height: 100px;
    left: 0;
    right: 0;
    background: #f7a800;
    display: flex;

    .bodyContainer {
      position: relative;
      width: 100%;
      display: flex;
      align-items: center;
      font-weight: 600;
      font-size: 36px;
      color: $colorBlack;

      @media (max-width: 1366px) {
        font-size: 32px;
      }

      p {
        // margin-left: 20px;
        padding: 0 30px 0 20px;

        @media (max-width: $screen-md) {
          font-size: 26px;
        }

        a {
          text-decoration: underline;
        }
      }
      .closeButton {
        position: absolute;
        right: 10px;
        top: 10px;
        cursor: pointer;
      }
    }
    .whiteWrapper {
      max-width: 500px;
      position: relative;
      margin-right: 50px;
      margin-top: 0px;

      &:after {
        content: '';
        position: absolute;
        right: -60px;
        top: 0;
        width: 0;
        height: 0;
        border-top: 0px solid transparent;
        border-left: 60px solid #fff;
        border-bottom: 127px solid transparent;

        @media (max-width: $screen-sm) {
          border: none;
        }
      }

      .whiteContainer {
        background: white;
        padding: 6px 30px;
        box-shadow: 0px 5px 4px rgba(0, 0, 0, 0.25);
        display: flex;
        align-items: center;
        svg {
          width: 300px;
          height: 110px;
        }
      }
    }
  }
}
