@import '../../styles/all';

.homeContainer
{
    background-color: $colorPrimaryDark;
    padding-bottom:   8rem;

    .headline
    {
        color:       #ffffff;
        font-family: $fontBold;
        font-size:   24px;
        margin:      8rem 0 1rem 0;
    }

    .betPillContainer
    {
        padding: 0 3rem;
    }
}