@import '../../styles/all';

.containerWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 0 3rem;

  @media (max-width: $screen-sm) {
    margin: 0 15px;
  }
}

.container {
  width: 100%;

  @media (min-width: $screen-lg) {
    max-width: 1300px;
  }
}

.mainHeadline {
  color: $colorWhite;
  text-align: center;
  max-width: 580px;
  margin: 0 auto;
  margin-top: 143px;
  padding: 0 20px;

  @media (max-width: $screen-sm) {
    margin-top: 90px;
  }

  h1 {
    font-family: $fontBold;
    font-size: 46px;
    font-weight: bold;
    line-height: 1.13;
    letter-spacing: 1px;

    @media (max-width: $screen-md) {
      font-size: 38px;
    }
  }

  ul {
    margin: 0 auto;
    list-style: none;
    margin-left: 20px;
    text-align: left;
    padding-top: 30px;

    & li {
      position: relative;
      margin-bottom: 5px;
      opacity: 0.6;
      margin-left: 10px;
    }
    & li:before {
      content: '';
      position: absolute;
      border-right: 2px solid #fff;
      border-bottom: 2px solid #fff;
      width: 5px;
      height: 5px;
      top: 11px;
      left: -15px;
      transform: translateY(-50%) rotate(-45deg);
    }
  }

  div.slogan {
    padding: 12px 0;
    font-size: 25px;
    font-family: $fontMedium;

    span {
      font-family: $fontBold;
      color: $colorYellowLight;
    }

    @media (max-width: $screen-md) {
      font-size: 24px;
      padding: 12px 15px 0;
    }
  }
}

.banner {
  margin-top: 50px;
  background-image: url('../../data/backgrounds/games/rosi-games-banner-lg.png');
  min-height: 232px;
  width: 100%;
  padding: 50px 30px 20px 30px;
  background-repeat: no-repeat;
  background-size: contain;

  @media (max-width: $screen-md) {
    padding: 20px;
    min-height: unset;
    height: 150px;
  }

  @media (max-width: $screen-sm) {
    background-image: url('../../data/backgrounds/games/rosi-games-banner-mobile.png');
    height: 100%;
    background-position: center;
    padding: 80px;
  }

  @media (max-width: $screen-xs) {
    padding: 40px;
  }

  .title {
    font-family: $fontBold;
    font-size: 30px;
    color: $colorWhite;

    @media (max-width: $screen-md) {
      font-size: 22px;
    }

    @media (max-width: $screen-sm) {
      font-size: 36px;
      margin-top: 100%;
    }

    @media (max-width: $screen-xs) {
      font-size: 30px;
    }
  }
}

.blogBanner {
  margin-top: 32px;
  background-image: url('../../data/backgrounds/blogs/blog-banner-lg.png');
  @media (max-width: $screen-sm) {
    background-image: url('../../data/backgrounds/blogs/blog-banner-mobile.png');
    padding: 5px 80px;
  }
}

.blogSectionContainer {
  width: 100%;
  display: flex;

  @media (max-width: $screen-sm) {
    padding: 10px 40px;
  }

  .blogPlaceHolder {
    @media (max-width: $screen-sm) {
      display: none;
    }
  }
}

.bottomWrapper {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-top: 80px;

  @media (max-width: $screen-md) {
    flex-direction: column;
  }

  .categories {
    width: 100%;
    padding: 0 10px;

    @media (max-width: $screen-xs-max) {
      margin-bottom: 40px;
    }
  }

  .leaderboard {
    width: 100%;
    padding: 0 10px;

    @media (max-width: $screen-sm) {
      padding: 0;
    }
  }

  .headline {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: $colorWhite;
    font-family: $fontRegular;
    font-size: 24px;
    margin-bottom: 20px;

    .leaderboardLink {
      font-size: 14px;
      color: $colorWhite;
      line-height: 12px;
      letter-spacing: 0.6px;
      font-family: $fontLight;
      cursor: pointer;
      text-decoration: underline;
    }
  }
}

.tags {
  display: flex;
  flex-flow: wrap;
  margin: 20px 0;

  .tag {
    background-color: rgba(172, 196, 255, 0.1);
    padding: 10px;
    font-size: 12px;
    color: $colorWhite;
    cursor: pointer;
    border-radius: 2px;
    margin: 5px;
    opacity: 0.8;

    &:hover {
      background-color: rgba(255, 255, 255, 0.2);
      opacity: 1;
    }
  }
}

.seeAllActivities {
  display: flex;
  align-items: center;
  font-size: 14px;
  color: $colorWhite;
  line-height: 12px;
  letter-spacing: 0.6px;
  font-family: $fontLight;
  cursor: pointer;
  text-decoration: underline;
}
