@import '../../styles/all';

.containerWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 0 3rem;
  margin-top: 100px;

  @media (max-width: $screen-sm) {
    margin: 0 15px;
  }
}

.container {
  width: 100%;

  @media (min-width: $screen-lg) {
    max-width: 1440px;
  }
}

.sectionHeading {
  display: flex;
  align-items: center;
  img {
    margin-right: 15px;
  }
  h3 {
    padding-bottom: 10px;
  }
}

.mainHeadline {
  color: $colorWhite;
  text-align: center;
  max-width: 580px;
  margin: 0 auto;
  margin-top: 143px;
  padding: 0 20px;

  @media (max-width: $screen-sm) {
    margin-top: 90px;
  }

  h1 {
    font-family: $fontBold;
    font-size: 46px;
    font-weight: bold;
    line-height: 1.13;
    letter-spacing: 1px;

    @media (max-width: $screen-md) {
      font-size: 38px;
    }
  }

  ul {
    margin: 0 auto;
    list-style: none;
    margin-left: 20px;
    text-align: left;
    padding-top: 30px;

    & li {
      position: relative;
      margin-bottom: 5px;
      opacity: 0.6;
      margin-left: 10px;
    }

    & li:before {
      content: '';
      position: absolute;
      border-right: 2px solid #fff;
      border-bottom: 2px solid #fff;
      width: 5px;
      height: 5px;
      top: 11px;
      left: -15px;
      transform: translateY(-50%) rotate(-45deg);
    }
  }

  div.slogan {
    padding: 12px 0;
    font-size: 25px;
    font-family: $fontMedium;

    span {
      font-family: $fontBold;
      color: $colorYellowLight;
    }

    @media (max-width: $screen-md) {
      font-size: 24px;
      padding: 12px 15px 0;
    }
  }

  .socialIcons {
    padding-bottom: 0px;
  }
}

.banner {
  margin-top: 20px;
  background-image: url('../../data/backgrounds/games/elon-game-banner-lg.png');
  border-radius: 12px;
  min-height: 252px;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
  padding: 30px;
  background-repeat: no-repeat;
  background-size: contain;

  @media (max-width: $screen-lg) {
    padding: 20px;
    min-height: unset;
    height: 200px;
  }

  @media (max-width: $screen-md) {
    padding: 20px;
    min-height: unset;
    height: 150px;
  }

  @media (max-width: $screen-sm) {
    background-image: url('../../data/backgrounds/games/elon-game-banner-mobile.png');
    height: 100%;
    background-position: center;
    padding: 80px;
  }

  @media (max-width: $screen-xs) {
    padding: 40px;
  }

  .title {
    opacity: 0;
    font-family: $fontBold;
    font-size: 30px;
    color: $colorWhite;

    h2 {
      font-size: 33px;

      @media (max-width: $screen-xs) {
        font-size: 28px;
      }
    }

    @media (max-width: $screen-md) {
      font-size: 22px;
    }

    @media (max-width: $screen-sm) {
      font-size: 36px;
      margin-top: 100%;
    }

    @media (max-width: $screen-xs) {
      font-size: 30px;
    }
  }

  .button {
    opacity: 0;
    margin-top: 10px;
    background: linear-gradient(180deg, #e82e89 0%, #a21c5d 97.4%);
    border-radius: 30px;
    width: 340px;
    border: none;
    max-width: 95%;
    box-sizing: border-box;
    color: #fff;
    padding: 12px;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    cursor: pointer;
  }
}

.bottomWrapper {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-top: 80px;

  @media (max-width: $screen-md) {
    flex-direction: column;
  }

  .categories {
    width: 100%;
    padding: 0 10px;

    @media (max-width: $screen-xs-max) {
      margin-bottom: 40px;
    }
  }

  .leaderboard {
    width: 100%;
    padding: 0 10px;

    @media (max-width: $screen-sm) {
      padding: 0;
    }
  }

  .headline {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: $colorWhite;
    font-family: $fontRegular;
    font-size: 24px;
    margin-bottom: 20px;

    .leaderboardLink {
      font-size: 14px;
      color: $colorWhite;
      line-height: 12px;
      letter-spacing: 0.6px;
      font-family: $fontLight;
      cursor: pointer;
      text-decoration: underline;
    }
  }
}

.lightboxWrapper {
  margin-top: 48px;
}

.tags {
  display: flex;
  flex-flow: wrap;
  margin: 20px 0;

  .tag {
    background-color: rgba(172, 196, 255, 0.1);
    padding: 10px;
    font-size: 12px;
    color: $colorWhite;
    cursor: pointer;
    border-radius: 2px;
    margin: 5px;
    opacity: 0.8;

    &:hover {
      background-color: rgba(255, 255, 255, 0.2);
      opacity: 1;
    }
  }
}

.seeAllActivities {
  display: flex;
  align-items: center;
  font-size: 14px;
  color: $colorWhite;
  line-height: 12px;
  letter-spacing: 0.6px;
  font-family: $fontLight;
  cursor: pointer;
  text-decoration: underline;
}

.howTokenWorks {
  padding: 20px 0 0;
  .title {
    display: flex;
    align-items: center;
    font-size: 30px;
    font-weight: 700;
    justify-content: flex-start;

    h2 {
      font-size: 33px;

      @media (max-width: $screen-xs) {
        font-size: 28px;
      }
    }

    img {
      margin-right: 10px;
      width: 80px;
    }
  }
  .tokenDetail {
    display: grid;
    grid-template-columns: 1fr 1fr 1.2fr 0.2fr;
    background: #ff0095;
    border-radius: 12px;
    padding: 0 10px 0px 20px;
    margin: 15px 0 0;
    @media (max-width: $screen-md) {
      grid-template-columns: auto;
    }
    .token {
      padding: 20px 8px 0;
      display: flex;
      @media (max-width: $screen-md) {
        flex-direction: column;
        align-items: center;
      }
      .thumbnail {
        padding-right: 10px;
        img {
          width: 90px;
        }
      }
      .thumbnails {
        display: flex;
        padding-right: 10px;
        .second {
          margin: 18px 0 0 -34px;
        }
        img {
          width: 90px;
          height: 90px;
        }
      }
      .detail {
        padding-top: 20px;
        color: #fff;
        h3 {
          font-weight: bolder;
          font-size: 22px;
          margin-bottom: 6px;
        }
        p {
          font-size: 14px;
        }
        @media (max-width: $screen-md) {
          text-align: center;
        }
      }
    }
    .elonImg {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}

.alpacaverse {
  margin: 40px 0 20px;
  .title {
    display: flex;
    align-items: center;
    font-family: $fontMedium;
    font-size: 30px;
    font-weight: 700;
    justify-content: flex-start;
    img {
      margin-right: 40px;
      // width: 80px;
    }
    h2 {
      font-size: 30px;
      @media (max-width: $screen-xs) {
        font-size: 28px;
        text-align: center;
      }

      img {
        margin-left: 5px;
      }
    }
    .pink {
      color: #e82e89;
    }
  }
  .cardBox {
    padding-top: 30px;

    .card {
      display: flex;
      background: #ffffff;
      border: 1px solid #ededed;
      margin: 20px auto;
      padding-right: 20px;
      box-shadow: 0px 9px 16px rgba(159, 162, 191, 0.18),
        0px 2px 2px rgba(159, 162, 191, 0.32);
      border-radius: 12px;
      height: 100%;
      @media screen and (max-width: $screen-md) {
        flex-direction: column;
        padding-right: 0;
      }
      @media screen and (max-width: 763px) {
        margin-top: 20px;
        height: auto;
      }
      .thumbnail {
        text-align: center;
        margin-top: -20px;
        @media screen and (max-width: 763px) {
          margin-top: 10px !important;
        }
      }
      .thumbnailLast {
        margin: auto;
        @media screen and (max-width: 763px) {
          margin-top: 10px !important;
        }
      }
      .detail {
        padding: 30px 0 0 12px;
        @media screen and (max-width: $screen-md) {
          text-align: center;
        }
        h3 {
          font-family: $fontMedium;
          font-size: 22px;
          color: #e82e89;
          margin-bottom: 6px;
          img {
            max-width: 160px;
            margin-left: 5px;
          }
        }
        p {
          font-weight: 400;
          line-height: 20px;
          width: 90%;
          font-size: 14px;
          color: #0e0927;
        }
        button {
          margin-top: 16px;
          background: transparent;
          border: 0;
          font-family: $fontMedium;
          font-size: 14px;
          color: #e82e89;
          cursor: pointer;
        }
      }
    }
  }
}

/* ACTIVITY TRACKER */
.activityWrapper {
  margin-top: 32px;
  background: $colorWhite;
  border: 1px solid $colorLightGray;

  box-shadow: 0px 9px 16px rgba(159, 162, 191, 0.18),
    0px 2px 2px rgba(159, 162, 191, 0.32);
  border-radius: 12px;

  @media screen and (max-width: $screen-xs) {
    margin-bottom: 20px;
  }
  .activityContainer {
    position: relative;
    height: 324px;
  }
}
.tabItem {
  text-align: center;
  padding-bottom: 12px;
  opacity: 0.3;
  cursor: pointer;
}

.tabItemSelected {
  text-align: center;
  padding-bottom: 12px;
  opacity: 1;
  cursor: pointer;
  border-bottom: 3px solid $mainAction;
}
.tabLayout {
  display: flex;
  align-items: flex-end;
  color: $colorWhite;
  font-family: $fontRegular;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 18px;
  padding-top: 24px;
  margin-left: 16px;

  @media (max-width: $screen-md) {
    margin-left: 0px;
    justify-content: space-between;
    font-size: 11px;
    line-height: 14px;
  }
}
.tabOptionsContainer {
  @media (max-width: $screen-md) {
    margin-left: 0px;
    justify-content: space-between;
    font-size: 11px;
    line-height: 14px;
  }
}
/* ACTIVITY TRACKER */
.activities {
  margin-top: 40px;
  .title {
    display: flex;
    align-items: center;

    h2 {
      font-size: 33px;

      @media (max-width: $screen-xs) {
        font-size: 28px;
      }
    }

    img {
      margin-right: 30px;
    }
  }
}
.gameCards {
  margin-top: 70px;
  .title {
    display: flex;
    align-items: center;
    font-size: 22px;
    font-weight: 700;
    justify-content: flex-start;

    h2 {
      font-size: 33px;

      @media (max-width: $screen-xs) {
        font-size: 28px;
      }
    }

    img {
      margin-right: 5px;
    }
  }
  .cardBox {
    text-align: center;
    img {
      border-radius: 12px;
      margin: 20px 0;
      width: 96%;
    }
  }
}
