@import "../../styles/all";

$largeMobileHeight: 700px;

.menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    padding: 25px 0 40px 0;
    width: 80vw;
    height: 100vh;
    top: 0;
    background-color: $colorPrimary;
    right: -100%;
    transition: right 0.5s ease-in-out;
    z-index: 2;

    &.menuOpened {
        right: 0;
    }

    @media (min-width: $screen-sm) {
        width: 40vw;
        padding-top: 150px;
        background-color: $colorPrimary90;
    }

    @media (min-width: $screen-lg) {
        width: 30vw;
    }

    .fundsContainer {
        width: 95%;
        display: flex;
        flex-direction: column;
        padding: 25px;
        background-color: #221e3d;
        border-radius: 6px;

        .overallFunds {
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;

            .overallFundsHeadline {
                position: absolute;
                top: 0;
                left: 0;
                font-weight: bold;
                font-size: 10px;
                letter-spacing: 1px;
                text-transform: uppercase;
                color: rgba(255, 255, 255, 0.4);
                mix-blend-mode: normal;
            }

            .overallFundsAmount {
                width: 164px;
                height: 164px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                margin: 10px 0 30px 0;
                border: 1px solid white;
                border-radius: 50%;

                .overallFundsTotal {
                    font-weight: 500;
                    font-size: 36px;
                    color: #ffffff;
                }

                .overallFundsTitle {
                    font-size: 14px;
                    color: #ffffff;
                }
            }
        }

        .detailedFunds {
            width: 100%;
            display: flex;
            margin-top: 30px;

            .investedFunds {
                width: 50%;
                display: flex;
                flex-direction: column;

                .investedFundsHeadline {
                    display: flex;
                    align-items: center;
                    margin-bottom: 12px;
                    font-weight: bold;
                    font-size: 10px;
                    line-height: 22px;
                    letter-spacing: 1px;
                    text-transform: uppercase;
                    color: rgba(255, 255, 255, 0.4);
                    mix-blend-mode: normal;

                    .investedFundsDot {
                        width: 6px;
                        height: 6px;
                        margin-right: 6px;
                        background-color: #69ffa5;
                        border-radius: 50%;
                    }
                }

                .investedFundsAmount {
                    display: flex;
                    align-items: flex-start;
                    margin-left: 12px;

                    .investedFundsTotal {
                        font-size: 24px;
                        line-height: 24px;
                        color: #ffffff;
                        margin-right: 8px;
                    }

                    .investedFundsTitle {
                        font-size: 10px;
                        color: #ffffff;
                    }
                }

                .growthPositive {
                    margin: 14px 0 0 12px;
                    font-size: 16px;
                    line-height: 16px;
                    color: #69ffa5;
                }

                .growthNegative {
                    margin: 14px 0 0 12px;
                    font-size: 16px;
                    line-height: 16px;
                    color: #d42f19;
                }

                .growthNeutral {
                    margin: 14px 0 0 12px;
                    font-size: 16px;
                    line-height: 16px;
                    color: #ffffff;
                }

                .originInvestedAmount {
                    margin: 14px 0 0 12px;
                    font-size: 12px;
                    line-height: 16px;
                    color: #ffffff;
                    mix-blend-mode: normal;
                    opacity: 0.5;
                }
            }

            .liquidFunds {
                width: 50%;
                display: flex;
                flex-direction: column;

                .liquidFundsHeadline {
                    display: flex;
                    align-items: center;
                    margin-bottom: 12px;
                    font-weight: bold;
                    font-size: 10px;
                    line-height: 22px;
                    letter-spacing: 1px;
                    text-transform: uppercase;
                    color: rgba(255, 255, 255, 0.4);
                    mix-blend-mode: normal;

                    .liquidFundsDot {
                        width: 6px;
                        height: 6px;
                        margin-right: 6px;
                        background-color: #3570ff;
                        border-radius: 50%;
                    }
                }

                .liquidFundsAmount {
                    display: flex;
                    align-items: flex-start;
                    margin-left: 12px;

                    .liquidFundsTotal {
                        font-size: 24px;
                        line-height: 24px;
                        color: #ffffff;
                        margin-right: 8px;
                    }

                    .liquidFundsTitle {
                        font-size: 10px;
                        color: #ffffff;
                    }
                }
            }
        }

        .fundsSeperator {
            width: 100%;
            height: 1px;
            background-color: #292744;
        }
    }
}
