@import "../../styles/all";

$largeMobileHeight: 700px;

.menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    padding: 90px 24px 0;
    width: 500px;
    height: 100vh;
    top: 0;
    background-color: rgba(14, 9, 39, 0.86);
    right: -100%;
    transition: right 0.5s ease-in-out;
    overflow: hidden;

    .mainContent {
        overflow-y: auto;
        padding-bottom: 30px;
        padding-left: 30px;
    }

    &.menuOpened {
        right: 0;
        padding: 90px 24px 0;
        background-color: rgba(14, 9, 39, 0.86);
        backdrop-filter: blur(6px);
    }

    .profileBalance {
        display: flex;
        flex-direction: column;
        color: $colorWhite;
        width: 95%;
        padding: 20px;
        height: 250px;
        background-color: rgba(172, 196, 255, 0.1);
        margin-bottom: 20px;

        .profileBalanceHeading {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            margin-bottom: 45px;

            .profileBalanceTitle {
                text-transform: uppercase;
                opacity: 0.4;
                font-size: 10px;
                letter-spacing: 1px;
                font-weight: bold;
            }

            .goToMyTrades {
                line-height: 20px;
                font-size: 12px;
                align-items: center;
                border-bottom: 2px solid white;
                cursor: pointer;
                border-bottom: 2px solid $colorWhite;
                transition: transform 0.5s;

                .goToMyTradesIcon {
                    display: inline;
                }
                &:hover {
                    transform: scale(1.1);
                }
            }

        }
        .profileBalanceContent {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            height: 100%;

            .profileBalanceItem {
                width: 32%;
                height: 100%;

                .overallFunds {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 100%;

                    .overallFundsAmount {
                        width: 120px;
                        height: 120px;
                        display: flex;
                        position: relative;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        border-radius: 50%;

                        @media (max-width: $screen-sm) {
                            margin-top: 20px;
                        }

                        .overallFundsTotal {
                            position: absolute;
                            font-weight: 500;
                            font-size: 20px;
                            color: #ffffff;
                        }

                        .overallFundsTitle {
                            position: absolute;
                            top: 80px;
                            font-size: 12px;
                            color: #ffffff;

                            @media (max-width: $screen-sm) {
                                top: 150px;
                            }
                        }
                    }
                }

                .availableEvnts {
                    width: 100%;
                    display: flex;
                    flex-direction: column;

                    .availableEvntsHeadline {
                        display: flex;
                        align-items: center;
                        margin-bottom: 12px;
                        font-weight: bold;
                        font-size: 10px;
                        line-height: 22px;
                        letter-spacing: 1px;
                        text-transform: uppercase;
                        color: rgba(255, 255, 255, 0.4);
                        mix-blend-mode: normal;

                        .availableEvntsDot {
                            min-width: 6px;
                            min-height: 6px;
                            margin-right: 6px;
                            background-color: #3570ff;
                            border-radius: 50%;
                        }
                    }

                    .availableEvntsAmount {
                        display: flex;
                        align-items: flex-start;
                        margin-left: 12px;

                        .availableEvntsTotal {
                            font-size: 20px;
                            line-height: 20px;
                            color: #ffffff;
                            margin-right: 8px;
                        }

                        .availableEvntsTitle {
                            font-size: 10px;
                            color: #ffffff;
                        }
                    }
                }

                .liquidFunds {
                    width: 100%;
                    display: flex;
                    flex-direction: column;

                    .liquidFundsHeadline {
                        display: flex;
                        align-items: center;
                        margin-bottom: 12px;
                        font-weight: bold;
                        font-size: 10px;
                        line-height: 22px;
                        letter-spacing: 1px;
                        text-transform: uppercase;
                        color: rgba(255, 255, 255, 0.4);
                        mix-blend-mode: normal;

                        .liquidFundsDot {
                            min-width: 6px;
                            min-height: 6px;
                            margin-right: 6px;
                            background-color: #efff54;
                            border-radius: 50%;
                        }
                    }

                    .liquidFundsAmount {
                        display: flex;
                        align-items: flex-start;
                        margin-left: 12px;

                        .liquidFundsTotal {
                            font-size: 20px;
                            line-height: 20px;
                            color: #ffffff;
                            margin-right: 8px;
                        }

                        .liquidFundsTitle {
                            font-size: 10px;
                            color: #ffffff;
                        }
                    }
                }
            }
        }
    }

    .profileStats {
        position: relative;
        width: 95%;
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        align-items: center;
        margin-bottom: 20px;
        border-radius: 6px;

        .profileStatItem {
            color: $colorWhite;
            width: 31%;
            height: 100px;
            border-radius: 4px;
            background-color: rgba(172, 196, 255, 0.1);
            padding: 12px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            .statItemHeading {
                font-size: 8px;
                opacity: 0.45;
                text-transform: uppercase;
                letter-spacing: 1.49px;
            }

            .statItemContent {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                font-size: 20px;
            }

            .goToIcon {
                width: 15px;
                padding: 0;
                margin: 0;
            }
        }



        .detailedFunds {
            width: 100%;
            display: flex;
            margin: 30px 0;

            @media (max-width: $screen-sm) {
                flex-direction: column;
            }

        }

        .goToWallet {
            width: 115px;
            display: flex;
            justify-content: space-between;
            border-bottom: 1px solid white;
            cursor: pointer;
            transition: transform 0.5s;

            &:hover {
                transform: scale(1.1);
            }

            .goToWalletText {
                width: 100px;
                font-size: 12px;
                line-height: 14px;
                color: #ffffff;
            }

            .goToWalletIcon {
                width: 15px;
                padding: 0;
                margin: 0;
            }
        }

        .fundsSeperator {
            width: 100%;
            height: 1px;
            background-color: #292744;
        }
    }

    .latestTradesContainer {
        width: 95%;
        display: flex;
        flex-direction: column;

        .latestTradesHeadline {
            width: 100%;
            display: flex;
            justify-content: space-between;

            .HeadlineLeft {
                font-size: 12px;
                letter-spacing: 1.212px;
                text-transform: uppercase;
                color: #ffffff;
                mix-blend-mode: normal;
                opacity: 0.4;
            }

            .HeadlineRight {
                font-size: 12px;
                color: #ffffff;
                border-bottom: 1px solid #ffffff;
                cursor: pointer;
                transition: transform 0.5s;

                &:hover {
                    transform: scale(1.1);
                }
            }
        }
    }

    .buttonContainer {
        width: 95%;
        display: flex;
        justify-content: flex-end;

        .logoutButton {
            display: flex;
            justify-content: center;
            align-items: center;
            min-width: 55px;
            min-height: 55px;
            background-color: white;
            border-radius: 50%;
            cursor: pointer;
            transition: transform 0.5s;

            &:hover {
                transform: scale(1.1);
            }
        }
    }


    .profileHeading {
        display: flex;
        margin: 0 0 50px;
        color: $colorWhite;
        font-size: 24px;
        padding-left: 30px;
        width: 95%;
    }

    .profileSubmit {
        width:100%;
        height: 55px;
        border-radius: 4px;
        line-height: 25px;
        font-size: 16px;
        margin-top: 50px;
        border: none;

        &:hover {
            cursor: pointer;
        }
    }

    .profileInputGroup {

        color: $colorWhite;

        .profileInputLabel {
            display: block;
            height: 12px;
            opacity: 0.3;
            line-height: 12px;
            font-size: 12px;
            margin: 14px 0;
        }

        .profileInput {
            border-radius: 4px;
            width: 100%;
            height: 60px;
            background-color: rgba(172, 196, 255, 0.1);
            margin-bottom: 24px;
            line-height: 24px;
            font-size: 16px;
            font-family: $fontRegular;
            border: none;
            color: $colorWhite;
            text-indent: 20px;

            &:focus {
                outline: none;
            }

        }
    }
    .profileContent {
        padding: 25px;
    }
}

.panel {
    transition: 0.5s ease-in-out;
    transition-property: transform, opacity;
    position: absolute;
    width: 100%;
    opacity: 1;
    height: calc(100vh - 90px);
    display: flex;
    flex-flow: column;
}
.firstPanel {
    &.panelHidden {
        transform: translateX(-110%);
    }
}
.panelHidden {
    opacity: 0;
    transform: translateX(110%);
}
