@import '../../styles/all';

.menuItem {
  display: flex;
  padding: 15px 25px;
  margin-bottom: 12px;
  align-items: center;
  background-color: $colorWhite;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.25s ease-in-out;
  border: 1px solid $colorGrayLight2;
  span:not(.arrowIcon):not(.itemLabel) {
    // first icon
    width: 24px;
    min-width: 24px;
    max-height: 18px;
    margin-right: 24px;
  }
}
.itemLabel {
  white-space: nowrap;
}
.arrowIcon {
  width: auto;
  margin-left: auto;
}
