@import '../../styles/all';

.link {
  display: inline-flex;
  align-items: center;
  padding-bottom: 20px;

  svg {
    margin-right: 10px;
  }

  h2 {
    color: $colorWhite;
    font-family: "PlusJakarta-Regular";
    font-size: 24px;
    font-weight: 700;
  }
}

.share {
  display: inline-block;
  margin-left: 10px;
}
