.alpacaBuilder {
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;

  .head{

    .backBtn{
      position:absolute;
      left:40px;
      z-index: 1;
    }

    .svg{
      margin: auto;
      width: 200px;
      height: 200px;
      //position:relative;

      image, use, svg, g{
        //position: absolute;
        // top:20px;
        // left:100px;
        // width: 200px;
        // height: 200px;
        //opacity: .5;
      }
    }
  }

  a{
    text-decoration: underline;
  }

  .viewsContainer{
    background-color: #F5FCFF;
    position: relative;
    flex:1;
  }

  .abView {
    position: absolute;
    top: 0;
    background-color: lightgray;
    height: 100vh;
    width: 100%;
    right: -500px;
    opacity: 0;

    .tiles{
      display: flex;
      flex-flow: row wrap;

      .tile{
        background-color: white;
        margin: 10px;
        height: 100px;
        width: calc( (100% / 3) - 20px );
        padding: 10px;

        svg{
          width: 100%;
          height: auto;

        }
      }
      .tileSelected{
        outline: 1px solid aquamarine;
      }
    }

    .colors{
      display: flex;
      overflow-x: auto;

      .color{
        background-color: white;
        margin: 10px;
        border-radius: 20px;
        border-width: 20px;
        border-style: solid;
        height: 0px;
        width: 0px;
        font-size:0px;
      }
      .colorSelected{
        outline: 1px solid aquamarine;
      }
    }

    .categoriesRow{
      display: flex;
      overflow-x: auto;

      .category{
        background-color: white;
        margin: 10px;
        border-radius: 50%;
        height: 50px;
        width: 50px;
        font-size:10px;
        text-align: center;
        line-height: 50px;
        text-decoration: none;
      }
      .categorySelected{
        outline: 1px solid aquamarine;
      }
    }
  }
  .showing{
    animation: movein 0.2s ease-out forwards;
  }
  .hiding{
    animation: moveout 0.2s ease-in forwards;
  }
  .active{
    right: 0;
    opacity: 1;
  }

}


@keyframes movein {
  0% {
    right: -500px;
    opacity: 0;
  }
  40% {
    opacity: 0;
  }
  100% {
    right: 0px;
    opacity: 1;
  }
}

@keyframes moveout {
  0% {
    right: 0px;
    opacity: 1;
  }

  80% {
    opacity: 0;
  }
  100% {
    right: -500px;
  }
}
