$separatorColor: #f5f5f5;
$toolbarBtnColor: white;
$toolbarBtnBg: #e82e89;
$selectedBorderColor: #e82e89;
$selectedBg: white;
$unselectedBorderColor: #f5f5f5;
$unselectedBg: #f5f5f5;

$largeScreen: 600px;
