// Place in this file the style that is specific for the alpaca frontend app

@import '../../styles/all';

.alpacaBuilder {
  color: $colorPrimary;

  .toolbar {
    .secondaryAction {
      height: 48px;
      padding: 0 24px;
    }
  }
}
