@import '../../styles/all';

.navbarItem {
  color: $colorBlack;
  text-decoration: none;
  margin: 0 15px;
  font-family: $fontRegular;
  font-size: 12px;
  position: relative;
  height: 100%;
  display: flex;

  @media (max-width: $screen-xs) {
    margin: 0;
  }

  &Active {
    &:after {
      content: '';
      position: absolute;
      background: url('../../data/backgrounds/highlight-settings-change-mail-address.svg');
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      left: -2%;
      top: -27%;
      width: 80px;
      height: 110px;
      z-index: -1;
    }
  }

  &Action {
    cursor: pointer;
  }

  .navbarLink {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: -10px;
    text-align: center;
    min-width: 70px;

    & span > svg {
      margin-bottom: 0px;
      width: 25px;
      height: 25px;
      fill: $colorWhite;

      @media (max-width: $screen-xs) {
        width: 27px;
        height: 27px;
        padding: 3px 2px;
      }
    }
  }
}
