@import '../../styles/all';

.input {
  min-width: 100px !important;
  flex: 1;
  margin-right: 20px;
  border: none;
  font-family: $fontOmnes;
  font-size: 16px;
  line-height: 24px;
  color: $colorPrimary;
  background-color: transparent;
  &:focus {
    outline: none;
  }

  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}
