@import '../../styles/all';

.input
{
    min-width:        100px !important;
    flex:             1;
    margin-right:     20px;
    border:           none;
    font-family:      $fontRegular;
    font-size:        16px;
    line-height:      24px;
    color:            $colorPrimary;
    background-color: $colorGrayLight;

    &:focus
    {
        outline: none;
    }
}