@import '../../styles/all';

.legalText
{
    margin: 0 30px;

    strong
    {
        display:     block;
        font-family: $fontBold;
        margin:      25px 0 20px;

        &:first-child
        {
            margin-top: 0;
        }
    }
}