@import '../../styles/all';

.authenticationLegalAuthorizationAgreementCheckBox {
  align-self: flex-start;

  .authenticationLegalAuthorizationAgreementText {
    flex: 1;
    font-size: 15px;
    color: $colorPrimary;

    @media (max-width: $screen-sm) {
      font-size: 12px;
    }
  }
}
