@import '../../styles/all';

.tokenNumberInputContainer {
  display: flex;
  width: 100%;
  align-items: center;
  padding: 10.5px;
  height: 45px;
  margin-bottom: 24px;
  border-radius: 10px;
  border: 1.2px solid rgba(14, 9, 39, 0.3);
  background: none;
  justify-content: flex-end;

  @media (min-width: $screen-lg) {
    padding: 1rem 1rem;
  }

  .input {
    flex: none;
    text-align: right;
    background-color: transparent;
    border: none;
    outline: none !important;
    margin-right: 9px;
    min-width: 10px !important;
    width: 6ch;
    font-family: $fontBold;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 24px;

    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }

    -moz-appearance: textfield;
  }

  .eventTokenLabel {
    color: #000;
    font-family: $fontRegular;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: left;
  }

  .buttonWrapper {
    margin-left: 0px;
    @media (min-width: $screen-lg) {
      margin-left: 30px;
    }
    :first-child {
      font-size: 14px;
    }

    :nth-child(2) {
      font-size: 14px;
    }

    :last-child {
      font-size: 14px;
    }
    .button {
      margin-left: 12px;
      font-family: $fontRegular;
      cursor: pointer;
    }
  }
}

.tokenNumberErrorHint {
  margin-top: 10px;
}
