@import '../../styles/all';

.tokenNumberInputContainer
{
    display:          flex;
    width:            100%;
    align-items:      center;
    padding:          10.5px;
    height:           45px;
    border-radius:    10px;
    border:           1.2px solid rgba(14, 9, 39, 0.3);
    background:       none;
    justify-content:  center;

    @media (min-width: $screen-lg)
    {
        padding: 1rem 4rem;
    }

    .input
    {
        flex:             none;
        text-align:       right;
        background-color: transparent;
        border:           none;
        outline:          none !important;
        margin-right:     9px;
        min-width:        10px !important;
        width:            6ch;
        font-family:      $fontBold;
        font-style:       normal;
        font-weight:      bold;
        font-size:        24px;
        line-height:      24px;

        &::-webkit-inner-spin-button
        {
            -webkit-appearance: none;
            margin:             0;
        }

        -moz-appearance:  textfield;
    }

    .eventTokenLabel
    {
        color:          $colorGrayLight1;
        font-family:    $fontRegular;
        font-size:      20px;
        font-style:     normal;
        font-weight:    400;
        line-height:    24px;
        letter-spacing: 0px;
        text-align:     left;

    }
}

.tokenNumberErrorHint
{
    margin-top: 10px;
}