@import '../../styles/all';

.tokenNumberInputContainer {
  display: flex;
  width: 100%;
  align-items: center;
  padding: 10.5px;
  height: 45px;
  margin-bottom: 24px;
  border-radius: 10px;
  border: 1.2px solid $colorLightGray4;
  background: $colorPrimary;
  justify-content: flex-end;

  @media (min-width: $screen-lg) {
    padding: 1rem 1rem;
  }

  .input {
    flex: none;
    text-align: right;
    background-color: transparent;
    border: none;
    outline: none !important;
    margin-right: 9px;
    min-width: 10px !important;
    width: 6ch;
    color: $colorLightYellow;
    font-family: $fontOmnes;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 24px;

    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }

    -moz-appearance: textfield;
  }

  .eventTokenLabel {
    color: $colorWhite;
    font-family: $fontOmnes;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: left;
  }

  .buttonWrapper {
    margin-left: 0px;
    color: $colorWhite;

    .button:hover {
      background: #e72d8910;
    }

    @media (min-width: $screen-lg) {
      margin-left: 30px;
    }

    :first-child {
      font-size: 14px;
    }

    :nth-child(2) {
      font-size: 14px;
    }

    :last-child {
      font-size: 14px;
    }

    .button {
      margin-left: 4px;
      font-family: $fontOmnes;
      cursor: pointer;
      border-radius: 5px;
      padding: 4px;
    }
  }
}

.tokenNumberErrorHint {
  margin-top: 10px;
}
