@import '../../styles/all';

.popupContent {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 35px;
  background-color: rgba(0,0,0,0.3);
  border-radius: 12px;
  width: 100%;

  .logo {
    height: 60px;
  }

  .title {
    position: relative;
    font-family: $fontOmnes;
    font-size: 20px;
    margin-top: 20px;
  }
}

.subtitle {
  font-family: $fontOmnes;
  font-size: 14px;
  padding-top: 5px;
}

.separator {
  margin: 10px auto;
  height: 1px;
  width: 160px;
  background-color: $colorGrayLight1;
  border-radius: 100%;
}

.button {
  box-shadow:inset 0px 1px 0px 0px #fff6af;
  background:linear-gradient(to bottom, #ffec64 5%, #ffab23 100%);
  background-color:#ffec64;
  border-radius:6px;
  border:1px solid #ffaa22;
  display:inline-block;
  cursor:pointer;
  color:#333333;
  font-size:15px;
  font-weight:bold;
  padding:12px 24px;
  text-decoration:none;
  text-shadow:0px 1px 0px #ffee66;
  width: 200px;
}

.button:active {
  position:relative;
  top:1px;
}

.buttonFunPlay {
  box-shadow:inset 0px 1px 0px 0px #fff6af;
  background:linear-gradient(to bottom, #ffec64 5%, #ffab23 100%);
  background-color:#ffec64;
  border:1px solid #ffaa22;
  text-shadow:0px 1px 0px #ffee66;
}
.buttonFunPlay:hover {
  background:linear-gradient(to bottom, #ffab23 5%, #ffec64 100%);
  background-color:#ffab23;
}

.buttonRealPlay {
  box-shadow:inset 0px 1px 0px 0px #caefab;
  background:linear-gradient(to bottom, #77d42a 5%, #5cb811 100%);
  background-color:#77d42a;
  border:1px solid #268a16;
  text-shadow:0px 1px 0px #aade7c;
}
.buttonRealPlay:hover {
  background:linear-gradient(to bottom, #5cb811 5%, #77d42a 100%);
  background-color:#5cb811;
}

.content {
  width: 100%;
  //width: 600px;
  font-size: 15px;
  text-align: center;

  @media (max-width: $screen-md) {
    width: 100%;
  }
}
