@import '../../styles/all';

.chartContainer {
  background-color: rgba(34, 35, 62, 1);
  border-radius: 10px;
  padding: 10px 20px;
  position: relative;
  height: 300px;
}
.labelContainer {
  position: absolute;
  top: 15px;
  left: 20px;
  font-family: $fontDMSans;
  font-size: 16px;
  font-weight: 500;
  color: $colorWhite;
}
.filters {
  position: absolute;
  top: 15px;
  right: 20px;

  @media (max-width: $screen-sm) {
    top: 4px;
  }
}

.filterButton {
  display: inline-flex;
  background-color: rgba(255, 255, 255, 0.07);
  height: 26px;
  width: 30px;
  font-size: 10px;
  line-height: 1.3;
  justify-content: center;
  align-items: center;
  color: white;

  &:not(:last-child) {
    margin-right: 10px;
  }

  &.active {
    border: 1px solid rgba(255, 255, 255, 0.2);
  }
}
