@import '../../styles/all';

.container {
  width: 100%;
  margin: 0 auto;
  max-width: 1300px;
  background: rgba($colorPrimary, 0.7);
  border-radius: 12px;
  padding: 50px;
  // margin-top: 70vh;
  position: relative;

  // @media (max-width: $screen-sm) {
  //   margin-top: calc(55vh - 20px);
  // }
  // @media (max-width: $screen-xs) {
  //   margin-top: calc(65vh - 20px);
  // }
  // @media (max-width: 375px) {
  //   margin-top: calc(65vh - 40px);
  // }
  // @media (max-width: 320px) {
  //   margin-top: calc(70vh - 20px);
  // }

  @media (max-width: $screen-sm) {
    padding: 0 20px;
  }

  /* ACTIVITY TRACKER */
  .activities {
    margin-top: 40px;
    .title {
      display: flex;
      align-items: center;
      color: $colorWhite;

      h2 {
        color: $colorWhite;
        font-size: 33px;

        @media (max-width: $screen-xs) {
          font-size: 28px;
        }
      }

      img {
        margin-right: 30px;
      }
    }
  }
}

.searchContainer {
  width: 100%;
  margin: 0 auto;
  margin-bottom: 20px;
  padding-top: 40px;
  display: flex;
  flex-direction: column;

  .searchWrapper {
    margin: 0 auto;
    display: flex;
    max-width: 500px;
    gap: 10px;
    margin-bottom: 15px;
    @media (max-width: $screen-xs) {
      width: 100%;
    }
  }

  @media (max-width: $screen-xs) {
    margin-top: 20px;
  }

  .search,
  .searchMobile {
    border-radius: 30px;
    border: 2px solid $colorWhite50;
    height: 40px;
    display: flex;
    justify-content: center;
    background: $colorPrimary;

    &.searchMobile {
      margin-bottom: 10px;
      @media (min-width: $screen-xs) {
        display: none;
      }
    }

    &.search {
      @media (max-width: $screen-xs) {
        width: 100%;
      }
    }

    & svg {
      margin: 3px 10px;
      width: 34px;
      height: 30px;
      opacity: 0.5;
    }

    input {
      // padding-left: 20px;
      background: transparent;
      width: 90%;
      border: none;
      color: $colorWhite;
      font-family: $fontOmnes;
      font-weight: 600;
      font-size: 20px;
      line-height: 20px;
      text-align: left;
      padding-right: 10px;

      &::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }

      -moz-appearance: textfield;
      &:focus {
        outline: none;
      }
      &::placeholder {
        color: $colorWhite30;
      }
    }
  }

  .categoryGrid {
    width: 100%;
    display: grid;
    grid-template-columns: 150px repeat(auto-fit, minmax(120px, 5fr));

    gap: 5px;

    @media (max-width: $screen-xs) {
      grid-template-columns: repeat(auto-fit, minmax(120px, 2fr));
    }
  }

  .searchButton {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color: $colorPrimary;
    border: 2px solid $colorButton;
    box-sizing: border-box;
    border-radius: 30px;
    cursor: pointer;
    user-select: none;
    // width: 50px;
    height: 40px;
    color: $colorWhite;

    color: $colorWhite;
    background-color: $colorPrimary;
    border: 2px solid $colorButton;
    box-sizing: border-box;
    border-radius: 30px;
    cursor: pointer;
    user-select: none;
    font-weight: 600;

    & svg {
      margin: 2px 12px 2px 10px;
      width: 30px;
      height: 30px;
    }

    @media (max-width: $screen-xs) {
      display: none;
    }
  }

  .searchItem {
    font-family: $fontOmnes;
    font-weight: 600;
    font-size: 18px;
    line-height: 20px;
    // min-width: 155px;
    height: 40px;

    text-align: center;
    color: $colorWhite;
    padding: 8px 10px;
    background-color: $colorPrimary;
    border: 2px solid $colorButton;
    box-sizing: border-box;
    border-radius: 30px;
    cursor: pointer;
    user-select: none;
    white-space: nowrap;

    &:hover {
      font-weight: 700;
    }

    &.active {
      background-color: $colorButton;
      // border: 2px solid $colorButton;
      font-weight: 700;
      color: $colorBlack;
    }

    &.selectAllDesktop {
      @media (max-width: $screen-xs) {
        display: none;
      }
    }

    &.selectAllMobile {
      display: none;
      @media (max-width: $screen-xs) {
        display: block;
      }
    }

    @media (max-width: $screen-md) {
      font-size: 14px;
      padding: 8px;
      // min-width: 100px;
      // min-width: 158px;
    }

    @media (max-width: $screen-xs) {
      font-size: 14px;
      padding: 8px;
      // min-width: 120px;
    }
  }
}

// GAMES STYLING
@import '../../styles/all';

.gamesContainer {
  padding: 0;

  @media (max-width: $screen-xs) {
    padding: 0;
  }

  .title {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;

    h2 {
      color: $colorHeading;
      font-weight: 800;
      font-size: 50px;
      line-height: 20px;
      font-family: $fontOmnes;
      @media (max-width: $screen-xs) {
        font-size: 28px;
      }
    }

    p {
      margin-top: 10px;
      margin-bottom: 20px;
      font-family: $fontOmnes;
      font-weight: 800;
      font-size: 22px;
      line-height: 2;
      color: $colorWhite;
    }

    img {
      margin-right: 5px;
    }
  }
}

.gamesCategorySelected {
  margin-bottom: 30px;
}

.gamesCategory {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: $colorBlack;
  font-family: $fontOmnes;
  font-size: 24px;
  font-weight: 700;
  padding-bottom: 20px;
  margin-top: 40px;

  @media (max-width: $screen-lg) {
    padding: 20px;
  }

  h2 {
    color: $colorWhite;
    font-weight: 600;
    font-size: 30px;
    line-height: 20px;
    font-family: $fontOmnes;
    @media (max-width: $screen-xs) {
      font-size: 28px;
    }
  }

  .howtoLink {
    cursor: pointer;
    font-size: 11px;
    font-family: $fontOmnes;
    text-decoration: underline;
    color: $colorYellow;

    @media (max-width: $screen-xs) {
      display: none;
      margin: 0;
      width: 100%;
      padding: 0 15px 15px;
    }
  }

  .questionIcon {
    cursor: pointer;
    display: none;

    svg {
      g,
      path,
      circle {
        fill: $colorYellow;
      }
    }

    @media (max-width: $screen-xs) {
      display: block;
    }
  }
}

.gameSpace {
  justify-content: space-between;
}

.games {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  gap: 18px;

  @media (max-width: $screen-lg) {
    padding: 0;
  }

  @media (max-width: $screen-sm) {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(calc(33% - 5px), 1fr));
  }

  .wrapper {
    position: relative;
    height: 148px;
    overflow: hidden;
    border-radius: 20px;
    width: 185px;
    display: flex;
    justify-content: center;
    align-items: center;

    @media (max-width: $screen-sm) {
      width: 40vw;
      height: 30vw;
      margin: 0 auto;
    }

    .gameItem {
      height: 100%;

      display: flex;
      justify-content: center;

      // @media (max-width: $screen-md) {
      //   height: auto;
      // }
      &:hover {
        .title {
          display: block !important;
        }
        &::before {
          content: '';
          z-index: 2;
          position: absolute;
          bottom: 0;
          right: 0;
          height: 100%;
          left: 0;
          width: 100%;
          background: linear-gradient(
            180deg,
            hsla(0, 0%, 100%, 0),
            #00000060 75%
          );
        }
      }
      img {
        width: 100%;
        height: fit-content;
      }
      .title {
        z-index: 3;
        display: none;
        padding: 10px;
        color: white;
        position: absolute;
        bottom: 0;
        width: 100%;
        text-align: center;
        font-weight: bold;
      }

      &.gameItemLg {
        .gameInfo {
          .title {
            @media (max-width: $screen-md) {
              font-size: 16px;
            }
          }

          .subtitle {
            @media (max-width: $screen-md) {
              font-size: 12px;
            }
          }

          .description {
            @media (max-width: $screen-md) {
              font-size: 14px;
            }
          }
        }

        .inactivePlaceholder {
          @media (max-width: $screen-md) {
            min-width: 150px;
            min-height: 45px;
            font-size: 14px;
          }
        }
      }

      &.gameItemMd,
      &.gameItemSm {
        .inactivePlaceholder {
          min-width: 150px;
          min-height: 45px;
          font-size: 32px;
        }
      }

      &.gameItemMd {
        .gameInfo {
          .title {
            @media (max-width: $screen-md) {
              font-size: 26px;
            }
          }
        }
      }

      &.gameItemSm {
        .gameInfo {
          .title {
            font-size: 26px;
          }
        }

        .inactivePlaceholder {
          @media (max-width: $screen-md) {
            min-width: 250px;
            min-height: 70px;
            font-size: 18px;
          }
        }
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 20px;
        // @media (max-width: $screen-md) {
        //   width: 100%;
        //   height: auto;
        // }
      }

      .gameInfo {
        position: absolute;
        bottom: 0;
        left: 0;
        color: $colorWhite;
        font-family: $fontOmnes;
        padding: 30px;

        .title {
          font-size: 36px;
          font-weight: 700;
          padding: 10px 0;
          line-height: 1;
        }

        .subtitle {
          font-size: 14px;
          opacity: 0.7;
        }

        .description {
          font-size: 16px;
          opacity: 0.7;
          min-height: 60px;
        }
      }

      .inactivePlaceholder {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 24px;
        font-family: $fontOmnes;
        color: #f2ff53;
        text-align: center;
        font-weight: 700;
      }
    }

    .gameLink {
      text-decoration: none;

      &.gameLinkInactive {
        cursor: not-allowed;
      }
    }
  }
}

.discordBanner {
  width: 100%;
  height: 130px;
  margin-top: 40px;
  margin-bottom: 40px;
  @media (max-width: $screen-sm) {
    display: none;
  }
  &.withPadding {
    margin-top: 40px;
  }

  .backgroundWrapper {
    position: absolute;
    height: 100px;
    left: 0;
    right: 0;
    background: #f7a800;
    display: flex;

    .bodyContainer {
      position: relative;
      width: 100%;
      display: flex;
      align-items: center;
      font-weight: 600;
      font-size: 36px;
      color: $colorBlack;

      @media (max-width: 1366px) {
        font-size: 32px;
      }

      p {
        // margin-left: 20px;
        padding: 0 30px 0 20px;

        @media (max-width: $screen-md) {
          font-size: 26px;
        }

        a {
          text-decoration: underline;
        }
      }
      .closeButton {
        position: absolute;
        right: 10px;
        top: 10px;
        cursor: pointer;
      }
    }
    .whiteWrapper {
      max-width: 500px;
      position: relative;
      margin-right: 50px;
      margin-top: 0px;

      &:after {
        content: '';
        position: absolute;
        right: -60px;
        top: 0;
        width: 0;
        height: 0;
        border-top: 0px solid transparent;
        border-left: 60px solid #fff;
        border-bottom: 127px solid transparent;

        @media (max-width: $screen-sm) {
          border: none;
        }
      }

      .whiteContainer {
        background: white;
        padding: 6px 30px;
        box-shadow: 0px 5px 4px rgba(0, 0, 0, 0.25);
        display: flex;
        align-items: center;
        svg {
          width: 300px;
          height: 110px;
        }
      }
    }
  }
}

.aboutDescritpion {
  position: relative;
  margin: 80px auto 80px;
  padding: 300px 0;
  background: url('../../data/images/home/about-background.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  @media (max-width: $screen-lg) {
    margin-bottom: 140px;
  }
  @media (max-width: $screen-xs) {
    margin-bottom: 180px;
    padding: 300px 0 0;
  }
  .topImage {
    position: absolute;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
  }
  .parentContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    .descriptionCardContainer {
      position: relative;
      width: 320px;
      display: flex;
      justify-content: center;
      align-items: center;

      background: linear-gradient(180deg, #ffffff 0%, #f1dbd2 51.56%);
      border-radius: 20px;
      padding: 10px;
      position: relative;

      .aboutFirst {
        position: absolute;
        top: -59px;
        left: 130px;
        width: 130px;
      }

      .aboutTopAlpaca {
        position: absolute;
        bottom: 281px;
        left: 65px;
        width: 250px;

        z-index: -1;
      }
      .aboutSecond {
        position: absolute;
        top: -35px;
        left: 130px;
        width: 110px;
      }
      .aboutThird {
        position: absolute;
        top: -123px;
        left: 120px;
        width: 116px;

        z-index: -1;
      }

      .descriptionCard {
        width: 100%;
        border: 3px solid #fbb2a5;
        box-sizing: border-box;
        border-radius: 20px;

        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 10px;
        height: 300px;

        h1 {
          margin: 20px 0px;
          font-family: $fontOmnes;
          font-weight: 600;
          font-size: 30px;
          line-height: 20px;
          /* identical to box height, or 67% */

          text-align: center;
        }
        p {
          margin-bottom: 20px;
          font-family: $fontOmnes;
          font-weight: 600;
          font-size: 16px;
          line-height: 20px;

          text-align: center;
        }
      }
      .thumbnail {
        position: absolute;
        bottom: calc(100% - 50px);
        left: 50%;
        transform: translateX(-50%);
      }
      .thumbnailBack {
        position: absolute;
        bottom: calc(100% - 50px);
        left: 50%;
        transform: translateX(-50%);
        z-index: -1;
      }
    }
  }
}
