@import '../../styles/all';

.placeholderContainer {
  height: 520px;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: $radius;
  overflow: hidden;

  > img {
    filter: blur(6px);
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
