@import '../../styles/all';

.wrapper {
  height: 570px;

  @media (max-width: $screen-lg) {
    height: 620px;
  }

  @media (max-width: $screen-md) {
    height: auto;
  }

  @media (max-width: $screen-md) {
    margin-left: -15px;
    margin-right: -15px;
  }
}

.container {
  display: flex;
  background: #f7a800;
  position: absolute;
  left: 0;
  width: 100%;
  height: 570px;
  margin-top: 85px;
  padding-bottom: 20px;

  @media (max-width: $screen-lg) {
    height: 620px;
  }

  @media (max-width: $screen-md) {
    height: auto;
    position: relative;
    padding-bottom: 40px;
  }

  .leftContainer {
    flex: 0.6;
    padding-left: 10%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: -85px;

    @media (max-width: $screen-xl) {
      padding-left: 4%;
    }

    @media (max-width: $screen-md) {
      display: none;
    }

    img {
      object-fit: contain;

      @media (max-width: $screen-xl) {
        width: 250px;
      }

      @media (max-width: $screen-lg) {
        width: 180px;

        &:first-child {
          margin-right: 20px;
        }
      }

      &:first-child {
        margin-right: 50px;
      }
    }
  }

  .rightContainer {
    flex: 1;

    .whiteWrapper {
      max-width: 500px;
      position: relative;
      margin-right: 50px;
      margin-top: -20px;

      @media (max-width: $screen-sm) {
        max-width: 100%;
        width: 100%;
      }

      &:after {
        content: '';
        position: absolute;
        right: -50px;
        top: 0;
        width: 0;
        height: 0;
        border-top: 0px solid transparent;
        border-left: 50px solid #fff;
        border-bottom: 82px solid transparent;

        @media (max-width: $screen-sm) {
          border: none;
        }
      }

      .whiteContainer {
        background: white;
        padding: 0px 50px;
        font-size: 40px;
        font-family: $fontOmnes;
        font-weight: 600;
        box-shadow: 0px 5px 4px rgba(0, 0, 0, 0.25);
        display: flex;
        justify-content: space-between;
        align-items: center;

        .nft {
          font-size: 60px;
          font-weight: 700;
          margin-left: 20px;
        }
      }
    }

    .content {
      margin-top: 50px;
      margin-left: 85px;
      max-width: 900px;
      margin-right: 20px;
      font-family: $fontOmnes;

      @media (max-width: $screen-sm) {
        margin-left: 20px;
      }

      h2 {
        font-size: 40px;
        font-weight: 700;
        text-align: center;
        margin-bottom: 35px;
      }

      p {
        font-size: 30px;
        font-weight: 700;
      }

      .buttonWrapper {
        display: flex;
        justify-content: center;
        margin-top: 35px;

        button {
          border: none;
          border-radius: 25px;
          background: #070C31;
          color: #f7a800;
          font-size: 20px;
          font-weight: 600;
          width: 240px;
          padding: 6px;
        }
      }
    }
  }
}