@import '../../../styles/all';

.header {
  text-align: center;
  margin: 50px auto;

  .socialIcons {
    margin-bottom: 40px;
    @media (max-width: $screen-sm) {
      margin-bottom: 28px;
      padding: 0px;
    }
  }

  @media (max-width: $screen-sm) {
    margin-top: 0px;
  }
}

.subHeading {
  color: $colorWhite;
  opacity: 0.6;
  text-transform: uppercase;
  margin-bottom: 20px;

  @media (max-width: $screen-sm) {
    margin-bottom: 10px;
  }
}

.mainHeading {
  color: $colorWhite;
  font-family: $fontDMSans;
  font-size: 46px;
  font-weight: bold;
  line-height: 1.13;
  letter-spacing: 1px;

  @media (max-width: $screen-md) {
    font-size: 38px;
  }
}

div.slogan {
  color: $colorWhite;
  padding: 12px 0;
  font-size: 25px;
  font-family: $fontDMSans;
  font-weight: bold;
  margin-bottom: 30px;

  span {
    font-family: $fontDMSans;
    font-weight: bold;
    color: $colorYellowLight;
  }

  @media (max-width: $screen-md) {
    font-size: 24px;
    padding: 12px 15px;
    margin-bottom: 15px;
  }
}

div.howdoesitwork {
  color: $colorWhite;
  padding: 12px 0;
  font-size: 36px;
  font-family: $fontDMSans;
  margin: 60px 0;

  @media (max-width: $screen-md) {
    margin: 40px 0;
  }
}

.video {
  max-width: 792px;
  height: auto;
  margin: 0 auto;
}
