@import '../../styles/all';

.transferButton {
  display: block;
  margin: 0 auto 15px;
  width: 100%;
  max-width: 460px;
  height: 60px;
  border-radius: 10px;
  font-size: 18px;
  font-family: $fontBold;
  cursor: pointer;
  background: transparent;
  border: 2px solid #282f47;
  color: $colorWhite;
  display: flex;
  align-items: center;
  justify-content: center;

  img {
    margin-right: 10px;
  }
}
