@import '../../styles/all';

.gameDetails {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 35px;

  .logo {
    height: 60px;
  }

  .title {
    font-family: $fontBold;
    font-size: 20px;
    margin-top: 20px;
  }

  .subtitle {
    font-family: $fontRegular;
    font-size: 14px;
    padding-top: 5px;
  }

  .separator {
    margin: 5px 0 15px;
    height: 1px;
    width: 160px;
    background-color: $colorGrayLight1;
    border-radius: 100%;
  }

  .content {
    width: 80%;
    font-size: 15px;

    & > div {
      margin-bottom: 4px;

      &:last-child {
        margin-bottom: 0;
      }
    }

    @media (max-width: $screen-xs) {
      width: 100%;
    }
  }

  .sendButton {
    font-size: 14px;
    margin-top: 40px;
  }
}
.textarea {
  background-color: $colorWhite;
  border-color: $colorPrimary10;
  color: $colorPrimary50;
}
