@import '../../styles/all';

.chatContainer
{
    display:        flex;
    flex-direction: column;
    padding-top:    1rem;
    height:         40vh;
    position:       relative;
    margin-top:     -20vh;

    @media (max-width: $screen-md)
    {
        padding-top: 0;
        margin-top: 0;
    }

    .messageContainer
    {
        display:        flex;
        flex-direction: column;
        align-items:    flex-start;
        flex-flow:      column nowrap;
        overflow-y:     scroll;
        margin-bottom:  1rem;
        position:       relative;

        @media (min-width: $screen-md)
        {
            margin-top: auto;
        }

        &::-webkit-scrollbar
        {
            width:      0;
            background: transparent;
        }

        > :first-child
        {
            margin-top: auto;
        }
    }

    .messageInput
    {
        background-color: $colorWhite;
        color:            $colorPrimaryDark;
        display:          flex;
        justify-content:  center;
        align-items:      center;
        padding:          1rem 1rem 1rem 3rem;
        border-radius:    10px;

        &.disabled {
            pointer-events: none;
            opacity: 0.8;
        }

        input
        {
            border:    none;
            width:     100%;
            display:   inline-block;
            font-size: 16px;
        }

        button
        {
            display:          inline-block;
            opacity:          0.5;
            background-color: transparent;
            border:           none;
            font-size:        16px;
            cursor:           pointer;
        }
    }
}