@import '../../../styles/all';

.title {
  display: flex;
  align-items: center;
  column-gap: 10px;
  font-size: 30px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.02;
  letter-spacing: 0.75px;
  color: white;

  margin: 32px auto 0;
  width: 80%;

  .questionIcon {
    svg {
      g,
      path,
      circle {
        fill: $colorYellow;
      }
    }
  }

  @media (max-width: $screen-sm) {
    margin: 0;
    width: 100%;
    padding: 0 15px 15px;
  }
}
.header {
  color: white;
  width: 80%;
  margin: 32px auto 0;

  @media (min-width: $screen-lg) {
    display: flex;
    align-items: flex-end;
  }

  @media (max-width: $screen-sm) {
    margin: 0;
    width: 100%;
    padding: 15px;
  }
}

.categories {
}

.search {
  margin-top: 20px;

  @media (min-width: $screen-lg) {
    width: 220px;
    margin-left: auto;
    padding-left: 10px;
  }
}
.sort {
  margin-top: 20px;

  @media (min-width: $screen-lg) {
    width: 240px;
    margin-left: 10px;
    padding-left: 10px;
  }
}

.main {
  color: white;
  width: 80%;
  margin: 32px auto 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  @media (max-width: $screen-sm) {
    margin: 0;
    padding: 0 15px;
    width: 100%;
  }

  @media (max-width: $screen-xs) {
    flex-direction: column;
    flex-wrap: nowrap;
  }

  > * {
    margin-bottom: 10px;
  }

  > a {
    text-decoration: none;

    @media (max-width: $screen-xs) {
      width: 100%;
    }
  }
}

.newEventLink {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  color: $colorWhite;
  cursor: pointer;
  width: 100%;
  max-width: 300px;
  height: 200px;
  margin-right: 20px;
  border: 1px solid $colorWhite30;
  background-color: rgba(172, 196, 255, 0.12);
  border-radius: 6px;

  span {
    transition: opacity 0.2s ease-in-out;
    opacity: 0.5;
  }
  &:hover span {
    opacity: 0.8;
  }

  .newEventIcon {
    margin-bottom: 10px;
  }

  svg {
    g,
    path,
    circle {
      stroke: $colorWhite;
      fill: transparent;
    }

    // special handling for add-yellow icon
    path {
      display: none;
      &:first-child {
        display: block;
      }
    }
  }
}

.hideMobile {
  display: none;

  @media (min-width: $screen-lg) {
    display: block;
  }
}
