@import '../../styles/all';

.button {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  height: 60px;
  background: linear-gradient(180deg, #feea89 0%, #ffd401 100%);
  border: 3px solid #ffbb31;
  box-sizing: border-box;
  box-shadow: 0px 3px 4px #b67e0b;
  border-radius: 60px;
  color: $colorPrimary;
  font-size: 20px;
  font-weight: 600;
  font-family: $fontOmnes;
  letter-spacing: 0;
  user-select: none;

  &:hover {
    cursor: pointer;
  }

  &.buttonFixed {
    position: fixed;
    bottom: 0;
  }

  &.withoutBackground {
    background-color: transparent;
  }

  &.disabled {
    cursor: default;
  }

  &.authenticationScreenButton {
    padding: 0 2rem;
    width: 100%;
    border-radius: 0;
  }

  &.welcomeScreenButton {
    width: 100%;
    margin-top: auto;

    @media (min-width: $screen-sm) {
      display: none;
    }
  }

  .buttonInnerBackground {
    position: absolute;
    background: #ffd401;
    border: 2px solid #ffbb31;
    box-sizing: border-box;
    border-radius: 60px;
    left: 4%;
    right: 4%;
    top: 16%;
    bottom: 16%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .buttonDisabledOverlay {
    position: absolute;
    background: #ffd401;
    border-radius: 10px;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: not-allowed !important;
  }

  > * {
    &:not(.buttonDisabledOverlay):not(.highlight) {
      z-index: 1;
    }
  }
  .buttonText {
    &:not(.buttonDisabledOverlay):not(.highlight) {
      z-index: 2;
    }
  }
}
