@import '../../styles/all';

.contentContainer
{
    padding: 40px 20px;

    .openBetsContainer,
    .betHistoryContainer
    {
        .betSummaryContainerWrapper
        {
            margin-bottom: 30px;

            &:last-child
            {
                margin-bottom: 0;
            }
        }
    }
}