@import '../../styles/all';

.switchableViewContainer
{
    color: $colorWhite;
}

.contentContainer
{
    padding: 40px 20px;

    .openBetsContainer,
    .betHistoryContainer
    {
        .betSummaryContainerWrapper
        {
            margin-bottom: 30px;
            cursor:        pointer;

            &:last-child
            {
                margin-bottom: 0;
            }

            .betSummaryContainer
            {
                width: 420px;
            }
        }
    }
}