@import '../../styles/all';

.betCardContainer {
  position: relative;
  border-radius: 12px;
  width: 300px;
  height: 220px;
  overflow: hidden;

  .picture {
    background: $colorLightPurple12;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    z-index: 0;
    position: absolute;
  }

  .overlay {
    mix-blend-mode: multiply;
    background: linear-gradient(
      to bottom,
      rgba(31, 32, 79, 0.5) 0%,
      rgba(25, 20, 52, 0.91) 70%,
      rgba(18, 14, 39, 1) 100%
    );
  }

  .timerContainer {
    background: $colorLightPurple12;
    width: 100%;
    z-index: 3;
    position: absolute;
    bottom: 0;
    left: 0;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    .contentWrapper {
      display: flex;
      align-items: flex-end;
      padding-right: 10px;
      color: $colorWhite;
      font-family: $fontDMSans;

      .timerLabel {
        font-size: 12px;
        padding-right: 10px;
      }

      .timerValue {
        font-size: 13px;
        line-height: 15px;
        font-family: $fontDMSans;
        font-weight: 700;
        padding-right: 2px;
      }

      .timerUnit {
        font-size: 10px;
        color: $colorWhite30;
        padding-right: 10px;
      }

      &.smallTimer {
        padding-right: 0px;
        .timerLabel {
          font-size: 10px;
          padding-right: 8px;
        }

        .timerValue {
          font-size: 12px;
          line-height: 14px;
          font-family: $fontDMSans;
          font-weight: 700;
          padding-right: 2px;
        }

        .timerUnit {
          font-size: 10px;
          color: $colorWhite30;
          padding-right: 10px;
        }
      }
    }
  }

  .betCard {
    position: relative;
    padding: 0;
    font-family: $fontLight;
    color: $colorWhite;
    display: flex;
    z-index: 2;
    flex-direction: column;
    user-select: none;
    cursor: pointer;
    height: 100%;
    padding: 20px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .badgeContainer {
      display: flex;
      column-gap: 8px;

      .liveBadge {
        width: 52px;
      }

      .hotBadge {
        width: fit-content;
      }
    }

    .titleContainer {
      display: flex;
      flex-direction: column;
      padding-bottom: 30px;
      .tags {
        & span {
          color: $colorWhite30;
          font-size: 10px;
          padding-right: 5px;
        }
      }

      .title {
        font-family: $fontDMSans;
        font-weight: bold;
        font-size: 15px;
      }
    }
  }
}
