@import '../../styles/all';

.betCardContainer
{
    width:        360px;
    margin-right: 20px;

    .betCard
    {
        width:           100%;
        margin-right:    20px !important;
        border-radius:   6px 6px 0 0;
        font-family:     $fontLight;
        color:           $colorWhite;
        min-height:      240px;
        padding:         1rem;
        display:         flex;
        position:        relative;
        justify-content: space-between;
        flex-direction:  column;
        user-select:     none;
        cursor:          pointer;
        overflow:        hidden;

        .betCardBackground,
        .betCardBackgroundBlur
        {
            position:            absolute;
            top:                 0;
            left:                0;
            width:               100%;
            height:              100%;
            z-index:             -1;
            background-repeat:   no-repeat;
            background-position: center;
            background-size:     cover;
            background-color:    $colorPrimary66;

            &.betCardBackgroundBlur
            {
                filter:         blur(2px);
                -webkit-filter: blur(2px);
            }
        }

        .betCardContentContainer
        {
            display:        flex;
            flex-direction: column;
            height:         100%;
            position:       absolute;
            padding:        30px;
            left:           0;
            top:            0;
            width:          100%;

            .profileInfo
            {
                font-size:      16px !important;

                > * {
                    font-size:      16px !important;
                }
            }

            .betCardMarketQuestion
            {
                display:     flex;
                align-items: center;
                font-size:   20px;
                height:      100%;
                white-space: normal;
            }
        }
    }

    .betCardFooter
    {
        width:            100%;
        display:          flex;
        justify-content:  space-between;
        align-items:      center;
        background-color: rgba(241, 242, 246, 0.33);
        padding:          1rem 1.5rem;
        border-radius:    0 0 6px 6px;
        color:            $colorWhite;

        .timeLeftCounterContainer
        {
            display:     flex;
            align-items: center;
            color:       $colorWhite;
            font-family: $fontLight;
            font-size:   12px;
        }
    }
}