@import '../../styles/all';

.placeSeperate {
  width: 90%;
  height: 2px;
  margin: -1px 5% -1px 5%;
  background-color: #434466;
  z-index: 5;
  display: none;
}

.tableFirst,
.tableSecond,
.tableThird,
.tableEntryHolder {
  position: relative;
}

.tableFirst {
  display: flex;
  align-items: center;
  width: 100%;
  height: 60px;
  padding: 0 50px 0 50px;

  @media (max-width: $screen-md) {
    padding: 0 20px 0 20px;
  }

  .firstRank {
    position: relative;
    width: 60px;
    display: flex;
    justify-content: space-between;
    margin-right: 52px;
    font-size: 16px;
    line-height: 44px;
    letter-spacing: 0.5px;
    color: $colorWhite;
    opacity: 1;

    @media (max-width: $screen-md) {
      margin-right: 30px;
      font-size: 14px;
      line-height: 38px;
    }

    img {
      height: 44px;
      margin-left: 16px;
      display: none;

      @media (max-width: $screen-md) {
        height: 38px;
      }
    }
  }

  .firstName {
    font-family: $fontRegular;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    color: $colorWhite;

    @media (max-width: $screen-md) {
      font-size: 14px;
      line-height: 18px;
    }
  }

  .firstBalance {
    position: absolute;
    right: 50px;
    text-align: end;
    color: $colorLightYellow;
    font-family: $fontBold;
    font-size: 14px;
    line-height: 18px;

    @media (max-width: $screen-md) {
      right: 20px;
      font-size: 16px;
      line-height: 20px;
    }
  }
}

.tableSecond {
  display: flex;
  align-items: center;
  width: 100%;
  height: 60px;
  padding: 0 50px 0 50px;

  @media (max-width: $screen-md) {
    padding: 0 20px 0 20px;
  }

  .secondRank {
    position: relative;
    width: 60px;
    display: flex;
    justify-content: space-between;
    margin-right: 52px;
    font-size: 16px;
    line-height: 44px;
    letter-spacing: 0.5px;
    color: $colorWhite;
    opacity: 1;

    @media (max-width: $screen-md) {
      margin-right: 30px;
      font-size: 14px;
      line-height: 38px;
    }

    img {
      height: 44px;
      margin-left: 14px;
      display: none;

      @media (max-width: $screen-md) {
        height: 38px;
      }
    }
  }

  .secondName {
    font-family: $fontRegular;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    color: $colorWhite;

    @media (max-width: $screen-md) {
      font-size: 14px;
      line-height: 18px;
    }
  }

  .secondBalance {
    position: absolute;
    right: 50px;
    text-align: end;
    color: $colorLightYellow;
    font-family: $fontBold;
    font-size: 14px;
    line-height: 18px;

    @media (max-width: $screen-md) {
      right: 20px;
      font-size: 16px;
      line-height: 20px;
    }
  }
}

.tableThird {
  display: flex;
  align-items: center;
  width: 100%;
  height: 60px;
  padding: 0 50px 0 50px;

  @media (max-width: $screen-md) {
    padding: 0 20px 0 20px;
  }

  .thirdRank {
    position: relative;
    width: 60px;
    display: flex;
    justify-content: space-between;
    margin-right: 52px;
    font-size: 16px;
    line-height: 44px;
    letter-spacing: 0.5px;
    color: $colorWhite;
    opacity: 1;

    @media (max-width: $screen-md) {
      margin-right: 30px;
      font-size: 14px;
      line-height: 38px;
    }

    img {
      height: 44px;
      margin-left: 14px;
      display: none;

      @media (max-width: $screen-md) {
        height: 38px;
      }
    }
  }

  .thirdName {
    font-family: $fontRegular;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    color: $colorWhite;

    @media (max-width: $screen-md) {
      font-size: 14px;
      line-height: 18px;
    }
  }

  .thirdBalance {
    position: absolute;
    right: 50px;
    text-align: end;
    color: $colorLightYellow;
    font-family: $fontBold;
    font-size: 14px;
    line-height: 18px;

    @media (max-width: $screen-md) {
      right: 20px;
      font-size: 16px;
      line-height: 20px;
    }
  }

  .fourthRank {
    position: relative;
    width: 60px;
    display: flex;
    justify-content: space-between;
    margin-right: 52px;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.5px;
    color: $colorWhite;
    opacity: 1;

    @media (max-width: $screen-md) {
      margin-right: 30px;
      font-size: 14px;
      line-height: 18px;
    }

    img {
      height: 20px;
      margin-left: 26px;
      display: none;

      @media (max-width: $screen-md) {
        height: 17px;
      }
    }
  }
}

.tableEntryHolder {
  display: flex;
  align-items: center;
  width: 100%;
  height: 60px;
  padding: 0 50px 0 50px;
  border-left: 4px solid transparent;

  @media (max-width: $screen-md) {
    padding: 0 20px 0 20px;
  }

  .entryRank {
    position: relative;
    width: 60px;
    display: flex;
    justify-content: space-between;
    margin-right: 52px;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.5px;
    color: $colorWhite;
    opacity: 1;

    @media (max-width: $screen-md) {
      margin-right: 30px;
      font-size: 14px;
      line-height: 18px;
    }

    img {
      width: 20px;
      height: 26px;
      margin: 0;

      @media (max-width: $screen-md) {
        width: 15px;
        height: 20px;
      }
    }
  }

  .entryName {
    font-family: $fontRegular;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    color: $colorWhite;

    @media (max-width: $screen-md) {
      font-size: 14px;
      line-height: 18px;
    }
  }

  .entryBalance {
    position: absolute;
    right: 50px;
    text-align: end;
    color: $colorLightYellow;
    font-family: $fontBold;
    font-size: 14px;
    line-height: 18px;

    @media (max-width: $screen-md) {
      right: 20px;
      font-size: 16px;
      line-height: 20px;
    }
  }

  .loadButton {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    padding: 0 24px;
    margin: 0 auto;
    text-align: center;
    color: $colorLightYellow;
    line-height: 1;
    font-family: $fontBold;
    font-size: 12px;
    position: relative;
    cursor: pointer;
    text-transform: uppercase;
    text-decoration: underline;
  }
}

.tableCurrentUser {
  border-left: 4px solid $colorPinkLight;
  background-color: $colorPrimary45;
}

.rankingTooltip {
  font-family: $fontBold;
  max-width: 180px;
  background-color: $colorPrimary45 !important;
}
