@import '../../styles/all';

.successTransakContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
  padding-top: 60px;
  background-color: $colorWhite;
  color: $colorPrimaryDark;
  border-radius: 10px;
  row-gap: 10px;
  padding: 60px 25px 25px;

  .successTransakHeadline {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 30px;
    text-align: center;
    font-family: $fontBold;

    .logo {
      height: 60px;
      margin-bottom: 10px;
    }
  }

  .successText {
    font-size: 16px;
    line-height: 25px;
    text-align: center;
    font-family: $fontBold;
    margin-top: 10px;
  }

  .betButtonContainer {
    width: 100%;
    font-size: 16px;
    margin-bottom: auto;
    margin-top: 16px;

    @media (min-width: $screen-sm) {
      margin-bottom: 20px;
      font-size: 23px;
    }

    .betButton {
      background-color: transparent;
      width: 100%;
      max-width: 355px;
      margin: 0 auto;
      color: $colorWhite;

      svg > * {
        fill: $mainAction;
      }

      &.sellButton {
        margin-left: 25%;
        margin-bottom: 20px;
        font-size: 16px;

        @media (min-width: $screen-sm) {
          font-size: 24px;
        }
      }
    }
  }
}
