@import '../../styles/all';

$marginHorizontal: 1rem;

.paymentNumberContainer
{
    margin: 55px $marginHorizontal 0;
}

.paymentCompositionContainer,
.paymentTotalContainer
{
    margin: 0 $marginHorizontal;

    .paymentLine
    {
        display:         flex;
        flex-direction:  row;
        justify-content: space-between;
        width:           100%;
        margin:          25px 0;
        font-size:       16px;

        .paymentLineDescription
        {

        }

        .paymentLineValue
        {
            font-family: $fontBold;

            &.paymentLineValueGreen
            {
                color: $colorGreen;
            }
        }
    }
}