@import '../../styles/all';

.menu {
  position: relative;
  margin-left: 15px;
  cursor: pointer;
  .underlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100vh;
    width: 100vw;
    z-index: 1;
    cursor: default;
  }
  .menuButton {
    padding: 0;
    width: 36px;
    height: 36px;
  }

  .menuIcon {
    // opacity: 0.3;
    // padding: 5px 15px;
    // margin: -5px -15px 0 0;
    // width: 40px;

    path {
      fill: white;
    }
  }

  .menuBox {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 25px;
    width: 200px;
    z-index: $zIndexBetMenu;
    right: 0;
    padding: 0 17px 0 19px;
    border-radius: 10px;
    background-color: $colorWhite;
    box-shadow: 0 1px 8px 0 $colorBlack10;

    &.menuBoxOpened {
      display: flex;
    }

    .menuItem {
      display: flex;
      flex-direction: row;
      align-items: center;
      width: 100%;
      padding: 12px 0;
      svg path {
        fill: $colorBlack;
      }

      .menuInfoIcon {
        margin-right: 12px;
      }

      strong {
        font-family: $fontDMSans;
        font-weight: bold;
      }

      &:not(:last-child) {
        border-bottom: solid 0.5px $colorPrimary10;
      }
    }
  }
}
