@import "../../styles/all";

.stateBadge
{
    border-radius:    4px;
    font-family:      $fontLight;
    font-size:        12px;
    font-weight:      bold;
    width:            auto;
    white-space:      nowrap;
    margin-bottom:    8px;
    background-color: $colorRedLighter30;
    padding:          10px 15px;
    display:          inline-flex;
    justify-content:  center;
    align-items:      center;
    height:           30px;
    user-select:      none;
    color:            $colorRed;

    span
    {
        width:            7px;
        height:           7px;
        background-color: $colorRed;
        border-radius:    50%;
        margin-right:     10px;
    }

    &.resolved,
    &.active
    {
        color:            $colorGreen;
        background-color: $colorGreen30;

        span
        {
            background-color: $colorGreen;
        }
    }

    &.closed
    {
        color:            $colorPurpleDark;
        background-color: $colorPurpleLight;

        span
        {
            background-color: $colorPurpleDark;
        }
    }

    &.withoutBackground
    {
        background-color: transparent !important;
    }
}