@import '../../styles/all';

.gameDetails {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 35px;

  .logo {
    height: 60px;
  }

  .title {
    position: relative;
    font-family: $fontBold;
    font-size: 20px;
    margin-top: 20px;
  }

  .nextGame, .prevGame {
    font-size: 13px;
    position: absolute;
    font-weight: 100;
    cursor: pointer;

    &:hover {
      text-decoration: underline;
    }
  }

  .prevGame {
    right: -80px;
    bottom: -12px;
  }

  .nextGame {
    left: -80px;
    bottom: -12px;
  }

  .subtitle {
    font-family: $fontRegular;
    font-size: 14px;
    padding-top: 5px;
  }

  .separator {
    margin: 5px 0;
    height: 1px;
    width: 160px;
    background-color: $colorGrayLight1;
    border-radius: 100%;
  }

  .gameDate {
    font-size: 14px;
    color: $colorDarkSlateGray;
    margin-bottom: 15px;
  }

  .content {
    width: 800px;
    font-size: 15px;


    & > div {
      margin-bottom: 4px;

      &:last-child {
        margin-bottom: 0;
      }
    }

    @media (max-width: $screen-md) {
      width: 100%;
    }
  }

  .verificationTool {
    text-align: center;
    margin-bottom: 20px;
    margin-top: 5px;
  }

  .betsTableContainer {
    margin-top: 15px;

    @media (max-width: $screen-sm) {
      display: none;
    }

    //
    .betState1, .betState4, .betState3 {
      color: $colorRedDark;
      font-weight: bold;
    }

    //cashout
    .betState2 {
      color: $colorGreenDarker;
      font-weight: bold;
    }

    table {
      width: 100%;
      table-layout: fixed;
      overflow-wrap: break-word;
      border-collapse: collapse;
    }

    /* Zebra striping */
    tr:nth-of-type(odd) {
      background: $colorGrayLight5;
    }

    th {
      background: $colorDarkSlateGray;
      color: white;
      font-weight: bold;
    }

    td, th {
      padding: 5px;
      border: 1px solid #ccc;
      text-align: left;
      font-size: 15px;

      &:nth-of-type(1) {
        width: 230px;
      }
    }
  }
}

.balanceIcon {
  display: inline-block;
}

.seedsRotateForm, .seedsCurrentForm {

  label {
    display: block;
    margin-bottom: 4px;
  }

  input {
    position: relative;
    display: flex;
    width: 100%;
    align-items: center;
    padding: 10.5px;
    height: 35px;
    border-radius: 10px;
    border: 1.2px solid rgba(14, 9, 39, 0.3);
    background: none;
    justify-content: flex-end;
    margin-bottom: 10px;

    &:disabled {
      background-color: $colorGrayLight;
      cursor: not-allowed;
    }
  }


  .button {
    user-select: none;
    // position: absolute;
    bottom: 6px;
    left: -50%;
    right: -50%;
    margin: 0px auto 20px;
    outline: 0;
    color: white;
    @media screen and (max-width: $screen-xs) {
      margin-top: 10px;
    }
    font-family: $fontBold;
    width: 15em;
    height: 60px;
    border-radius: 4px;
    font-size: 16px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-image: url('../../data/backgrounds/games/bet-button.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;

    &:hover {
      cursor: pointer;
    }
  }
}

.seedsRotateTitle {
  text-align: center;
  margin: 25px 0 0px;
}
