@import '../../styles/all';

.button{
  position: absolute;
  top: 10px;
  left: 10px;
  border-radius: 15px;
  z-index: 10;
  padding: 5px 20px;
  cursor: pointer;
}
.board{
  position: relative;
  width: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: fit-content;
  background-repeat: no-repeat;
  background-size: 100%;
  margin: -20px -30px -40px -30px;
  padding: 20px 30px 40px 30px;
  background-position: center;
  background-image: url('../../data/backgrounds/Trapezoid.png');
  @media (max-width: 650px) {
    transform: scale(0.8);
  }
  @media (max-width: 580px) {
    transform: scale(0.6);
  }
  @media (max-width: 350px) {
    transform: scale(0.55);
  }
/*
  &:after{
    content: '';
    border-bottom: 380px solid transparent;
    border-left: 260px solid transparent;
    border-right: 260px solid transparent;
    height: 0;
    width: 40px;
    position: absolute;
    left: -40px;
    top: -50px;
    padding: 20px 40px;
  }
  */
  .ball{
    z-index: 15;
    background: white;
    background-image: url('../../data/icons/medal-coin.png');
    background-size: 100%;    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: -10px;
    width: 20px;
    height: 20px;
    border-radius: 15px;
    transition: transform 0.15s linear 0s, opacity 0.175s linear 0s;
    //box-shadow: 2px 2px 3px rgba(0, 25, 50, 0.2), -2px 2px 2px -1px rgba(0, 0, 0, 0.15) inset, 3px 3px 5px -2px #fff inset;
  }
  .row{
    display: flex;
    min-width: fit-content;
    height: 30px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    .peg{
      z-index: 12;
      display: flex;
      min-width: 10px;
      width: 10px;
      height: 10px;
      background: #d7393f;
      box-shadow: 2px 2px 3px rgba(0, 25, 50, 0.2), -2px 2px 2px -1px rgba(0, 0, 0, 0.15) inset, 3px 3px 5px -2px #fff inset;
      border-radius: 100%;
      margin-left: 15px;
      margin-right: 15px;
    }
  }
  .boxes{
    display: flex;
    justify-content: center;
    //background: white;
    align-items: center;
    min-width: calc(100% + 80px);
    width: calc(100% + 80px);
    position: absolute;
    left: -200px;
    right: -200px;
    margin: auto;
    bottom: 5px;
    .box{
      border-radius: 2px 2px 10px 10px;
      -webkit-box-shadow: inset 0 0 4px 2px #d7393f;
      box-shadow: inset 0 0 4px 2px #d7393f;
      margin: 0 1px 5px 1px;
      width: 38px;
      height: 29px;
      z-index: 20;
      background: #dd8549;
      color: white;
      font-size: 14px;
      font-weight: bold;
      justify-content: center;
      align-items: center;
      display: flex;
      text-align: center;
    }
    .bright{
      background: #d7393f;
      border: 1px solid #e6e76a;
      animation: shake 0.5s infinite;
      &.red{
        border: 1px solid #e6e76a;
      }
    }
  }
  @keyframes shake {
  	0% { transform: rotate(0deg); }
    17% { transform: rotate(5deg); }
    34% { transform: rotate(0deg); }
    50% { transform: rotate(-5deg); }
    67% { transform: rotate(0deg); }
    84% { transform: rotate(5deg); }
    100% { transform: rotate(0deg); }
  }

}
.background{
  position: absolute;
  margin: auto;

   //max-width: fit-content;
  /*svg{
    max-width: auto!important;
  }*/
}
/*
.trapezoid{
  z-index: 1;
  position: absolute;
  top: 50px;
  @media (max-width: 650px) {
    transform: scale(0.8);
    z-index: 0;
  }
  @media (max-width: 580px) {
    transform: scale(0.6);
  }
  @media (max-width: 350px) {
    transform: scale(0.55);
  }

}*/
.animation {
  display: flex;
  align-items: center;
  justify-content: space-around;
  overflow: hidden;
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.17);
  /*height: fit-content;*/
  max-height: 470px;
  min-height: 470px;
  position: relative;
  @media (max-width: 650px) {
    svg{
      display: none;
    }
    background: #dd8549;
  }

  @media (max-width: 580px) {
    max-height: 320px;
    min-height: 320px;
  }
  @media (max-width: 350px) {
    max-height: 300px;
    min-height: 300px;
  }
}

.preparingRound {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  .title {
    font-size: 46px;
    font-weight: bold;
    margin-bottom: 10px;
    color: $colorWhite;
    text-align: center;

    @media (max-width: $screen-xs-max) {
      font-size: 32px;
    }
  }

  .description {
    font-size: 16px;
    color: $colorYellow;
    text-align: center;
  }

  .counter {
    display: inline-block;
    width: 3ch;
    text-align: justify;
  }
}

.audioControls{
  position: absolute;
  z-index: 999;
  left: 20px;
  top: 10px;
  svg{
    fill: #f2ff53 !important;
  }
  @media (max-width: $screen-xs-max) {

  }
  @media screen and (max-width: 768px){
    top: 60px;
    left: 5px !important;
  }
}
