@import '../../styles/all';

.button{
  position: absolute;
  top: 10px;
  left: 10px;
  border-radius: 15px;
  z-index: 10;
  padding: 5px 20px;
  cursor: pointer;
}
.board{
  position: relative;
  width: fit-content;

  &:after{
    content: '';
    border-bottom: 380px solid #ffffff;
    border-left: 260px solid transparent;
    border-right: 260px solid transparent;
    height: 0;
    width: 40px;
    position: absolute;
    left: -40px;
    top: -50px;
    padding: 20px 40px;
  }
  .ball{
    z-index: 15;
    border: 1px solid black;
    background: white;
    background-image: url('https://main.alpacasino.io/favicon.ico');
    background-size: 100%;    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: -30px;
    width: 20px;
    height: 20px;
    border-radius: 15px;
    transition: transform 0.15s linear 0s, opacity 0.175s linear 0s;
    box-shadow: 2px 2px 3px rgba(0, 25, 50, 0.2), -2px 2px 2px -1px rgba(0, 0, 0, 0.15) inset, 3px 3px 5px -2px #fff inset;
  }
  .row{
    display: flex;
    height: 30px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    .peg{
      z-index: 12;
      display: flex;
      width: 10px;
      height: 10px;
      background: #d7393f;
      box-shadow: 2px 2px 3px rgba(0, 25, 50, 0.2), -2px 2px 2px -1px rgba(0, 0, 0, 0.15) inset, 3px 3px 5px -2px #fff inset;
      border-radius: 100%;
      margin-left: 15px;
      margin-right: 15px;
    }
  }
  .boxes{
    display: flex;
    justify-content: center;
    background: white;
    align-items: center;
    width: calc(100% + 80px);
    position: absolute;
    margin-left: -40px;

    bottom: -35px;
    .box{
      margin: 0 5px 5px 5px;
      width: 24px;
      height: 20px;
      background: #dd8549;
      color: white;
      font-size: 10px;
      justify-content: center;
      align-items: center;
      display: flex;
      text-align: center;
    }
  }

}
.background{
  position: absolute;
  margin: auto;
   max-width: fit-content;
  svg{
    max-width: auto!important;
  }
}
.animation {
  display: flex;
  align-items: center;
  justify-content: space-around;
  overflow: hidden;
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.17);
  /*height: fit-content;*/
  max-height: 450px;
  min-height: 450px;
  position: relative;

}

.preparingRound {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  .title {
    font-size: 46px;
    font-weight: bold;
    margin-bottom: 10px;
    color: $colorWhite;
    text-align: center;

    @media (max-width: $screen-xs-max) {
      font-size: 32px;
    }
  }

  .description {
    font-size: 16px;
    color: $colorYellow;
    text-align: center;
  }

  .counter {
    display: inline-block;
    width: 3ch;
    text-align: justify;
  }
}

.audioControls{
  position: absolute;
  z-index: 999;
  left: 20px;
  top: 10px;
  svg{
    fill: #f2ff53 !important;
  }
  @media (max-width: $screen-xs-max) {

  }
  @media screen and (max-width: 768px){
    top: 60px;
    left: 5px !important;
  }
}
