@import '../../styles/all';

.leaderboardTable {
  display: flex;
  flex-direction: column;
  width: 100%;
  flex: auto;
  overflow-y: auto;
  background-color: $colorWhite;

  .tableHeadings {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 16px 24px;
    background-color: $colorWhite !important;
    position: sticky;
    top: 0;
    z-index: 1;
    border-top: 0.5px solid $colorLightGray;
    border-bottom: 0.5px solid $colorLightGray;

    @media (max-width: $screen-md) {
      padding: 16px;
    }

    .rankingHeading {
      width: 60px;
      margin-right: 77px;
      font-family: $fontBold;
      color: $colorPrimary;
      font-size: 14px;
      line-height: 18px;
      display: flex;
      align-items: center;
      span {
        margin-right: 5px;
      }

      @media (max-width: $screen-xs) {
        margin-right: 30px;

        svg {
          display: none;
        }
      }
    }

    .userHeading {
      font-family: $fontBold;
      font-size: 14px;
      line-height: 18px;
      color: $colorPrimary;
      display: flex;
      align-items: center;
      span {
        margin-right: 5px;
      }

      @media (max-width: $screen-xs) {
        svg {
          display: none;
        }
      }
    }

    .tokenHeading {
      font-family: $fontBold;
      font-size: 14px;
      line-height: 18px;
      color: $colorPrimary;
      display: flex;
      align-items: center;
      span {
        margin-right: 5px;
      }

      @media (max-width: $screen-xs) {
        svg {
          display: none;
        }
      }
    }
  }
}

.leaderboardRanking {
  > div {
    &:nth-child(odd) {
      background: $colorLightGray1;
    }
    &:nth-child(even) {
      background: $colorWhite;
    }
  }
}
