@import "../../styles/all";

.leaderboardTable
{
    display:        flex;
    flex-direction: column;
    width:          100%;
    flex:           auto;
    overflow-y:     auto;

    .tableHeadings
    {
        display:       flex;
        width:         100%;
        padding:       16px 24px;
        background-color: rgba(14, 9, 39, 1);
        position: sticky;
        top: 0;
        z-index: 1;

        @media (max-width: $screen-md)
        {
            padding: 16px;
        }

        .rankingHeading
        {
            width:          60px;
            margin-right:   77px;
            font-weight:    normal;
            font-size:      11px;
            line-height:    14px;
            letter-spacing: 1.64375px;
            color:          #ffffff;
            mix-blend-mode: normal;
            opacity:        0.45;

            @media (max-width: $screen-md)
            {
                margin-right: 30px;
            }
        }

        .userHeading
        {
            font-weight:    normal;
            font-size:      11px;
            line-height:    14px;
            letter-spacing: 1.64375px;
            color:          #ffffff;
            mix-blend-mode: normal;
            opacity:        0.45;
        }

        .tokenHeading
        {
            width:          100%;
            text-align:     end;
            font-weight:    normal;
            font-size:      11px;
            line-height:    14px;
            letter-spacing: 1.64375px;
            color:          #ffffff;
            mix-blend-mode: normal;
            opacity:        0.45;
        }
    }
}
