@import '../../styles/all';

.usernamePopup {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  padding: 50px;

  .title {
    font-size: 30px;
    text-transform: uppercase;
    margin-bottom: 40px;
    position: relative;
    text-align: center;

    &::after {
      content: '';
      position: absolute;
      bottom: -20px;
      left: 0;
      background-image: url('../../data/backgrounds/highlight-underline.svg');
      background-repeat: no-repeat;
      background-size: contain;
      height: 20px;
      width: 100%;
    }
  }

  .description {
    font-size: 14px;
    text-align: center;
    margin-bottom: 40px;
  }

  .inputBox {
    width: 80%;
    margin: 0 auto 40px;

    @media (max-width: $screen-sm) {
      width: 100%;
    }
  }

  .buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;

    .button {
      width: 200px;

      @media (max-width: $screen-sm) {
        font-size: 14px;
        width: 150px;
      }

      & > span > svg {
        @media (max-width: $screen-sm) {
          width: 140px;
        }
      }
    }
  }

  .confettiRight,
  .confettiLeft {
    position: absolute;
    z-index: 1;
  }

  .confettiLeft {
    left: -60px;
    top: -20px;
  }

  .confettiRight {
    right: -55px;
    bottom: 200px;
    height: 220px;

    @media(max-width: $screen-sm) {
      bottom: 220px;
    }
  }
}