@import '../../styles/all';

.usernamePopup {
  position: relative;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  background: url('../../data/backgrounds/popup/popup-medium-bg.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  padding: 170px 210px 80px 190px;
  width: 700px;
  height: 740px;

  @media (max-width: $screen-sm) {
    padding: 30px 125px 60px;
    padding-right: 130px;
    padding-top: 180px;
    background: url('../../data/backgrounds/popup/popup-bg.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
  }

  @media (max-width: $screen-xs) {
    padding: 30px 70px 60px;
    padding-top: 170px;
    padding-right: 85px;
    background-size: 135% 115%;
  }

  .title {
    // margin-left: 24px;
    text-align: center;
    font-style: normal;
    font-weight: bold;
    font-size: 34px;
    color: black;
    line-height: 30px;

    // @media (max-width: $screen-sm) {
    //   display: none;
    // }
  }

  .container {
    padding: 25px 0 16px;
    max-width: 380px;

    .description {
      font-size: 18px;
      font-weight: 600;
      text-align: center;
      margin-bottom: 40px;
      color: black;
      line-height: 36px;
      white-space: nowrap;

      @media (max-width: $screen-sm) {
        font-size: 16px;
      }

      @media (max-width: $screen-xs) {
        white-space: normal;
      }
    }

    .inputBox {
      width: 250px;
      margin: 0 auto 40px;
      background: white;

      @media (max-width: $screen-sm) {
        width: 100%;
      }
    }

    .buttons {
      display: flex;
      align-items: center;
      flex-direction: column;
      width: 100%;
      column-gap: 20px;

      .skipButton {
        font-size: 20px;
        font-weight: 600;
        color: #EA9C00;
        padding: 0 30px;
        text-decoration: underline;
        cursor: pointer;

        @media (max-width: $screen-sm) {
          font-size: 16px;
        }
      }

      .button {
        font-size: 20px;
        background: $colorButton;
        color: $colorBlack;
        font-weight: 600;
        line-height: 40px;
        cursor: pointer;
        border-radius: 30px;
        width: 150px;
        border: none;
        margin-top: 50px;

        @media (max-width: $screen-sm) {
          font-size: 20px;
        }

        &>span>svg {
          @media (max-width: $screen-sm) {
            width: 140px;
          }
        }
      }
    }

    .errorHandLing {
      font-size: 14.5px;
      height: 60px;
      width: 100%;
      padding: 30px;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: $colorRedLight;
      color: $colorWhite;
      border-radius: 10px;
      margin-bottom: 20px;
    }
  }

  .confettiRight,
  .confettiLeft {
    position: absolute;
    z-index: 1;
  }

  .confettiLeft {
    left: -60px;
    top: -20px;
  }

  .confettiRight {
    right: -55px;
    bottom: 200px;
    height: 220px;

    @media (max-width: $screen-sm) {
      bottom: 220px;
    }
  }

  .randomize {
    font-size: 20px;
    font-weight: 600;
    color: $colorLightYellow;
    padding: 0 30px;
    text-decoration: underline;
    cursor: pointer;

    @media (max-width: $screen-sm) {
      font-size: 16px;
    }
  }
}