@import '../../styles/all';

.approveBetContainer {
    display:          flex;
    flex-direction:   column;
    align-items:      center;
    height:           100%;
    width:            100%;
    padding-top:      60px;
    background-color: $colorWhite;
    color:            $colorPrimaryDark;
    border-radius:    10px;

  .ShareButtonContainer {
    padding-top:   10px;
    padding-bottom:   50px;

    .shareButton {
      display: flex;
      //width: 100px;
      background-color: $colorPrimaryDark;
      color: white;
      text-align: center;
      padding: 8px 12px;
      border-radius: 10px;
      cursor: pointer;

      .shareIcon {
        width: 20px;
        margin-right: 6px;
        color: $colorYellowLight;
      }
    }

    @media (max-width: $screen-sm) {
      padding-top:   20px;
      padding-bottom:   30px;
    }
  }

  .betOverview {
    width: 70%;
    min-width: 300px;
    margin: 25px 0 20px;
    line-height: 1;
    font-size: 20px;

    @media (max-width: $screen-sm) {
      font-size: 16px;
    }

    .entry {
      margin-bottom: 25px;
      display: flex;
      width: 100%;
      justify-content: space-between;

      &.alignRight {
        justify-content: right;
      }

      .valueHint {
        color: $colorGreenDarker;
        font-weight: bold;

        &.negative {
          color: $colorRedDark;
        }
      }

      &:last-child {
        margin-bottom: 0;
      }
    }

    .value {
      font-weight: bold;
    }

    .label {
      color: $colorGray;
    }
  }

    .approveBetHeadline {
        display:        flex;
        flex-direction: column;
        align-items:    center;
        font-size:      20px;
        text-align:     center;
        font-family:    $fontBold;

        .logo {
            height: 60px;
            margin-bottom: 10px;
        }
    }

    .betPostedHeadline {
        font-size: 30px;
        line-height: 36px;
        text-align: center;
        font-family: $fontBold;
        margin-top: 20px;
    }

    .betButtonContainer {
        width:         100%;
        font-size:     16px;
        margin-bottom: auto;
        margin-top: 16px;

        @media (min-width: $screen-sm) {
            margin-bottom: 20px;
            font-size:     23px;
        }

        .betButton {
            background-color: transparent;

            &.sellButton {
                margin-left:   25%;
                margin-bottom: 20px;
                font-size:     16px;

                @media (min-width: $screen-sm) {
                    font-size: 24px;
                }
            }
        }
    }
}
