@import '../../styles/all';

.pulloutContainer {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  padding: 35px;

  .pulloutTitle {
    font-size: 28px;
    font-weight: 700;
    margin: 20px 0;
  }

  .pulloutText {
    margin-bottom: 40px;
    strong {
      font-family: $fontDMSans;
      font-weight: bold;
    }
  }
  .buttonContainer {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
  }

  .approvePulloutButton {
    background-color: $colorWhite;
    width: 100px;
    height: 60px;
    font-size: 20px;
    background-image: url('../../data/images/signup-background-one.svg');
    background-size: 80%;
    background-position: center;
    background-repeat: no-repeat;
  }
  .cancelPulloutButton {
    margin-right: 100px;
  }
}
