@import "../../styles/all";

.twitchStream
{
    width:          100%;
    height:         100%;
    display:        flex;
    min-height:     100%;
    padding-bottom: 1rem;

    @media (max-width: $screen-md)
    {
        min-height: unset;
    }
}