@import '../../styles/all';

.welcomeContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: relative;
  height: 100%;
  width: 100%;
  padding: 45px 0;
  background-color: $colorWhite;
  color: $colorPrimaryDark;
  font-family: $fontBold;
  overflow: visible;
  row-gap: 15px;

  .startTradingButton {
    width: 100%;
    height: 60px;
    font-size: 20px;
    background-image: url('../../data/images/signup-background-one.svg');
    background-position: center;
    background-repeat: no-repeat;
    margin-top: 10px;

    @media (min-width: $screen-sm) {
      width: 70%;
    }
  }

  .welcomeHeadline {
    font-size: 16px;
    text-align: center;
  }

  .welcomeTextContainer {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 0 30px;

    .welcomeTextHeadline {
      font-size: 35px;
      margin-bottom: 10px;
      position: relative;
      text-align: center;
      z-index: 1;

      span {
        font-size: 30px;
        vertical-align: top;
      }

      @media (min-width: $screen-sm) {
        font-size: 50px;
      }

      .welcomeTextHeadlineUnderline {
        position: absolute;
        bottom: 10px;
        left: -2.5%;
        width: 100%;
        border-bottom: 9px solid $colorYellowLight;
        z-index: -1;

        @media (min-width: $screen-sm) {
          left: 5%;
          width: 90%;
        }
      }
    }

    .welcomeTextText,
    .welcomeTextTextBelow {
      margin-top: 20px;
      font-size: 20px;

      @media (min-width: $screen-sm) {
        font-size: 24px;
      }
    }

    .readmore,
    .disclaimer {
      font-size: 12px;
      font-family: $fontRegular;
      text-align: justify;
      opacity: 0.7;
    }

    .readmore {
      text-decoration: underline;
      cursor: pointer;
    }

    .welcomeTextTextBelow {
      margin-top: 50px;
    }
  }

  .welcomeConfettiLeft,
  .welcomeConfettiRight {
    position: absolute;
    pointer-events: none;

    &.welcomeConfettiLeft {
      left: -5%;
      top: -40%;

      @media (max-width: 1120px) {
        left: -10%;
        top: -40%;
      }
    }

    &.welcomeConfettiRight {
      right: -15%;
      top: 30%;

      @media (max-width: 720px) {
        display: none;
      }
    }
  }
}
