@import '../../styles/all';

.fixedIconButtonContainer
{
    position:         fixed;
    display:          flex;
    align-items:      center;
    justify-content:  center;
    z-index:          $zIndexFixedIconButton;
    bottom:           55px;
    right:            55px;
    width:            60px;
    height:           60px;
    background-color: $colorWhite;
    border-radius:    100%;
    cursor:           pointer;
    box-shadow:       0 2px 4px 0 $colorPrimary05;
    border:           solid 2px $colorPrimary10;
}