@import '../../styles/all';

.containerWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 80px auto 0;
  max-width: 1300px;

  @media (max-width: $screen-sm) {
    margin: 0 15px;
  }
}

.container {
  width: 100%;

  @media (min-width: $screen-lg) {
    max-width: 1300px;
  }
}

.bottomWrapper {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-top: 80px;

  @media (max-width: $screen-md) {
    flex-direction: column;
  }

  .categories {
    width: 100%;
    padding: 0 10px;

    @media (max-width: $screen-xs-max) {
      margin-bottom: 40px;
    }
  }

  .leaderboard {
    width: 100%;
    padding: 0 10px;

    @media (max-width: $screen-sm) {
      padding: 0;
    }
  }

  .headline {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: $colorWhite;
    font-family: $fontOmnes;
    font-size: 24px;
    margin-bottom: 20px;

    .leaderboardLink {
      font-size: 14px;
      color: $colorWhite;
      line-height: 12px;
      letter-spacing: 0.6px;
      font-family: $fontLight;
      cursor: pointer;
      text-decoration: underline;
    }
  }
}

.lightboxWrapper {
  margin-top: 48px;
}

.tags {
  display: flex;
  flex-flow: wrap;
  margin: 20px 0;

  .tag {
    background-color: rgba(172, 196, 255, 0.1);
    padding: 10px;
    font-size: 12px;
    color: $colorWhite;
    cursor: pointer;
    border-radius: 2px;
    margin: 5px;
    opacity: 0.8;

    &:hover {
      background-color: rgba(255, 255, 255, 0.2);
      opacity: 1;
    }
  }
}

.seeAllActivities {
  display: flex;
  align-items: center;
  font-size: 14px;
  color: $colorWhite;
  line-height: 12px;
  letter-spacing: 0.6px;
  font-family: $fontLight;
  cursor: pointer;
  text-decoration: underline;
}

/* ACTIVITY TRACKER */
.activityWrapper {
  // margin-top: 32px;
  background: $colorPrimary;

  .headerTables {
    @media screen and (max-width: $screen-xs) {
      padding: 4px 5px;
      font-size: 10px;
    }
    &:not([data-item-count='0'])::after {
      content: attr(data-item-count);
      display: inline-block;
      padding: 1px 4px;
      border-radius: 6px;
      font-family: $fontRegular;
      background-color: $mainAction;
      font-size: 9px;
      padding: 1px 4px;
      line-height: 1;
      color: $colorPrimary;
      margin-left: 4px;
    }
  }

  @media screen and (max-width: $screen-xs) {
    overflow: hidden;
  }
  border-radius: 12px;

  @media screen and (max-width: $screen-xs) {
    margin-bottom: 20px;
  }
  .activityContainer {
    position: relative;
    height: 324px;

    @media screen and (max-width: $screen-sm) {
      overflow-x: auto;
    }
  }
}
.tabItem {
  text-align: center;
  padding-bottom: 12px;
  opacity: 0.3;
  cursor: pointer;
}

.tabItemSelected {
  text-align: center;
  padding-bottom: 12px;
  opacity: 1;
  cursor: pointer;
  border-bottom: 3px solid $mainAction;
}
.tabLayout {
  display: flex;
  align-items: flex-end;
  color: $colorWhite;
  font-family: $fontOmnes;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 18px;
  padding-top: 24px;
  margin-left: 16px;

  @media (max-width: $screen-md) {
    margin-left: 0px;
    justify-content: space-between;
    font-size: 11px;
    line-height: 14px;
  }
}
.tabOptionsContainer {
  @media (max-width: $screen-md) {
    margin-left: 0px;
    justify-content: space-between;
    font-size: 11px;
    line-height: 14px;
  }
}
/* ACTIVITY TRACKER */
.activities {
  margin-top: 20px;
  padding: 0 10px;
  position: relative;

  @media (max-width: $screen-xs) {
    padding: 0;
  }

  &::before {
    position: absolute;
    content: '';
    background-image: url('../../data/images/wallet-left-image.svg');
    background-repeat: no-repeat;
    background-size: contain;
    width: 100%;
    height: 100%;
    bottom: 320px;
    transform: rotate(-20deg);
    left: -70px;
    background-position: bottom left;
    z-index: -1;
  }
  &::after {
    position: absolute;
    content: '';
    background-image: url('../../data/images/wallet-right-image.svg');
    background-repeat: no-repeat;
    background-size: contain;
    width: 100px;
    height: 80%;
    bottom: 50px;
    right: -50px;
    background-position: bottom right;
    z-index: -1;
  }

  @media (max-width: $screen-md) {
    &::after {
      display: none;
    }
    &::before {
      display: none;
    }
  }

  .title {
    display: flex;
    align-items: center;

    h2 {
      font-size: 33px;

      @media (max-width: $screen-xs) {
        font-size: 28px;
      }
    }

    img {
      margin-right: 30px;
    }
  }
}

.currentBalanceSection {
  margin: 30px auto 0;
  border-radius: 12px;
  border: 1px solid transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  @media (max-width: $screen-sm) {
    justify-content: center;
    margin: 80px 0 0;
  }

  .currentBalanceCard {
    background: rgba($colorBlue80, 0.6);
    border-radius: 12px;
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding: 20px;
    justify-content: space-around;

    &.rowBalanceCard {
      display: flex;
      flex-direction: row;
    }

    &.smallCard {
      background: $colorPrimary;
    }

    & h2 {
      color: $mainAction;
      text-align: center;
    }

    p.welcome {
      max-width: 460px;
      padding-top: 10px;
      color: $colorWhite;
      font-weight: 600;
      padding: 20px;
      line-height: 26px;
      text-align: justify;
      font-size: 24px;

      @media (max-width: $screen-xs) {
        padding: 20px 0;
        font-size: 20px;
      }

      span {
        color: $mainAction;
        text-decoration: underline;
        cursor: pointer;
      }
    }

    .currentbalanceHeading {
      font-family: $fontOmnes;
      color: $colorWhite;
      font-weight: 600;
      font-size: 24px;
      line-height: 20px;
    }

    .currentbalanceWFair {
      display: flex;

      box-sizing: border-box;
      font-family: $fontOmnes;
      font-size: 50px;
      font-weight: 600;
      text-align: center;
      color: $colorLightYellow;
      line-height: 40px;

      gap: 10px;

      &.font30 {
        font-size: 30px;
      }
      &.font50 {
        font-size: 50px;
      }
      &.font20 {
        font-size: 20px;
      }

      @media (max-width: $screen-xs) {
        margin: 10px auto 20px;
        flex-direction: column;
      }
    }
  }

  & .bonusDesktop {
    display: block;
    width: 100%;

    object-fit: cover;
    margin: 0 auto;
    margin-right: 10px;
    border-radius: 12px;

    @media (max-width: $screen-xs) {
      display: none;
    }
  }

  & .bonusMobile {
    display: none;
    width: 100%;
    object-fit: cover;

    @media (max-width: $screen-xs) {
      display: block;
    }
  }

  .currentBalanceDescription {
    width: 100%;
    height: 100%;
    position: relative;
    min-height: 180px;
    padding: 10px;

    @media (max-width: $screen-md) {
      padding: 0 0 10px;
    }

    &.smallCurrentBalanceDescription {
      border-radius: 12px;
    }

    @media (max-width: $screen-md) {
      padding: 10px;
    }

    @media (max-width: $screen-xs) {
      &::after {
        display: none;
      }
    }

    .buttonContainer {
      display: flex;
      flex-direction: column;
      align-items: center;
      min-height: 230px;
      justify-content: space-around;
      // margin-bottom: 40px;

      &.rowContainer {
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        padding: 0 20px;
        min-height: 130px;

        @media (max-width: $screen-sm) {
          flex-direction: column;
          gap: 20px;
        }

        h2 {
          text-align: left;
        }

        .label {
          margin: 0;
          padding: 0;
        }
      }

      .title {
        font-size: 16px;
        font-weight: 600;
        color: $colorWhite;
      }

      .label {
        text-align: justify;
        line-height: 24px;
        padding: 0 40px 10px;
        margin: 0 auto;
        font-family: $fontOmnes;
        font-size: 14px;
        font-weight: 500;
        color: $colorWhite;

        @media (max-width: $screen-xs) {
          padding: 0 0 10px;
        }

        span {
          color: $mainAction;
          text-decoration: underline;
          cursor: pointer;
        }
      }

      .button {
        margin-top: 0px;
        // margin-bottom: 20px;
        width: 240px;
        font-family: $fontOmnes;

        &.buttonDeposit {
          margin-top: 10px;
        }

        &.buttonBanner {
          margin-bottom: 0;
        }
      }
    }
  }
}
