@import '../../styles/all';

.containerWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 0 3rem;
  margin-top: 100px;

  @media (max-width: $screen-sm) {
    margin: 0 15px;
  }
}

.container {
  width: 100%;

  @media (min-width: $screen-lg) {
    max-width: 1300px;
  }
}

.sectionHeading {
  display: flex;
  align-items: center;
  img {
    margin-right: 15px;
  }
  h3 {
    padding-bottom: 10px;
  }
}

.mainHeadline {
  color: $colorWhite;
  text-align: center;
  max-width: 580px;
  margin: 0 auto;
  margin-top: 143px;
  padding: 0 20px;

  @media (max-width: $screen-sm) {
    margin-top: 90px;
  }

  h1 {
    font-family: $fontOmnes;
    font-size: 46px;
    font-weight: bold;
    line-height: 1.13;
    letter-spacing: 1px;

    @media (max-width: $screen-md) {
      font-size: 38px;
    }
  }

  ul {
    margin: 0 auto;
    list-style: none;
    margin-left: 20px;
    text-align: left;
    padding-top: 30px;

    & li {
      position: relative;
      margin-bottom: 5px;
      opacity: 0.6;
      margin-left: 10px;
    }

    & li:before {
      content: '';
      position: absolute;
      border-right: 2px solid #fff;
      border-bottom: 2px solid #fff;
      width: 5px;
      height: 5px;
      top: 11px;
      left: -15px;
      transform: translateY(-50%) rotate(-45deg);
    }
  }

  div.slogan {
    padding: 12px 0;
    font-size: 25px;
    font-family: $fontOmnes;

    span {
      font-family: $fontOmnes;
      font-weight: bold;
      color: $colorYellowLight;
    }

    @media (max-width: $screen-md) {
      font-size: 24px;
      padding: 12px 15px 0;
    }
  }

  .socialIcons {
    padding-bottom: 0px;
  }
}

.bottomWrapper {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-top: 80px;

  @media (max-width: $screen-md) {
    flex-direction: column;
  }

  .categories {
    width: 100%;
    padding: 0 10px;

    @media (max-width: $screen-xs-max) {
      margin-bottom: 40px;
    }
  }

  .leaderboard {
    width: 100%;
    padding: 0 10px;

    @media (max-width: $screen-sm) {
      padding: 0;
    }
  }

  .headline {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: $colorWhite;
    font-family: $fontOmnes;
    font-size: 24px;
    margin-bottom: 20px;

    .leaderboardLink {
      font-size: 14px;
      color: $colorWhite;
      line-height: 12px;
      letter-spacing: 0.6px;
      font-family: $fontLight;
      cursor: pointer;
      text-decoration: underline;
    }
  }
}

.lightboxWrapper {
  margin-top: 48px;
}

.tags {
  display: flex;
  flex-flow: wrap;
  margin: 20px 0;

  .tag {
    background-color: rgba(172, 196, 255, 0.1);
    padding: 10px;
    font-size: 12px;
    color: $colorWhite;
    cursor: pointer;
    border-radius: 2px;
    margin: 5px;
    opacity: 0.8;

    &:hover {
      background-color: rgba(255, 255, 255, 0.2);
      opacity: 1;
    }
  }
}

.seeAllActivities {
  display: flex;
  align-items: center;
  font-size: 14px;
  color: $colorWhite;
  line-height: 12px;
  letter-spacing: 0.6px;
  font-family: $fontLight;
  cursor: pointer;
  text-decoration: underline;
}

.howTokenWorks {
  padding: 20px 0;
  .title {
    display: flex;
    align-items: center;
    font-size: 30px;
    font-weight: 700;
    justify-content: flex-start;

    h2 {
      font-size: 33px;

      @media (max-width: $screen-xs) {
        font-size: 28px;
      }
    }

    img {
      margin-right: 10px;
      width: 80px;
    }
  }
  .tokenDetail {
    background: #ff0095;
    border-radius: 12px;
    padding: 25px;
    margin: 15px 0;
    .token {
      padding-right: 10px;
      display: flex;
      .thumbnail {
        padding-right: 10px;
        img {
          width: 90px;
        }
      }
      .detail {
        padding-top: 30px;
        color: #fff;
        h3 {
          font-weight: bolder;
          font-size: 22px;
          margin-bottom: 6px;
        }
        p {
          font-size: 14px;
        }
      }
    }
  }
}

.whoWeAre {
  .title {
    display: flex;
    align-items: center;
    font-size: 30px;
    font-weight: 700;
    justify-content: flex-start;
    img {
      margin-right: 40px;
      // width: 80px;
    }
    h2 {
      font-size: 33px;

      @media (max-width: $screen-xs) {
        font-size: 28px;
      }

      img {
        margin-left: 5px;
      }
    }
  }
  .cardBox {
    padding-top: 70px;
    .card {
      background: #ffffff;
      border: 1px solid #ededed;
      width: 96%;
      margin: 20px auto;
      padding-bottom: 30px;
      box-shadow: 0px 9px 16px rgba(159, 162, 191, 0.18),
        0px 2px 2px rgba(159, 162, 191, 0.32);
      border-radius: 12px;
      height: 100%;
      @media screen and (max-width: 763px) {
        margin-top: 20px;
        height: auto;
      }
      .thumbnail {
        text-align: center;
        margin-top: -50px;
        @media screen and (max-width: 763px) {
          margin-top: 10px !important;
        }
      }
      .detail {
        text-align: center;
        padding-top: 30px;
        h3 {
          font-size: 24px;
          color: #0e0927;
          margin-bottom: 6px;
          img {
            max-width: 160px;
            margin-left: 5px;
          }
        }
        p {
          font-weight: 700;
          width: 90%;
          margin: auto;
          font-size: 14px;
        }
      }
    }
  }
}

/* ACTIVITY TRACKER */
.activityWrapper {
  margin-top: 32px;
  background: $colorPrimary;
  border: 1px solid $colorLightGray4;

  .headerTables {
    @media screen and (max-width: $screen-xs) {
      padding: 4px 5px;
      font-size: 10px;
    }
  }

  @media screen and (max-width: $screen-xs) {
    overflow: hidden;
  }

  box-shadow: 0px 9px 16px rgba(159, 162, 191, 0.18),
    0px 2px 2px rgba(159, 162, 191, 0.32);
  border-radius: 12px;

  @media screen and (max-width: $screen-xs) {
    margin-bottom: 20px;
  }
  .activityContainer {
    position: relative;
    height: 324px;

    @media screen and (max-width: $screen-xs) {
      overflow-x: auto;
    }
  }
}
.tabItem {
  text-align: center;
  padding-bottom: 12px;
  opacity: 0.3;
  cursor: pointer;
}

.tabItemSelected {
  text-align: center;
  padding-bottom: 12px;
  opacity: 1;
  cursor: pointer;
  border-bottom: 3px solid $mainAction;
}
.tabLayout {
  display: flex;
  align-items: flex-end;
  color: $colorWhite;
  font-family: $fontOmnes;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 18px;
  padding-top: 24px;
  margin-left: 16px;

  @media (max-width: $screen-md) {
    margin-left: 0px;
    justify-content: space-between;
    font-size: 11px;
    line-height: 14px;
  }
}
.tabOptionsContainer {
  @media (max-width: $screen-md) {
    margin-left: 0px;
    justify-content: space-between;
    font-size: 11px;
    line-height: 14px;
  }
}
/* ACTIVITY TRACKER */
.activities {
  margin-top: 40px;
  .title {
    display: flex;
    align-items: center;

    h2 {
      font-size: 33px;

      @media (max-width: $screen-xs) {
        font-size: 28px;
      }
    }

    img {
      margin-right: 30px;
    }
  }
}
.gameCards {
  margin: 20px 0;
  .title {
    display: flex;
    align-items: center;
    font-size: 22px;
    font-weight: 700;
    justify-content: flex-start;

    h2 {
      font-size: 33px;

      @media (max-width: $screen-xs) {
        font-size: 28px;
      }
    }

    img {
      margin-right: 5px;
    }
  }
  .cardBox {
    text-align: center;
    img {
      margin: 20px 0;
      width: 96%;
    }
  }
}

.currentBalanceSection {
  margin-top: 100px;
  margin-bottom: 85px;

  @media (max-width: $screen-xs) {
    & > div > div {
      justify-content: center;
    }
  }

  .balanceCard {
    @media (max-width: $screen-md) {
      justify-content: center;
    }
  }

  .currentBlanceCard {
    width: 319px;
    height: 271px;
    box-shadow: 0px 0px 5px 5px $colorLightGray;
    border-radius: 11.5px;
    border: solid 1px $colorLightGray;
    background-color: $colorWhite;
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &::before {
      position: absolute;
      content: '';
      background-image: url('../../data/backgrounds/home-icons.svg');
      background-repeat: no-repeat;
      width: 100%;
      height: 100%;
      top: 22px;
      left: -145px;
      background-position: bottom left;
    }

    @media (max-width: $screen-xs) {
      &::before {
        display: none;
      }
    }

    .currentbalanceHeading {
      // margin: 54px 18px 21px 19px;
      font-family: $fontOmnes;
      font-size: 16px;
      font-weight: 800;
      color: $colorBlack;
    }

    .currentbalanceWFair {
      // height: 126px;
      // margin: 11px 0 0;
      font-family: $fontOmnes;
      font-size: 50px;
      font-weight: 800;
      text-align: center;
      color: $colorBlack;
      overflow-wrap: break-word;
      &.font30 {
        font-size: 30px;
      }
      &.font50 {
        font-size: 50px;
      }
      &.font20 {
        font-size: 20px;
      }
    }
  }

  .currentBlanceDiscription {
    width: 319px;
    // height: 271px;
    border-radius: 11.5px;
    margin-top: 47px;
    margin-left: 57px;

    .noWFairNoProblem {
      width: 288px;
      height: 30px;
      font-family: $fontOmnes;
      font-size: 24px;
      font-weight: 500;
      color: $colorWhite;
    }
    .buyWFairButton {
      margin-top: 20px;
      width: 240px;
      height: 45px;
      font-family: $fontOmnes;
      color: $colorWhite;
      cursor: pointer;
    }
  }
}
