@import '../../../styles/all';

.tagInput {
  width: 100%;
  border: 1px solid rgba(14, 9, 39, 0.1);
  border-radius: 12px;
  padding: 18px 25px 18px 15px;

  &:focus {
    outline: none;
  }
}

.tags {
  overflow: hidden;
  display: flex;
  flex-flow: row wrap;
  grid-gap: 10px;
}

.tag {
  position: relative;
  // flex: 160px 0 1;
  flex: 48.4% 0 1;
}

.newTag {
  height: 52px;
  width: 100%;
  display: inline-flex;
  align-items: center;
  justify-content: space-around;
  border: 1px dashed rgba(14, 9, 39, 0.1);
  border-radius: 12px;

  &:hover {
    cursor: pointer;
  }
}

.deleteTag {
  display: inline-block;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 10px;

  &:hover {
    cursor: pointer;
  }
}
