@import '../../styles/all';

.activitiesTrackerContainer {
  display: flex;
  flex-direction: column;
  position: relative;
  height: 100%;
  .header {
    height: 50px;
    display: flex;
    padding-left: 8px;
    padding-right: 8px;
    align-items: center;
    background: rgba(255, 255, 255, 0.1);
  }
  .title {
    text-align: center;
    color: $colorWhite;
    font-size: 14px;
    font-weight: 500;
  }
  .titleLeft {
    text-align: left;
    font-size: 14px;
    font-weight: 500;
    color: $colorWhite;
  }
  .titleRight {
    text-align: right;
    font-size: 14px;
    font-weight: 500;
    color: $colorWhite;
  }

  .messageItem {
    position: relative;
    display: inline-flex;
    display: -ms-inline-flexbox;
    display: -webkit-box;
    font-size: 14px;
    font-weight: 400;
    //text-align: left;
    hyphens: auto;
    transition: opacity 300ms ease-out, transform 300ms ease-out;
    width: 100%;
    padding: 8px 10px;
    align-items: center;

    .messageFirst {
      display: flex;
    }
    .messageCenter {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
    }
    .messageLeft {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-start;
    }
    .messageRight {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-end;
    }
    .messageLast {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-end;
    }
    &.isVisible {
      opacity: 0.3;

      & ~ .isVisible {
        opacity: 1;
      }
    }

    img {
      width: 20px !important;
      height: 20px;
      margin-left: 0.5rem;
    }

    span {
      display: flex;
      justify-content: space-between;
      align-items: center;

      :first-child {
        font-size: 12px;
        font-family: $fontDMSans;
      }

      :last-child {
        font-size: 12px;
        text-align: right;
        color: $colorGray;
        width: 60px;
        margin-left: 10px;
      }
    }

    .reward {
      color: $colorGreen;
    }

    .loss {
      color: $colorRed;
    }

    .rewardMulti {
      color: $mainAction;
    }
  }

  .box {
    width: 60px;
    height: 80px;
    overflow: hidden;
    border: $border;
    border-radius: $radius;
    display: flex;
    justify-content: center;
    align-items: center;

    &.active {
      border: 2px solid $colorMint;
    }
  }

  .boxIcon {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    //width: 100px;
    padding: 2px;
    border: 1px solid transparent;
    position: relative;
    word-break: break-word;

    &:hover,
    &.categorySelected {
      cursor: pointer;

      .imageIcon {
        opacity: initial;
      }

      .label {
        opacity: initial;
      }
    }
  }

  //only with cats
  .swiperElement {
    padding: 15px 0;
    width: 93%;
  }

  .label {
    font-size: 13px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1;
    letter-spacing: normal;
    text-align: center;
    color: white;
    opacity: 0.5;
    margin-top: 10px;
    transition: opacity 0.2s ease-in;

    &.active {
      opacity: initial;
    }
  }

  .imageIcon {
    opacity: 0.5;
    transition: opacity 0.2s ease-in;

    &.active {
      opacity: initial;
    }
  }

  @media (max-width: $screen-md) {
    padding-top: 0;
    margin-top: 0;
  }

  .messageContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    flex-flow: column nowrap;
    overflow-y: scroll;
    margin-bottom: 0;
    position: relative;
    //height: 260px;
    height: 100%;
    padding: 0;

    &::-webkit-scrollbar {
      width: 0;
      background: transparent;
    }

    > :first-child {
      margin-top: 0;
    }

    > :nth-child(even) {
      background: rgba(255, 255, 255, 0.1);
    }
  }

  .swiperNavContainer {
    position: absolute;
    width: 100%;
    height: 100%;

    .activitiesSwiperButtonNext,
    .activitiesSwiperButtonPrev {
      position: absolute;
      top: -5px;
      bottom: 0;
      height: 100%;
      z-index: 10;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
      color: #e6fe00;
      width: 5%;

      &:after {
        font-family: swiper-icons;
        font-size: 40px;
        letter-spacing: 0;
        text-transform: none;
        font-variant: initial;
        line-height: 1;
      }
    }

    .activitiesSwiperButtonNext {
      right: 0px;
      &:after {
        content: 'next';
      }
    }

    .activitiesSwiperButtonPrev {
      left: 0;
      &:after {
        content: 'prev';
      }
    }
  }
}

.flexContainer {
  flex-wrap: nowrap !important;
}

.hideSecondaryColumns {
  display: none;
  @media (min-width: $screen-md) {
    display: block;
  }
}

.messageLeft {
  color: $colorWhite;
}

.messageFirst,
.messageCenter,
.messageLeft,
.messageRight,
.title,
.titleLeft,
.titleRight {
  padding: 5px 15px;
  overflow-x: hidden;
  color: $colorWhite;

  @media (max-width: $screen-xs) {
    padding: 2px 10px;
  }

  p {
    text-align: right;
  }
}

.compact {
  .messageFirst,
  .messageCenter,
  .messageRight,
  .title,
  .titleLeft,
  .titleRight {
    max-width: 100px;
    overflow: hidden;
    padding: 1px 3px;
    @media (max-width: $screen-md) {
      img {
        display: none;
      }
    }
    @media (max-width: $screen-xs) {
      padding: 1px 3px;
    }
  }
}
