@import '../../styles/all';

.contentContainer
{
    position:        relative;
    display:         flex;
    align-items:     center;
    justify-content: center;
    margin-top:      35px;
    padding:         $padding;

    @media(min-width: $screen-sm)
    {
        margin-top: 60px;
    }

    &.fullHeightContentContainer
    {
        height:           100%;
        margin-top:       0;
        padding-top:      30px;
        background-color: $colorGrayLight3;

        @media (min-width: $screen-sm)
        {
            padding-top: 130px;
        }
    }

    .contentContentContainer
    {
        height: 100%;
        width:  100%;
    }

    .outcomeCreator
    {
        width:          100%;
        display:        flex;
        flex-direction: column;

        .outcomeRow
        {
            width:          100%;
            display:        flex;
            flex-direction: row;
            margin-bottom:  15px;
        }
    }

    .dateAndTimeContainer
    {
        width: 100%;

        .dateContainer
        {
            margin-bottom: 30px;
        }

        .timeContainer
        {
        }
    }

    .marketQuestionAndDescription
    {
        .marketQuestion
        {
            margin-bottom: 30px;
        }
    }

    .summaryTicketContainer
    {
        width: 100%;

        .summaryTicketHeadline
        {
            display:    block;
            margin-top: 25px;
            color:      $colorPrimary;
            font-size:  20px;
        }

        .summaryTicketRow
        {
            display:        flex;
            flex-direction: row;
            width:          100%;
            align-items:    center;
            margin-bottom:  15px;
            font-size:      14px;

            > *
            {
                text-overflow: ellipsis;
                overflow:      hidden;
                white-space:   nowrap;

                &:first-child
                {
                    width: 35%;
                }

                &:nth-child(2)
                {
                    text-align: right;
                    width:      65%;
                }
            }
        }

        .summaryTimeLeftContainer
        {
            display:          flex;
            flex-direction:   row;
            justify-content:  space-between;
            background-color: $colorPrimary;
            color:            $colorWhite;
            padding:          10px 15px;
            border-radius:    6px;
            margin-top:       40px;
        }
    }
}

.publishBetButton
{
    display:         flex;
    flex-direction:  row;
    align-items:     center;
    justify-content: center;
    width:           auto;
    white-space:     nowrap;

    :first-child
    {
        margin-right: 10px;
    }
}

.stepsHeadline
{
    text-align: center;
}