@import '../../styles/all';

.contentContainer
{
    position:        relative;
    display:         flex;
    align-items:     center;
    justify-content: center;
    margin-top:      35px;
    padding:         $padding;

    @media(min-width: $screen-sm)
    {
        margin-top: 60px;
    }

    &.fullHeightContentContainer
    {
        height:           100%;
        margin-top:       0;
        padding-top:      30px;
        background-color: $colorGrayLight3;

        @media (min-width: $screen-sm)
        {
            padding-top: 120px;
        }
    }

    .contentContentContainer
    {
        height: 100%;
        width:  100%;
    }

    .outcomeCreator
    {
        width:          100%;
        display:        flex;
        flex-direction: column;

        .outcomeRow
        {
            width:          100%;
            display:        flex;
            flex-direction: row;
            margin-bottom:  15px;
        }
    }

    .dateAndTimeContainer
    {
        width: 100%;

        .dateContainer
        {
            margin-bottom: 25px;
        }

        .timeContainer
        {
            margin-bottom: 25px;
        }

        .setEndOfStreamContainer {
        }
    }

    .marketQuestionAndDescription
    {
        .marketQuestion
        {
            margin-bottom: 30px;
        }
    }
}

.publishBetButton
{
    display:         flex;
    flex-direction:  row;
    align-items:     center;
    justify-content: center;
    width:           auto;
    white-space:     nowrap;

    :first-child
    {
        margin-right: 10px;
    }
}

.stepsHeadline
{
    text-align: center;
}