@import "../../styles/all";

.viewerBadge
{
    background-color: $colorBlack60;
    font-size:        12px;
    border-radius:    4px;
    padding:          0.25rem 0.5rem;
    display:          inline-flex;
}
