@import '../../styles/all.scss';

.container {
    background: #1F1D38;
    border: 1px solid rgba(255, 255, 255, 0.17);
    border-radius: 10px;
    overflow: auto;

    // @media screen and (max-width: $screen-xs) {
    //     background-color: transparent;
    //     margin: 0px -20px;
    // }

    .title {
      padding: 20px;
      color: $colorWhite;
    }

    .total {
      display: flex;
      justify-content: space-between;
      padding: 15px 20px;
      background: rgba(18, 14, 39, 0.5);

      .label {
        color: $colorWhite;
        opacity: 0.5;
      }

      .value {
        color: $colorWhite;
      }
    }
}

.bets {
  overflow: auto;

  .bet {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: Helvetica;
    font-size: 12px;
    color: $colorWhite;
    letter-spacing: 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.15);
    padding: 12px 20px;
  }

  .user {
    display: flex;
    align-items: center;

    svg {
        border-radius: 50%;
        margin-right: 10px;
    }
  }
}

.crashFactor {
  margin-right: 20px;
  color: $colorYellow;
}

.amount {
  color: $colorWhite;
  opacity: 0.5;
}
