@import '../../styles/all';

.placeBetParentContainer {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  width: 100%;
  // padding-top: 21px;
  padding-bottom: 12px;
  background-color: $colorWhite;
  color: $colorPrimaryDark;
  border-radius: 10px;

  &.isPopup {
    padding-top: 0;
  }

  .imageContainer {
    width: 100%;
    max-height: 300px;
    margin-bottom: 35px;
    border-radius: 10px 10px 0 0;
    display: flex;
    position: relative;

    .imgWrapper {
      width: 100%;
      height: 100%;
      max-height: 300px;
      overflow: hidden;
      border-radius: 10px 10px 0 0;

      img {
        width: 100%;
        // height: 100%;
        object-fit: cover;
      }
    }

    .categorySticker {
      width: 52px;
      height: 52px;
      background: url('../../data/icons/all-icon.svg');
      border-radius: 50%;
      background-position: center;
      position: absolute;
      z-index: 3;
      bottom: -25px;
      left: 50%;
      transform: translateX(-50%);

      // @media (max-width: $screen-sm) {
      //   display: inline-block;
      //   position: absolute;
      //   margin-right: 10px;
      // }
    }
  }

  .backButton {
    position: fixed;
    top: 1rem;
    left: 0;
    padding: 1rem;
    background-color: $colorWhite;
    border-radius: 6px;
    display: flex;

    > :first-child {
      margin-right: 0.5rem;
    }
  }

  .placeBetContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;

    &.isPopup {
      margin-bottom: 70px;
    }
  }

  .loadingAnimationContainer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;

    .loadingAnimation,
    .loadingAnimationBackground {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      pointer-events: none;

      &.loadingAnimation {
        background-size: contain;
        background-position: center center;
        background-repeat: no-repeat;
      }

      &.loadingAnimationBackground {
        opacity: 0.9;
        background-color: $colorWhite;
      }
    }
  }

  .menuContainer {
    display: flex;
    position: absolute;
    align-items: center;
    top: 20px;
    right: 20px;
    z-index: 1;

    &.popupMenuContainer {
      top: 35px;
      right: 70px;
    }

    .currentBalanceContainer {
      display: flex;
      align-items: center;
      font-size: 16px;

      .currentBalanceIcon {
        margin-right: 11px;
      }
    }
  }

  .eventName {
    color: $colorGray;
    margin-bottom: 15px;
    font-size: 14px;
  }

  .betMarketQuestion {
    color: $colorPrimaryDark;
    text-align: center;
    font-family: $fontDMSans;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0px;
    padding: 0 7%;
    margin: 10px 0;
    position: relative;

    .info {
      font-size: 14px;
      font-family: $fontDMSans;
      text-align: left;
      position: absolute;
      padding-top: 3px;
    }

    .betDescription {
      font-size: 15px;
      color: $colorGray;
      line-height: 16px;
      padding: 10px 0;
      text-align: justify;
      margin: 0 auto;
      width: fit-content;
    }
  }

  .description {
    color: $colorPrimary50;
    text-align: center;
    font-size: 15px;
    margin-bottom: 20px;
  }

  .switchableContainer {
    width: 100%;
    padding: 0 30px;
  }

  .placeBetContentContainer {
    display: flex;
    position: relative;
    flex-direction: column;
    margin: 0 0 6px 0;
    width: 100%;
    padding: $padding;

    .pickOutcomeContainer {
      display: flex;
      flex-direction: row;
      align-items: flex-start;
    }

    .tokenNumberInput {
      height: 60px;
      border-radius: 6px;
      background: $colorGrayLight;
      border: none;

      & > * {
        color: $colorPrimary;
      }
    }

    .labelWrapper {
      display: flex;
    }

    .label {
      color: $colorPrimaryDark;
      font-family: $fontDMSans;
      font-size: 14px;
      font-style: normal;
      font-weight: 500;
      line-height: 18px;
      letter-spacing: 0px;
      text-align: left;
      margin-bottom: 4px;
      display: block;
    }

    .tokenValueSelector {
      margin-top: 20px;
    }

    .buttonContainer {
      width: 100%;
      font-family: $fontDMSans;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 18px;

      &.sellButtonContainer {
        margin-top: 0;
      }
    }
  }

  .canceledErrorContainer {
    width: 100%;
    padding: $padding;

    .canceledErrorText {
      width: 100%;
      margin-bottom: 10px;
    }
  }

  .choiceContainer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;

    .choice {
      width: 100%;
      flex: 1 0 calc(50% - 16px);
      margin: 8px;
    }
  }

  .emptyChoiceSelector {
    width: 100%;
    flex: 1 0 calc(50% - 16px);
    margin: 8px;
  }

  .betButtonContainer {
    width: 100%;
    font-size: 16px;
    margin-bottom: auto;
    justify-content: center;
    padding: 0 40px;

    @media (max-width: $screen-xs) {
      padding: 0;
    }

    @media (min-width: $screen-sm) {
      margin-bottom: 20px;
      font-size: 23px;
    }

    .betButton {
      background-color: transparent;
      cursor: pointer;
      margin: 20px auto;
      width: 100%;

      @media (max-width: $screen-xs) {
        max-width: 300px;
        margin: 5px auto 20px;
      }

      &.sellButton {
        margin-left: 25%;
        margin-bottom: 20px;
        font-size: 16px;

        @media (min-width: $screen-sm) {
          font-size: 24px;
          width: 355px;
        }
      }
    }
  }

  .tradeDescTitle {
    font-size: 16px;
    font-family: $fontDMSans;
    font-weight: bold;
    margin-bottom: 5px;
  }

  .tradeDesc {
    font-family: $fontDMSans;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 17px;
    color: $colorGrayLight1;
    text-align: center;
    letter-spacing: 0.3px;
    padding: 0 7%;
    margin-bottom: 16px;
    width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;

    a {
      text-decoration: underline;
      color: $colorLightPurple;
    }
    &.hidden {
      -webkit-line-clamp: 3;
    }

    .evidenceDescription {
      padding-top: 10px;
    }
  }
  .tradeShortDesc {
    margin-bottom: 16px;
  }

  .seeMore {
    font-family: $fontDMSans;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    border: none;
    background: none;
    text-align: center;
    text-transform: capitalize;
    color: $colorLightPurple;
    cursor: pointer;
    margin: 10px 0;
    letter-spacing: 1px;

    &:hover {
      color: $colorPurple;
    }
  }

  &.closedStatus {
    .placeBetContentContainer,
    .betButton {
      opacity: 0.3;
    }
  }

  &.canceledStatus {
    .placeBetContentContainer,
    .betButton {
      opacity: 0.3;
      pointer-events: none;
    }
  }

  &.resolvedStatus {
    .placeBetContentContainer,
    .betButton {
      opacity: 0.3;
    }
  }
}

.timeLeftCounterContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  padding: 0 25px 10px;
  color: $colorWhite;
  font-size: 12px;

  //background: $colorWhite;
  //border: 1px solid $colorWhite17;
  //box-sizing: border-box;
  //border-radius: 10px;

  &.fixedTimer {
    position: fixed;
    bottom: 0;
    background-color: $colorPrimary90;
  }
}

.timerLabel {
  color: $colorWhite;
  font-family: $fontDMSans;
  font-size: 20px;
  margin-bottom: 5px;
}

.timerParts {
  display: flex;
  width: 100%;
  justify-content: center;
}

.tooltip {
  font-family: $fontDMSans;
  max-width: 180px;
  background-color: $colorLightPurple !important;
  color: $colorPrimary !important;
  text-align: left;
  font-size: 15px !important;

  &::after {
    border-top-color: $colorLightPurple !important;
  }
}

.dateTimeLabel {
  margin-top: 10px;
}

.resolvedBetLayout {
  display: flex;
  flex-flow: column;
  width: 100%;
  padding-bottom: 20px;
}

.resolutionData {
  text-align: center;
  margin-bottom: 20px;
  border-top: 1px solid $colorGrayLight4;
  &:last-of-type {
    margin-bottom: 0;
  }
  h3 {
    font-size: 16px;
    margin: 20px 0 10px;
  }
  p {
    color: $colorGrayLight1;
    &.smallText {
      font-size: 14px;
    }
  }
}

.stateBadgeContainer {
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
}

.disputeButtonContainer {
  display: flex;
  justify-content: center;
  padding-top: 20px;
}

// .nonStreamedQuestion {
//   @media screen and (min-width: 992px) {
//     display: none;
//   }
// }
