@import '../../styles/all';

.placeBetParentContainer {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding-top: 21px;
  background-color: $colorWhite;
  color: $colorPrimaryDark;
  border-radius: 10px;

  &.isPopup {
    padding-top: 0;
  }

  .backButton {
    position: fixed;
    top: 1rem;
    left: 0;
    padding: 1rem;
    background-color: $colorWhite;
    border-radius: 6px;
    display: flex;

    > :first-child {
      margin-right: 0.5rem;
    }
  }

  .placeBetContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;

    &.isPopup {
      margin-bottom: 70px;
    }
  }

  .loadingAnimationContainer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;

    .loadingAnimation,
    .loadingAnimationBackground {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      pointer-events: none;

      &.loadingAnimation {
        background-size: contain;
        background-position: center center;
        background-repeat: no-repeat;
      }

      &.loadingAnimationBackground {
        opacity: 0.9;
        background-color: $colorWhite;
      }
    }
  }

  .menuContainer {
    display: flex;
    position: absolute;
    align-items: center;
    top: 20px;
    right: 20px;
    z-index: 1;

    &.popupMenuContainer {
      top: 35px;
      right: 70px;
    }

    .currentBalanceContainer {
      display: flex;
      align-items: center;
      font-size: 16px;

      .currentBalanceIcon {
        margin-right: 11px;
      }
    }

    .menu {
      position: relative;
      margin-left: 20px;
      cursor: pointer;

      .menuIcon {
        opacity: 0.3;
        padding: 5px 15px;
        margin: -5px -15px 0 0;
        width: 40px;
      }

      .menuBox {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 25px;
        width: 200px;
        z-index: $zIndexBetMenu;
        right: 0;
        padding: 0 17px 0 19px;
        border-radius: 10px;
        background-color: $colorWhite;
        box-shadow: 0 1px 8px 0 $colorBlack10;

        &.menuBoxOpened {
          display: flex;
        }

        .menuItem {
          display: flex;
          flex-direction: row;
          align-items: center;
          width: 100%;
          padding: 12px 0;

          .menuInfoIcon {
            margin-right: 12px;
          }

          strong {
            font-family: $fontBold;
          }

          &:not(:last-child) {
            border-bottom: solid 0.5px $colorPrimary10;
          }
        }
      }
    }
  }

  .eventName {
    color: $colorGray;
    margin-bottom: 15px;
    font-size: 14px;
  }

  .betMarketQuestion {
    color: $colorPrimaryDark;
    text-align: center;
    font-family: $fontBold;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0px;
    padding: 0 16%;
    margin-bottom: 20px;
    position: relative;

    .info {
      font-size: 14px;
      font-family: $fontRegular;
      text-align: left;
      position: absolute;
      padding-top: 3px;
    }
  }

  .description {
    color: $colorPrimary50;
    text-align: center;
    font-size: 15px;
    margin-bottom: 20px;
  }

  .switchableContainer {
    width: 100%;
    padding: 0 30px;
  }

  .placeBetContentContainer {
    display: flex;
    position: relative;
    flex-direction: column;
    margin: 2rem 0 6px 0;
    width: 100%;
    padding: $padding;

    .pickOutcomeContainer {
      display: flex;
      flex-direction: row;
      align-items: flex-start;
    }

    .labelWrapper {
      display: flex;
    }

    .label {
      color: $colorPrimaryDark;
      font-family: $fontRegular;
      font-size: 14px;
      font-style: normal;
      font-weight: 500;
      line-height: 18px;
      letter-spacing: 0px;
      text-align: left;
      margin-bottom: 4px;
      display: block;
    }

    .tokenValueSelector {
      margin-top: 20px;
    }

    .buttonContainer {
      width: 100%;
      font-family: $fontBold;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 18px;

      &.sellButtonContainer {
        margin-top: 0;
      }
    }
  }

  .canceledErrorContainer {
    width: 100%;
    padding: $padding;

    .canceledErrorText {
      width: 100%;
    }
  }

  .choiceContainer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;

    .choice {
      width: 100%;
      flex: 1 0 calc(50% - 16px);
      margin: 8px;
    }
  }

  .emptyChoiceSelector {
    width: 100%;
    flex: 1 0 calc(50% - 16px);
    margin: 8px;
  }

  .betButtonContainer {
    width: 100%;
    font-size: 16px;
    margin-bottom: auto;
    display: contents;

    @media (min-width: $screen-sm) {
      margin-bottom: 20px;
      font-size: 23px;
    }

    .betButton {
      background-color: transparent;
      margin-bottom: 12px;
      cursor: pointer;
      width: 300px;

      &.sellButton {
        margin-left: 25%;
        margin-bottom: 20px;
        font-size: 16px;

        @media (min-width: $screen-sm) {
          font-size: 24px;
          width: 355px;
        }
      }
    }
  }

  .tradeDescTitle {
    font-size: 16px;
    font-family: $fontBold;
    margin-bottom: 5px;
  }

  .tradeDesc {
    font-family: $fontRegular;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 17px;
    color: $colorGrayLight1;
    text-align: center;
    letter-spacing: 0.3px;
    padding: 0 7%;
    margin-bottom: 16px;
    width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;

    a {
      text-decoration: underline;
      color: $colorPurple;
    }
    &.hidden {
      -webkit-line-clamp: 3;
    }

    .evidenceDescription {
      padding-top: 10px;
    }
  }
  .tradeShortDesc {
    margin-bottom: 16px;
  }

  .seeMore {
    font-family: $fontBold;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    border: none;
    background: none;
    text-align: center;
    text-transform: capitalize;
    color: $colorPurpleDark;
    cursor: pointer;
    margin: 10px 0;
    letter-spacing: 1px;

    &:hover {
      color: $colorPurple;
    }
  }

  &.closedStatus {
    .placeBetContentContainer,
    .betButton {
      opacity: 0.3;
    }
  }

  &.canceledStatus {
    .placeBetContentContainer,
    .betButton {
      opacity: 0.3;
      pointer-events: none;
    }
  }

  &.resolvedStatus {
    .placeBetContentContainer,
    .betButton {
      opacity: 0.3;
    }
  }
}

.timeLeftCounterContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 100%;
  padding: 10px 25px;
  color: $colorBlack;
  font-size: 12px;

  background: $colorWhite;
  border: 1px solid $colorWhite17;
  box-sizing: border-box;
  border-radius: 10px;

  &.fixedTimer {
    position: fixed;
    bottom: 0;
    background-color: $colorPrimary90;
  }
}

.timerLabel {
  color: $colorBlack60;
  font-family: $fontRegular;
  font-size: 16px;
}

.tooltip {
  font-family: $fontBold;
  max-width: 180px;
  background-color: $colorPrimary45 !important;
}

.dateTimeLabel {
  margin-top: 10px;
}

.resolvedBetLayout {
  display: flex;
  flex-flow: column;
  width: 100%;
  padding-bottom: 20px;
}

.resolutionData {
  text-align: center;
  margin-bottom: 20px;
  border-top: 1px solid $colorGrayLight4;
  &:last-of-type {
    margin-bottom: 0;
  }
  h3 {
    font-size: 16px;
    margin: 20px 0 10px;
  }
  p {
    color: $colorGrayLight1;
    &.smallText {
      font-size: 14px;
    }
  }
}

.stateBadgeContainer {
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
}

.disputeButtonContainer {
  display: flex;
  justify-content: center;
  padding-top: 20px;
}

.nonStreamedQuestion {
  @media screen and (min-width: 992px) {
    display: none;
  }
}
