@import '../../styles/all';

.placeBetContainer
{
    display:          flex;
    position:         relative;
    flex-direction:   column;
    align-items:      center;
    overflow:         hidden;
    height:           100%;
    width:            100%;
    padding-top:      60px;
    background-color: $colorWhite;
    color:            $colorPrimaryDark;
    border-radius:    10px;

    .loadingAnimationContainer
    {
        position: absolute;
        top:      0;
        left:     0;
        width:    100%;
        height:   100%;
        z-index:  2;

        .loadingAnimation,
        .loadingAnimationBackground
        {
            position: absolute;
            top:      0;
            left:     0;
            width:    100%;
            height:   100%;

            &.loadingAnimation
            {
                background-size:     contain;
                background-position: center center;
                background-repeat:   no-repeat;
            }

            &.loadingAnimationBackground
            {
                opacity:          1;           // TODO reset to 0.7 as soon as the animation has transparent background
                background-color: $colorWhite;
            }
        }
    }

    .currentBalanceContainer
    {
        display:     flex;
        position:    absolute;
        align-items: center;
        top:         20px;
        right:       20px;
        font-size:   16px;

        &.popupCurrentBalanceContainer
        {
            top:   35px;
            right: 70px;
        }

        .currentBalanceIcon
        {
            margin-right: 11px;
        }
    }

    .eventName
    {
        color:         $colorGray;
        margin-bottom: 15px;
        font-size:     14px;
    }

    .betMarketQuestion
    {
        color:         $colorPrimaryDark;
        font-family:   $fontBold;
        font-size:     24px;
        text-align:    center;
        margin-bottom: 10px;
    }

    .description
    {
        color:         $colorPrimary50;
        text-align:    center;
        font-size:     15px;
        margin-bottom: 20px;
    }

    .switchableContainer
    {
        width:   100%;
        padding: 0 30px;
    }

    .placeBetContentContainer
    {
        display:        flex;
        flex-direction: column;
        margin:         2rem 0;
        width:          100%;
        padding:        $padding;

        .label
        {
            color:         $colorPrimaryDark;
            font-size:     12px;
            text-align:    left;
            width:         100%;
            margin-bottom: 15px;
            display:       block;
        }

        .tokenValueSelector
        {
            margin-top: 20px;
        }

        .buttonContainer
        {
            width:      100%;
            margin-top: 45px;
        }
    }

    .choiceContainer
    {
        display:         flex;
        flex-wrap:       wrap;
        flex-direction:  row;
        justify-content: space-between;

        .choice
        {
            width:  100%;
            flex:   1 0 calc(50% - 16px);
            margin: 8px;
        }
    }

    .emptyChoiceSelector
    {
        width:  100%;
        flex:   1 0 calc(50% - 16px);
        margin: 8px;
    }

    .betButton
    {
        font-size:        16px;
        margin-top:       auto;
        background-color: transparent;

        @media (min-width: $screen-sm)
        {
            margin-bottom: 20px;
            font-size:     23px;
        }
    }

    .timeLeftCounterContainer
    {
        display:          flex;
        justify-content:  space-between;
        align-items:      center;
        flex-direction:   row;
        background-color: $colorPrimary;
        width:            100%;
        padding:          15px 30px;
        color:            $colorWhite;
        font-size:        12px;
    }

    &.activeStatus
    {
        .betStatusBadge
        {
            color:            #ff5858;
            background-color: #ffd1d1;
        }
    }

    &.closedStatus
    {
        .placeBetContentContainer,
        .betButton
        {
            opacity: 0.3;
        }

        .betStatusBadge
        {
            color:            #6751ec;
            background-color: #b8acff;
        }
    }

    &.canceledStatus
    {
        .placeBetContentContainer,
        .betButton
        {
            opacity: 0.3;
        }

        .betStatusBadge
        {
            color:            #0f002d;
            background-color: rgba(15, 0, 45, 0.31);
        }
    }

    &.resolvedStatus
    {
        .placeBetContentContainer,
        .betButton
        {
            opacity: 0.3;
        }

        .betStatusBadge
        {
            color:            #2dcb70;
            background-color: rgba(45, 203, 112, 0.27);
        }
    }
}
