@import '../../styles/all';

.placeBetParentContainer
{
    display:          flex;
    position:         relative;
    flex-direction:   column;
    align-items:      center;
    width:            100%;
    padding-top:      21px;
    background-color: $colorWhite;
    color:            $colorPrimaryDark;
    border-radius:    10px;

    &.isPopup {
        padding-top: 0;
    }

    .backButton {
        position:         fixed;
        top:              1rem;
        left:             0;
        padding:          1rem;
        background-color: $colorWhite;
        border-radius:    6px;
        display:          flex;

        > :first-child {
            margin-right: 0.5rem;
        }
    }

    .placeBetContainer
    {
        display:        flex;
        flex-direction: column;
        align-items:    center;
        width:          100%;
        height:         100%;
        overflow:       hidden;

        &.isPopup {
            margin-bottom: 70px;
        }
    }

    .loadingAnimationContainer
    {
        position: absolute;
        top:      0;
        left:     0;
        width:    100%;
        height:   100%;
        z-index:  2;

        .loadingAnimation,
        .loadingAnimationBackground
        {
            position:       absolute;
            top:            0;
            left:           0;
            width:          100%;
            height:         100%;
            pointer-events: none;

            &.loadingAnimation
            {
                background-size:     contain;
                background-position: center center;
                background-repeat:   no-repeat;
            }

            &.loadingAnimationBackground
            {
                opacity:          0.9;
                background-color: $colorWhite;
            }
        }
    }

    .menuContainer
    {
        display:     flex;
        position:    absolute;
        align-items: center;
        top:         20px;
        right:       20px;

        &.popupMenuContainer
        {
            top:   35px;
            right: 70px;
        }

        .currentBalanceContainer
        {
            display:     flex;
            align-items: center;
            font-size:   16px;

            .currentBalanceIcon
            {
                margin-right: 11px;
            }
        }

        .menu
        {
            position:    relative;
            margin-left: 20px;
            cursor:      pointer;

            .menuIcon
            {
                opacity: 30%;
            }

            .menuBox
            {
                display:          none;
                flex-direction:   column;
                position:         absolute;
                top:              25px;
                width:            200px;
                z-index:          $zIndexBetMenu;
                right:            0;
                padding:          0 17px 0 19px;
                border-radius:    10px;
                background-color: $colorWhite;
                box-shadow:       0 1px 8px 0 $colorBlack10;

                &.menuBoxOpened
                {
                    display: flex;
                }

                .menuItem
                {
                    display:        flex;
                    flex-direction: row;
                    align-items:    center;
                    width:          100%;
                    padding:        12px 0;

                    .menuInfoIcon
                    {
                        margin-right: 12px;
                    }

                    strong
                    {
                        font-family: $fontBold;
                    }

                    &:not(:last-child )
                    {
                        border-bottom: solid 0.5px $colorPrimary10;
                    }
                }
            }
        }
    }

    .eventName
    {
        color:         $colorGray;
        margin-bottom: 15px;
        font-size:     14px;
    }

    .betMarketQuestion
    {
        color:          $colorPrimaryDark;
        text-align:     center;
        font-family:    $fontBold;
        font-size:      18px;
        font-style:     normal;
        font-weight:    500;
        line-height:    24px;
        letter-spacing: 0px;
        padding:        0 16%;
    }

    .description
    {
        color:         $colorPrimary50;
        text-align:    center;
        font-size:     15px;
        margin-bottom: 20px;
    }

    .switchableContainer
    {
        width:   100%;
        padding: 0 30px;
    }

    .placeBetContentContainer
    {
        display:        flex;
        position:       relative;
        flex-direction: column;
        margin:         2rem 0 6px 0;
        width:          100%;
        padding:        $padding;

        .label
        {
            color:          $colorPrimaryDark;
            font-family:    $fontRegular;
            font-size:      14px;
            font-style:     normal;
            font-weight:    500;
            line-height:    18px;
            letter-spacing: 0px;
            text-align:     left;
            width:          100%;
            margin-bottom:  4px;
            display:        block;
        }

        .tokenValueSelector
        {
            margin-top: 20px;
        }

        .buttonContainer
        {
            width:          100%;
            font-family:    $fontBold;
            font-style:     normal;
            font-weight:    normal;
            font-size:      14px;
            line-height:    18px;

            &.sellButtonContainer
            {
                margin-top: 0;
            }
        }
    }

    .canceledErrorContainer
    {
        width:   100%;
        padding: $padding;

        .canceledErrorText
        {
            width: 100%;
        }
    }

    .choiceContainer
    {
        display:         flex;
        flex-wrap:       wrap;
        flex-direction:  row;
        justify-content: space-between;

        .choice
        {
            width:  100%;
            flex:   1 0 calc(50% - 16px);
            margin: 8px;
        }
    }

    .emptyChoiceSelector
    {
        width:  100%;
        flex:   1 0 calc(50% - 16px);
        margin: 8px;
    }

    .betButtonContainer
    {
        width:         100%;
        font-size:     16px;
        margin-bottom: auto;
        display: contents;

        @media (min-width: $screen-sm)
        {
            margin-bottom: 20px;
            font-size:     23px;
        }

        .tradeDesc
        {
            font-family:    $fontRegular;
            font-style:     normal;
            font-weight:    500;
            font-size:      12px;
            line-height:    17px;
            text-transform: capitalize;
            color:          $colorGrayLight1;
            text-align:     center;
            letter-spacing: 0.3px;
            padding:        0 7%;
        }
        .tradeShortDesc {
            margin-bottom: 16px;
        }

        .seeMore
        {
            font-family:    $fontBold;
            font-style:     normal;
            font-weight:    bold;
            font-size:      12px;
            border:         none;
            background:     none;
            text-align:     center;
            text-transform: capitalize;
            color:          $colorPurpleDark;
            cursor:         pointer;
            margin:         10px 0;
            letter-spacing: 1px;

            &:hover
            {
                color:          $colorPurple;
            }
        }

        .betButton
        {
            background-color:   transparent;
            margin-bottom:      12px;
            cursor: pointer;

            &.sellButton
            {
                margin-left:   25%;
                margin-bottom: 20px;
                font-size:     16px;

                @media (min-width: $screen-sm)
                {
                    font-size: 24px;
                }
            }
        }
    }

    .summaryRowContainer
    {
        display:        flex;
        flex-direction: column;
        width:          100%;
        padding:        0 30px 20px;

        .walletLink
        {
            display:         inline-flex;
            flex-direction:  row;
            text-decoration: none;
            border-bottom:   1px solid $colorPrimary;
            margin-left:     auto;
            cursor:          pointer;

            .walletLinkIcon
            {
                width:       auto;
                display:     inline-block;
                margin-left: 5px;
            }
        }

        .confettiLeft,
        .confettiRight
        {
            position:       absolute;
            pointer-events: none;

            &.confettiLeft
            {
                left:   -30px;
                bottom: 40px;
            }

            &.confettiRight
            {
                right:  -100px;
                bottom: 180px;
            }
        }
    }

    &.closedStatus
    {
        .placeBetContentContainer,
        .betButton
        {
            opacity: 0.3;
        }
    }

    &.canceledStatus
    {
        .placeBetContentContainer,
        .betButton
        {
            opacity:        0.3;
            pointer-events: none;
        }
    }

    &.resolvedStatus
    {
        .placeBetContentContainer,
        .betButton
        {
            opacity: 0.3;
        }
    }
}

.timeLeftCounterContainer
{
    display:            flex;
    justify-content:    space-between;
    align-items:        center;
    flex-direction:     row;
    width:              100%;
    padding:            7px 15px;
    color:              $colorWhite;
    font-size:          12px;

    background:         $colorPrimary45;
    border:             1px solid $colorWhite17;
    box-sizing:         border-box;
    border-radius:      10px;
    margin-top:         5px;

    &.fixedTimer {
        position: fixed;
        bottom: 0;
        background-color: $colorPrimary90;
    }
}

.tooltip {
    font-family: $fontBold;
    max-width: 180px;
    background-color: $colorPrimary45 !important;
}