@import '../../styles/all';

.walletsContainer {
  padding: 20px 0;
}
.modalHeaderDesc {
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  font-family: $fontDMSans;
  text-align: center;
  margin: 10px 0px 36px;
  padding: 0 15px;

  .mainHeader {
    display: block;
    font-size: 27px;
  }

  .subHeader {
    display: block;
    font-size: 14px;
    margin-top: 10px;
    color: rgba(255, 255, 255, 0.442297);
    font-weight: normal;
  }
}

.accountInfo {
  color: #fff;
}

.modalHeaderTitle {
  display: flex;
  align-items: center;

  h1 {
    color: $colorBlack;
    font-size: 28px;
    font-family: $fontDMSans;
    margin-left: 15px;

    @media (max-width: 600px) {
      font-size: 20px;
    }
  }
}

.optionsWrap {
  margin-top: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  color: #fff;
  flex-direction: column;

  .optionWrap {
    width: 100%;
    max-width: 250px;
    height: 50px;
    border-radius: 4px;
    padding: 0 30px;
    cursor: pointer;

    .optionMain {
      display: inline-flex;
      align-items: center;
      justify-content: flex-start;
      width: 90%;
      height: 100%;
    }

    &.MetaMask {
      background-color: rgba(255, 255, 255, 1);
      color: #000;
    }

    &.WalletConnect {
      background-color: rgba(63, 149, 251, 1);
      color: #fff;
    }

    &.GnosisSafe {
      background-color: rgba(1, 140, 115, 1);
      color: #fff;
    }

    &:hover {
      &.MetaMask {
        background-color: rgba(255, 255, 255, 0.8);
      }

      &.WalletConnect {
        background-color: rgba(63, 149, 251, 0.8);
      }

      &.GnosisSafe {
        background-color: rgba(1, 140, 115, 0.8);
      }
    }

    &:not(:last-child) {
      margin-bottom: 10px;
    }

    img {
      margin-right: 15px;
      max-width: 25px;
      max-height: 25px;

      &.chevronRight {
        margin-right: 0;
        position: absolute;
        margin: 18px;
      }
    }
  }
}
.optionsWrap.optionsError {
  display: block;
  text-align: center;

  strong {
    display: inline-block;
    font-size: 24px;
    font-family: $fontDMSans;
    text-align: center;
    position: relative;
    align-self: center;
    margin-bottom: 25px;
    color: #fff;

    z-index: 2;
    &::after {
      content: '';
      position: absolute;
      width: calc(100% - 15px);
      bottom: -8px;
      left: 50%;
      transform: translateX(-50%);
      height: 5px;
      background-color: $colorRedLighter;
      border-top-left-radius: 10px;
      border-bottom-right-radius: 10px;
    }
  }

  span {
    display: block;
    color: $colorRedLight !important;
    font-family: $fontDMSans;
  }
}

.installLink {
  display: block;
  margin-top: 20px;
  padding: 10px 0;
  background: url('../../data/backgrounds/buttons/button-l.svg');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
}

.installButtonContent {
  display: flex;
  justify-content: center;
  align-items: center;
}

.colorGrey {
  font-size: 11px;
  color: #767493;
  width: 100%;
  margin-top: 50px;
  text-align: center;

  .descLink {
    color: #fff;
    text-decoration: underline;
  }
}
