@import '../../styles/all';

.layout {
  padding: 0px 15%;

  @media screen and (max-width: $screen-sm) {
    padding: 20px;
  }
}

.text {
  color: $colorWhite;
  font-size: 16px;
}

.section {
  display: flex;
  margin: 50px 0px;

  @media screen and (max-width: 1200px) {
    display: block;

    img {
      display: none;
    }
  }
}

.sectionNumber {
  width: 85px;
  height: 56px;
  margin: 0 33px 67px 0;
  opacity: 0.16;
  -webkit-text-stroke: 1px #fff;
  font-size: 77px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 0.73;
  letter-spacing: 1.4px;
  color: rgba(255, 255, 255, 0);
}

.sectionHeading {
  color: $colorWhite;
  font-size: 36px;
  margin-bottom: 36px;

  @media screen and (max-width: $screen-sm) {
    margin-top: 36px;
  }
}

.textContainer {
  flex: 1;
  margin-right: 50px;

  @media screen and (max-width: $screen-sm) {
    margin: 0px;
  }
}

.textParagraph {
  color: $colorWhite;
  font-size: 16px;
  opacity: 0.6;
  line-height: 1.4;
}

.sectionImage {
  align-self: flex-start;
}
