@import '../../styles/all';

.lightbox {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 11px;
  color: $colorWhite;
  width: calc(100% - 40px);
  padding: 10px;
  margin: 0 auto;
  margin-top: 40px;

  &.hidden {
    display: none;
  }

  .content {
    opacity: 0.6;
    line-height: 17px;
    text-align: justify;

    & .readmore {
      text-decoration: underline;
    }

    & p:first-child {
      font-weight: bold;
      line-height: 30px;
      text-align: center;
    }

    a {
      text-decoration: none;

      &:hover {
        opacity: 1;
      }
    }
  }

  .closeButton {
    position: absolute;
    cursor: pointer;
    top: 10px;
    right: 10px;
    width: 15px;
    height: 15px;
  }
}
