@import '../../styles/all';

.kycInfoContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  p {
    color: $colorWhite;
    font-size: 16px;
    line-height: 30px;
    padding: 5px;
    margin-bottom: 20px;
  }

  .button {
    margin-top: 30px;
  }
  .group {
    width: 100%;
    padding: 4px 10px;

    label {
      display: block;
      font-size: 14px;
      font-weight: 600;
      color: $colorLightYellow;
      margin: 14px 0;
      text-align: left;
    }

    p {
      text-indent: 16px;
      border-radius: 4px;
      background-color: $colorGrayLight3;
      text-align: left;
      font-size: 14px;
      font-weight: 500;
      color: $colorPrimary;

      &.approved {
        background-color: $colorLightGreen;
      }
      &.rejected,
      &.error {
        background-color: $colorRedLight;
      }
      &.pending {
        background-color: $colorGrayLight;
      }

      &.warning {
        text-indent: 0;
        background-color: transparent;
        color: $colorRedLight;
        line-height: 20px;
      }
    }
  }
}
