@import '../../styles/all';

.timePartContainer {
  display: inline-block;
  // min-width: 16px;
  margin: 0 2px 0 5px;
  font-size: 16px;
  font-weight: $fontBold;
  color: $colorWhite;
  text-align: right;
}

.timePartName {
  min-width: 25px;
  font-size: 10.5px;
  font-weight: normal;
  color: $colorWhite;
}
