@import '../../styles/all';

.timePartContainer {
    display: inline-block;
    min-width: 16px;
    margin: 0 7px;
    font-size: 16px;
    font-weight: bold;
    color: $colorWhite;
    text-align: right;
}

.timePartName {
    min-width: 25px;
    opacity: 0.3;
    font-size: 10.5px;
    font-weight: normal;
    color: $colorWhite;
}
