@import '../../styles/all';

.elonGameWrapper {
  padding: 30px;

  @media (max-width: $screen-md) {
    padding: 0 150px 15px;
  }

  @media (max-width: $screen-sm) {
    padding: 0 100px 15px;
  }

  @media (max-width: $screen-xs) {
    padding: 0 15px 15px;
  }

  .headerTitle {
    color: $colorWhite;
    font-family: $fontRegular;
    font-size: 24px;
    font-weight: 700;
    padding-bottom: 20px;
  }

  .elonGameContainer {
    border-radius: 20px;
    border: 2px solid rgba(255, 255, 255, 0.1);
    display: flex;
    height: 304px;
    // background: #14152e;
    background-image: url('../../data/backgrounds/games/elon-game-desktop-howto.jpg');
    background-repeat: no-repeat;
    background-size: contain;

    @media (max-width: $screen-md) {
      background-image: url('../../data/backgrounds/games/elon-game-banner.png');
    }
  }
}
