@import '../../styles/all';

.elonGameWrapper {
  padding: 30px 0;

  @media (max-width: $screen-lg) {
    padding: 0 20px;
  }

  @media (max-width: $screen-xs) {
    padding: 0 15px 15px;
  }

  .headerTitle {
    color: $colorBlack;
    font-family: $fontDMSans;
    font-size: 33px;
    font-weight: 700;
    padding-bottom: 20px;

    @media (max-width: $screen-xs) {
      font-size: 28px;
    }
  }

  .elonGameContainer {
    border-radius: 20px;
    border: 2px solid rgba(255, 255, 255, 0.1);
    display: flex;
    height: 312px;
    // background: #14152e;
    background-image: url('../../data/backgrounds/games/elon-game-desktop-howto.jpg');
    background-repeat: no-repeat;
    background-size: contain;

    @media (max-width: $screen-md) {
      background-position-x: center;
      background-image: url('../../data/backgrounds/games/elon-game-banner.png');
    }
  }
}
