@import '../../styles/all';

.container {
  width: 100%;
  margin: 0 auto;

  @media (min-width: $screen-lg) {
    max-width: 1270px;
  }
}

.blogsContainer {
  padding: 30px;

  @media (max-width: $screen-md) {
    padding: 0 30px 15px;
  }

  @media (max-width: $screen-sm) {
    padding: 0 20px 15px;
  }

  @media (max-width: $screen-xs) {
    padding: 0 15px 15px;
  }
}

.blogs {
  display: flex;
  //   flex-direction: column;
  flex-wrap: wrap;
  gap: 33px;
  width: 100%;

  @media (max-width: $screen-md) {
    justify-content: center;
  }
}
