@import '../../styles/all';

.alertBoxContainer {
  position: fixed;
  width: 100%;
  left: 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  z-index: $zIndexAlertContainer;
  pointer-events: none;
  top: 95px;
  align-items: flex-end;
  padding-right: 10px;

  @media (max-width: $screen-sm) {
    top: 60px;
    padding-right: 0;
  }

  .alertContainer {
    color: $colorWhite;
    background: $colorLightPink;
    border-radius: 10px;
    align-items: center;
  }

  > div {
    border: 1px solid $colorPrimary;
    animation: movein 0.5s ease-out forwards, moveout 0.5s 7.6s ease-in forwards;
    right: -500px;

    margin: 0 0 20px 0;
    position: relative;
    width: 450px;
    height: auto;
    pointer-events: all;
    display: flex;
    justify-content: flex-start;
    overflow: hidden;

    @media (max-width: $screen-sm) {
      max-width: calc(100% - 5px);
    }

    .alertIcon,
    .closeIcon {
      width: 24px;
      height: 24px;
      margin: 15px;

      * {
        stroke: $colorPrimary;
      }

      &.alertIcon {
        margin-right: 0;

        * {
          stroke: $colorWhite;
          fill: $colorWhite;
        }
      }

      &.closeIcon {
        cursor: pointer;
      }
    }

    .alertMessage {
      flex: 1;
      font-family: $fontBold;
      padding: 8px 12px;
      font-size: 14px;
    }
  }
}

@keyframes movein {
  0% {
    right: -500px;
    opacity: 0;
  }
  40% {
    opacity: 0;
  }
  100% {
    right: 0px;
    opacity: 1;
  }
}

@keyframes moveout {
  0% {
    right: 0px;
    opacity: 1;
  }

  80% {
    opacity: 0;
  }
  100% {
    right: -500px;
  }
}
