@import '../../styles/all';

.container {
  background: #1f1d38;
  border: 1px solid rgba(255, 255, 255, 0.17);
  border-radius: 10px;
  margin-bottom: 8px;
  padding: 7px 20px;
  margin-top: -10px;

  .title {
    display: inline-block;
    color: $colorWhite;
    width: 30%;

    @media screen and (max-width: $screen-sm) {
      width: 50%;
    }
  }

  .crashes {
    display: inline-flex;
    align-items: center;
    overflow-x: hidden;
    width: 70%;
    position: relative;
    @media screen and (max-width: $screen-sm) {
      width: 50%;
      overflow-x: hidden;
    }
  }
  .overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(270deg, #1f1d38 0%, rgba(9, 9, 121, 0) 50%);
    z-index: 2;
  }

  .crash {
    color: $colorYellow;
    margin-right: 50px;

    @media screen and (max-width: $screen-sm) {
      margin-right: 30px;
    }
  }
}
