@import '../../styles/all';

.wallet {
    color: $colorWhite;
    padding: 90px 24px 0;
    height: 100vh;
    display: flex;
    flex-flow: nowrap column;

    .walletHeading {
        font-size: 24px;
        margin: 0 0 50px;
        display: flex;
    }
    .walletContents {
        overflow-y: auto;
        padding-bottom: 30px;
    }

    .referrals {
        .optionIcon {
            transform: scale(0.8);
        }
    }
    .transactionHistory {
        .optionIcon {
            svg rect {
                fill: transparent;
            }
        }
    }

    .arrowIcon {
        margin-left: auto;
        width: auto;
    }
    .closeButton {
        @extend .floatingCloseButton;
        @media screen and (min-width: $screen-sm) {
            display: none;
        }
    }

    .buy {
        color: #ff5858;
        letter-spacing: 0.35px;
        &::before {
            content: '- ';
        }
    }
    .payout,
    .refund,
    .sell {
        color: #acffce;
        letter-spacing: 0.35px;
        &::before {
            content: '+ ';
        }
    }

    .referralLink {
        background-color: rgba(172, 196, 255, 0.1)!important;
        margin-bottom: 24px;
    }

    .menuContainer {
        position: relative;
        overflow: hidden;
        height: 100%;
    }

    .panel {
        transition: 0.5s ease-in-out;
        transition-property: transform, opacity;
        position: absolute;
        width: 100%;
        opacity: 1;
        height: calc(100vh - 90px);
        display: flex;
        flex-flow: column;

        @supports (-webkit-touch-callout: none) {
            height: calc(100vh - 150px);
        }
    }
    .panelHidden {
        opacity: 0;
        transform: translateX(110%);
    }
    .firstPanel {
        &.panelHidden {
            transform: translateX(-110%);
        }
    }

    .switchablePayment {
        border-bottom: 1px solid rgba(255, 255, 255, 0.3);
        -webkit-background-clip: padding-box;
        background-clip: padding-box;
        padding: 0px 80px;
        margin-top: 40px;

        @media (max-width: $screen-sm) {
            padding: 0;
        }
    }

    .myTradesContainer {
        margin-top: 40px;
        padding-bottom: 80px;
    }
}
