@import '../../styles/all';

.container {
  width: 100%;
  margin: 0 auto;

  @media screen and (max-width: $screen-xs) {
    display: block;
    padding: 0 20px;
  }

  @media (min-width: $screen-lg) {
    max-width: 1300px;
  }
}

.content {
  padding-left: 20px;
  padding-right: 20px;
  flex: 1;

  .headlineWrapper {
    display: flex;
    position: relative;
    align-items: center;

    .howtoLink {
      padding-bottom: 20px;
      cursor: pointer;
      font-size: 11px;
      font-family: $fontRegular;
      text-decoration: underline;
      color: $colorYellow;

      @media (max-width: $screen-xs) {
        display: none;
        margin: 0;
        width: 100%;
        padding: 0 15px 15px;
      }
    }
    .shareButton {
      padding-right: 10px;
    }

    .questionIcon {
      cursor: pointer;
      display: none;
      margin-bottom: 20px;
      width: 25px;
      height: 25px;

      svg {
        g,
        path,
        circle {
          fill: $colorYellow;
        }
      }

      @media (max-width: $screen-xs) {
        display: none;
      }
    }
  }

  @media screen and (max-width: $screen-xs) {
    padding-left: 0px;
    padding-right: 0px;

    & .betFooter {
      display: none;
    }
  }
  .mainContainer {
    display: flex;
    @media (max-width: $screen-md) {
      flex-direction: column;
    }
    .leftContainer {
      width: calc(100% - 370px);
      @media (max-width: $screen-md) {
        width: 100%;
      }
    }
    .rightContainer {
      width: 370px;
      padding-left: 14px;
      @media (max-width: $screen-md) {
        padding-left: 0px;
        width: 100%;
        margin-top: 7px;
      }
      .placeContainer {
        display: flex;
        flex-direction: column;
        @media (max-width: $screen-md) {
          height: 100%;
        }
      }
    }
  }

  .banner {
    margin-top: 50px;
    background-image: url('../../data/backgrounds/games/alpaca-wallpaper-banner.png');
    min-height: 208px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: contain;

    @media (max-width: $screen-lg) {
      padding: 20px;
      min-height: unset;
      height: 200px;
    }

    @media (max-width: $screen-md) {
      padding: 20px;
      min-height: unset;
      height: 150px;
    }

    @media (max-width: $screen-sm) {
      background-image: url('../../data/backgrounds/games/alpaca-wallpaper-banner.png');
      height: 100%;
      background-position: center;
      padding: 80px;
    }

    @media (max-width: $screen-xs) {
      padding: 40px;
    }
  }
}

.sidebar {
  width: 320px;

  @media screen and (max-width: $screen-xs) {
    width: 100%;
  }
}

.bottomWrapper {
  display: flex;
  flex-direction: row;
}
.chatWrapper {
  margin-top: 32px;
  width: 96%;
  // padding-right: 7px;
  background: #fff;
  border-radius: 10px;
  color: #000;
  border: 1px solid #ededed;

  @media screen and (max-width: $screen-xs) {
    margin-bottom: 20px;
  }
}

.chatContainer {
  height: 312px;
  border-radius: 10px;
  margin: 0px;
  // padding: 10px;

  .chatMessageContainer {
    @media (max-width: $screen-sm) {
      margin-bottom: 0;
    }
  }
}

.activityWrapper {
  margin: auto;
  margin-top: 32px;
  width: 97%;
  border-radius: 10px;
  // padding-left: 7px;
  background: #fff;
  border: 1px solid #ededed;

  @media screen and (max-width: $screen-xs) {
    margin-bottom: 20px;
  }
  .activityContainer {
    position: relative;
    color: #000;
    height: 312px;
    border-radius: 10px;
    margin: 0px;
    // padding: 10px;

    .chatMessageContainer {
      @media (max-width: $screen-sm) {
        margin-bottom: 0;
      }
    }

    .inactivePlaceholder {
      position: absolute;
      top: 45%;
      left: 50%;
      transform: translate(-50%, -50%);
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 24px;
      font-family: $fontMedium;
      color: #f2ff53;
      font-weight: 700;
    }
  }
}

.activitiesTrackerGamesBlock {
  height: 100%;
}

.tabLayout {
  display: flex;
  align-items: flex-end;
  color: $colorWhite;
  font-family: $fontRegular;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 18px;
  padding-top: 24px;
  // margin-left: 16px;
  border-bottom: 1px solid #878593;
  @media (max-width: $screen-sm) {
    margin-left: 0px;
    justify-content: space-between;
    font-size: 11px;
    line-height: 14px;
  }

  .tabItem {
    text-align: center;
    padding-bottom: 10px;
    opacity: 0.3;
    cursor: pointer;
  }

  .tabItemSelected {
    text-align: center;
    padding-bottom: 10px;
    // border-bottom: 2px solid #f1ff54;
    opacity: 1;
    cursor: pointer;
  }
}
