@import '../../styles/all';

.popupFullScreenContainer
{
    display:          flex;
    align-items:      center;
    justify-content:  center;
    position:         fixed;
    top:              0;
    left:             0;
    width:            100vw;
    height:           100vh;
    height:           -webkit-fill-available;
    z-index:          $zIndexPopup;
    background-color: $colorPrimary50;

    &.hidden
    {
        display: none;
    }

    > *
    {
        overflow: hidden;
    }

    .popupContainer
    {
        position:         relative;
        width:            100%;
        height:           100%;
        background-color: $colorWhite;
        overflow-y:       scroll;

        @media (max-width: $screen-sm)
        {
            &.signUpPopupContainer {
                border-radius: 30px 30px 0 0;
                position: absolute;
                bottom: 0;
                height: 60%;
            }

            &.tradeViewContainer {
                border-radius: 30px 30px 0 0;
                position: absolute;
                bottom: 0;
                height: 90%;

                .closeButton
                {
                    position: sticky;
                    left: 30px;
                }
            }
        }

        @media (min-width: $screen-sm)
        {
            width:         80%;
            height:        90%;
            border-radius: 10px;
            overflow-y:    hidden;

            @media (min-height: 900px)
            {
                height: 80%;
            }

            &.signUpPopupContainer {
                width: 40%;
                height: 40%;
            }
        }

        @media (min-width: $screen-lg)
        {
            width:         70%;
            border-radius: 10px;

            @media (min-height: 1200px)
            {
                height: 60%;
            }
            &.signUpPopupContainer {
                width: 40%;
                height: 40%;
            }
        }

        .closeButton
        {
            z-index:  $zIndexPopup + 1;
            cursor:   pointer;
            position: absolute;
            top:      30px;
            right:    30px;
        }

        .popupContentContainer
        {
            display: block;
            width:   100%;
            height:  100%;
        }
    }
}
