@import '../../styles/all';

.modal {
  position: fixed;
  top: 0;
  left: 0;
  //display: none;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  outline: 0;
  z-index: $zIndexPopup;

  &.disclaimerContainer {
    height: 100vh;
    @media (orientation: landscape) {
      overflow-y: auto;
    }

    @media (orientation: portrait) {
      overflow-y: auto;
    }
  }

  .modalContent {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    pointer-events: auto;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 30px;
    outline: 0;
  }

  .modalDialog {
    position: relative;
    width: auto;
    max-width: 600px;
    margin: 30px auto;

    min-height: calc(100vh - 60px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    // overflow: auto;
    pointer-events: none;
    @media (max-width: $screen-sm) {
      max-width: calc(100% - 20px);
    }

    &.walletBuyWfair {
      max-width: 700px;
    }

    &.signUpNotificationPopupContainer,
    &.welcomeContainer,
    &.usernamePopup,
    &.alpacaBuilderPopup {
      overflow: visible;
    }

    //here specific popup sizes per type, if needed
    &.small {
      max-width: 500px;
      height: auto;
    }

    &.maxWidth {
      max-width: max-content;
      width: auto;
      height: auto;

      @media (max-width: $screen-md) {
        max-width: calc(100vw - 15px);
      }
    }

    &.disclaimerContainer {
      max-width: 800px;
      height: auto;
    }

    &.registrationPopupContainer {
      width: auto;
      max-width: max-content;
      overflow: visible;
    }

    &.explanationPopupVisual {
      max-width: max-content;
      width: auto;
      height: auto;
      padding: 0 30px;

      @media (max-width: $screen-sm) {
        padding: 0 15px;
      }
    }

    &.alphaPlatformPopupVisual {
      max-width: max-content;
      width: auto;
      height: auto;
      padding: 0 30px;

      @media (max-width: $screen-sm) {
        padding: 0 15px;
      }
    }

    &.alpacaBuilderPopup {
      max-width: 1000px;
      width: 1000px;
    }

    @media (max-width: $screen-sm) {
      min-height: calc(100vh - 20px);

      &.welcomeContainer {
        min-height: calc(100vh - 100px);
      }

      &.disclaimerContainer {
        min-height: calc(100vh - 25%);
      }
    }
  }

  &.explanationContainer {
    @media (max-width: $screen-sm) {
      min-height: 100vh;
    }
  }

  &.hidden {
    display: none;
  }

  .closeButtonContainer {
    position: absolute;
    top: 20px;
    right: 20px;

    .closeButton {
      z-index: $zIndexPopup + 1;
      cursor: pointer;
    }
  }
}

.modalBackdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1040;
  width: 100vw;
  height: 100vh;
  //background-color: #000;
  background-color: $colorPrimary50;
  opacity: 1;

  &.hidden {
    display: none;
  }
}
