@import '../../styles/all';

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  outline: 0;
  z-index: $zIndexPopup;

  &.disclaimerContainer {
    height: 100vh;
    @media (orientation: landscape) {
      overflow-y: auto;
    }

    @media (orientation: portrait) {
      overflow-y: auto;
    }
  }

  .modalContent {
    position: relative;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    pointer-events: auto;
    background-clip: padding-box;
    outline: 0;
    border-radius: 6px;
    background: $colorWhite;
    padding: 50px 30px 30px;
    max-width: calc(100vw - 30px);
    min-height: 280px;
    min-width: 290px;

    & > * {
      // correct depth hierarchy
      z-index: 2;
      position: relative;
    }

    @media screen and (min-width: $screen-sm) {
      padding: 50px;
    }

    @media screen and (min-width: $screen-xs) {
      max-width: max-content;
    }
  }

  .modalDialog {
    position: relative;
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    pointer-events: none;
    min-height: 100vh;
    margin: 0 auto;
    padding: 50px 0 10px;

    &.walletBuyWfair {
      max-width: 700px;

      .modalContent {
        min-height: 650px;
      }
    }

    &.walletDeposit {
      max-width: 320px;

      &.depositWider {
        max-width: 414px;
      }

      .modalContent {
        min-height: 430px;
        padding: 30px;
      }
    }

    &.signUpNotificationPopupContainer,
    &.welcomeContainer,
    &.usernamePopup {
      overflow: visible;
    }

    //here specific popup sizes per type, if needed
    &.small {
      max-width: 500px;
      height: auto;
    }

    &.maxWidth {
      max-width: max-content;
      width: auto;
      height: auto;

      @media (max-width: $screen-md) {
        max-width: calc(100vw - 15px);
      }
    }

    &.disclaimerContainer {
      max-width: 800px;
      height: auto;
    }

    &.explanationPopupVisual {
      max-width: max-content;
      width: auto;
      height: auto;
      padding: 0 30px;

      @media (max-width: $screen-sm) {
        padding: 0 15px;
      }
    }

    &.alphaPlatformPopupVisual {
      max-width: max-content;
      width: auto;
      height: auto;
      padding: 0 30px;

      @media (max-width: $screen-sm) {
        padding: 0 15px;
      }
    }

    @media (max-width: $screen-sm) {
      &.welcomeContainer {
        min-height: calc(100vh - 100px);
      }

      &.disclaimerContainer {
        min-height: calc(100vh - 25%);
      }
    }
  }

  &.explanationContainer {
    @media (max-width: $screen-sm) {
      min-height: 100vh;
    }
  }

  &.hidden {
    display: none;
  }

  .closeButtonContainer {
    position: absolute;
    top: 5px;
    right: 5px;

    .closeButton {
      z-index: $zIndexPopup + 1;
      cursor: pointer;

      svg > path {
        opacity: 1;
        stroke: $mainAction;
        stroke-opacity: 1;
      }
    }
  }
}

.modalBackdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1040;
  width: 100vw;
  height: 100vh;
  background-color: $colorPrimary90;
  opacity: 1;

  &.hidden {
    display: none;
  }
}
