$colorBlack60: rgba(0, 0, 0, 0.6);
$colorBlack10: rgba(0, 0, 0, 0.1);
$colorBlack: #000000;
$colorBlue: #2a68ff;
$colorGray: #b0b0b0;
$colorGrayLight: #f1f2f6;
$colorGrayLight1: #868493;
$colorGrayLight2: #bebebe;
$colorGrayLight3: #f7f7f7;
$colorGrayLight4: #e7e8ee;
$colorGrayLight5: #eaeaef;
$colorGrayLight6: #e9e9e9;
$colorGrayLight7: #f1f1f1;
$colorGrayLight8: #7d7d7d;
$colorGrayLight9: #a2acb2;
$colorGreen: #21ee00;
$colorGreenFlash: #c0ffaa;
$colorGreenDarker: #16972a;
$colorGreen20: #2dcb7033;
$colorGreen30: rgba(45, 203, 112, 0.3);
$colorLightPurple: #acc4ff;
$colorMint: #acffce;
$colorPrimary05: rgba(14, 9, 39, 0.05);
$colorPrimary10: rgba(14, 9, 39, 0.1);
$colorPrimary45: #2d2d4c;
$colorPrimary50: rgba(14, 9, 39, 0.5);
$colorPrimary66: rgba(14, 9, 39, 0.66);
$colorPrimary90: rgba(14, 9, 39, 0.9);
$colorPrimary: #00092b;
$colorPrimaryDark: #120e27;
$colorPrimaryLight20: rgba(2, 6, 30, 0.2);
$colorPrimaryLight: #192240;
$colorPurple: #a44dff;
$colorPurpleDark: #6751ec;
$colorPurpleLight: #b8acff;
$colorPurpleLighterShade: #e9e5ff;
$colorRed30: rgba(255, 88, 88, 0.3);
$colorRed: #ee0000;
$colorRedLighter: #ffd1d1;
$colorRedLighter30: rgba(255, 209, 209, 0.3);
$colorRedDark: #c00000;
$colorRedLight: #ff5858;
$colorWhite10: rgba(255, 255, 255, 0.1);
$colorWhite17: rgba(255, 255, 255, 0.17);
$colorWhite30: rgba(255, 255, 255, 0.3);
$colorWhite50: rgba(255, 255, 255, 0.5);
$colorWhite70: rgba(255, 255, 255, 0.8);
$colorWhite20: rgba(255, 255, 255, 0.2);
$colorWhite: #ffffff;
$colorYellow: #e2ff54;
$colorYellowFlash: rgb(238, 250, 175);
$colorYellowLight: #f6ff54;
$colorYellowAdjusted: #f6ff54;
$colorDarkSlateGray: #252441;
$colorOrangeLight: #ffa654;
$colorOrangeLight20: #ffa65433;
$colorPinkLight: #f853fb;
$colorPinkLight20: #f853fb33;
$colorFlamingo: #6751ec;
$colorFlamingo20: #6751ec33;
$colorSkyBlue: #00d1ff;
$colorSkyBlueLighterShade: #e6fbff;
$colorGreenLigherShade: #eefbf3;
$colorBackgroundShadeLighter: #22233e;
$colorPinkDark: #e82e89;
$colorLightDark2: #b67e0b;
$colorLightGray: #ededed;
$colorLightGray1: #f5f7fb;
$colorLightGray2: #878593;
$colorLightGray3: #f8f7fa;
$colorLightGray4: #7a7979;
$colorLightPink: #e73089;
$colorLightYellow: #ffd401;
$colorLightGreen: #21ee00;
$sectionHeaderColor: #7879f1;
$mainAction: #ffd401;
$alpacaPink: #e72d89;
$colorBackground: #00092b;
$colorBlueLight: #84b1e914;
