$colorBlack60:        rgba(0, 0, 0, .6);
$colorPrimaryDark:    #120e27;
$colorGray:           #b0b0b0;
$colorGrayLight:      #f1f2f6;
$colorPrimary66:      rgba(14, 9, 39, 0.66);
$colorPrimary:        #0e0927;
$colorPrimaryLight20: rgba(2, 6, 30, 0.20);
$colorPrimaryLight:   #02061e;
$colorRed:            #ff5858;
$colorRedDark:        #c00000;
$colorRedLight:       #ff5858;
$colorWhite:          #ffffff;
$colorYellow:         #e2ff54;
$colorYellowLight:    #f6ff54;
