$colorGrayLight:    #f1f2f6;
$colorPrimary:      #0e0927;
$colorPrimaryLight: #02061e;
$colorYellow:       #e2ff54;
$colorYellowLight:  #f6ff54;

:export
{
    colorGrayLight:    $colorGrayLight;
    colorPrimary:      $colorPrimary;
    colorPrimaryLight: $colorPrimaryLight;
    colorYellow:       $colorYellow;
    colorYellowLight:  $colorYellowLight;
}