$colorBlack60: rgba(0, 0, 0, 0.6);
$colorBlack10: rgba(0, 0, 0, 0.1);
$colorBlack: #000000;
$colorBlue: #2a68ff;
$colorGray: #b0b0b0;
$colorGrayLight: #f1f2f6;
$colorGrayLight1: #868493;
$colorGrayLight2: #bebebe;
$colorGrayLight3: #f7f7f7;
$colorGrayLight4: #e7e8ee;
$colorGrayLight5: #eaeaef;
$colorGrayLight6: #e9e9e9;
$colorGrayLight7: #f1f1f1;
$colorGrayLight8: #7d7d7d;
$colorGreen: #2dcb70;
$colorGreenDarker: #16972A;
$colorGreen20: #2dcb7033;
$colorGreen30: rgba(45, 203, 112, 0.3);
$colorLightPurple: #acc4ff;
$colorMint: #acffce;
$colorPrimary05: rgba(14, 9, 39, 0.05);
$colorPrimary10: rgba(14, 9, 39, 0.1);
$colorPrimary45: #2D2D4C;
$colorPrimary50: rgba(14, 9, 39, 0.5);
$colorPrimary66: rgba(14, 9, 39, 0.66);
$colorPrimary90: rgba(14, 9, 39, 0.9);
$colorPrimary: #0e0927;
$colorPrimaryDark: #120e27;
$colorPrimaryLight20: rgba(2, 6, 30, 0.2);
$colorPrimaryLight: #02061e;
$colorPurple: #a44dff;
$colorPurpleDark: #6751ec;
$colorPurpleLight: #b8acff;
$colorRed30: rgba(255, 88, 88, 0.3);
$colorRed: #ff5858;
$colorRedLighter: #ffd1d1;
$colorRedLighter30: rgba(255, 209, 209, 0.3);
$colorRedDark: #c00000;
$colorRedLight: #ff5858;
$colorWhite10: rgba(255, 255, 255, 0.1);
$colorWhite17: rgba(255, 255, 255, 0.17);
$colorWhite30: rgba(255, 255, 255, 0.3);
$colorWhite50: rgba(255, 255, 255, 0.5);
$colorWhite70: rgba(255, 255, 255, 0.8);
$colorWhite20: rgba(255, 255, 255, 0.2);
$colorWhite: #ffffff;
$colorYellow: #e2ff54;
$colorYellowLight: #f6ff54;
$colorDarkSlateGray: #252441;
$colorOrangeLight: #FFA654;
$colorOrangeLight20: #FFA65433;
$colorPinkLight: #F853FB;
$colorPinkLight20: #F853FB33;
$colorFlamingo: #6751EC;
$colorFlamingo20: #6751EC33;

