$fontLight: 'PlusJakarta-Light';
$fontRegular: 'PlusJakarta-Regular';
$fontBold: 'PlusJakarta-Bold';
$fontMedium: 'PlusJakarta-Medium';
$fontSans: 'PlusJakartaSans-Medium';

:export {
  fontLight: $fontLight;
  fontRegular: $fontRegular;
  fontBold: $fontBold;
  fontMedium: $fontMedium;
}
