$fontLight:   'PlusJakarta-Light';
$fontRegular: 'PlusJakarta-Regular';
$fontBold:    'PlusJakarta-Bold';

:export
{
    fontLight:   $fontLight;
    fontRegular: $fontRegular;
    fontBold:    $fontBold;
}