input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px #f1f2f6 inset !important;
}

.floatingCloseButton {
  position: absolute;
  bottom: 30px;
  right: 30px;
  height: 60px;
  width: 60px;
  background-color: #262746;
  border-radius: 30px;
  box-shadow: 6px 6px 10px 2px rgba(10, 10, 50, 0.8);
  cursor: pointer;
  z-index: 1000;

  @supports (-webkit-touch-callout: none) {
    bottom: 30px;
  }
}

.drawer {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  transition: right 0.5s ease-in-out;
  //border: 1px solid lightgrey;
  @media (min-width: $screen-sm) {
    width: 500px;
  }
}

.drawerHidden {
  right: -105%;
}

.backButton {
  // use this with arrowTopRight
  width: auto;
  transform: rotate(-135deg) scale(1.2);
  margin-right: 14px;
  cursor: pointer;
  margin-left: 4px;
}

a {
  text-decoration: none;
}

input,
textarea,
button,
select,
a,
div {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent; /* For some Androids */
}

$radius: 4px;
$border: 1px solid $colorWhite30;

.support-trigger {
  all: unset;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 100;
  display: inline-block;
  max-width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  background: linear-gradient(
    180deg,
    $colorLightYellow 0%,
    $colorLightYellow 97.4%
  );
  color: $colorWhite;
  font-size: 16px;
  border-radius: 25px;
  padding: 0 20px;
  font-weight: bold;
  height: 40px;
  cursor: pointer;

  @media (max-width: $screen-md) {
    bottom: 120px;
    transform: rotateZ(-90deg);
    transform-origin: center;
    right: -49px;
    border-radius: 25px 25px 0 0;
    font-size: 15px;
    padding: 0 10px;
  }
}

.typeform-popup a.typeform-close {
  color: white;
  top: 15px;
  right: 20px;
}

.swiper-events-tabs {
  .swiper-pagination-bullet {
    background: $colorGrayLight;

    &.swiper-pagination-bullet-active {
      background: $colorYellow;
    }
  }
}

.global-token-currency {
  color: $colorYellow;
  font-weight: bold;
  font-family: $fontDMSans;
  display: inline-block;
}

.global-game-crashfactor {
  color: $mainAction;
  font-weight: bold;
  display: inline-block;
}

.global-cashout-profit,
.global-cashout-loss {
  color: $colorGreen;
  display: inline-block;
}

.global-cashout-loss {
  color: $colorRed;
}

.global-link-style {
  color: inherit;
  font-weight: 500;
  text-decoration: underline;
  cursor: pointer;
}

.main-page-background {
  z-index: -1;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  height: 100%;

  &:before {
    left: 0;
    right: 0;
    bottom: 0;
    content: '';
    opacity: 1;
    z-index: -2;
    position: absolute;
    // background: linear-gradient(
    //     180deg,
    //     rgba(2, 0, 36, 0) 18%,
    //     rgb(18, 14, 39) 100%
    //   ),
    //   linear-gradient(360deg, rgba(2, 0, 36, 0) 10%, rgb(18, 14, 39) 100%);
    // max-height: 700px;
    background-repeat: no-repeat;
    background-position: bottom;
  }
}

.copyButton {
  background: none;
  border: none;
  padding: 0;
  font-family: $fontDMSans;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
  color: $colorWhite;
}

.grecaptcha-badge {
  visibility: hidden;
}
