.floatingCloseButton {
    position: absolute;
    bottom: 30px;
    right: 30px;
    height: 60px;
    width: 60px;
    background-color: #262746;
    border-radius: 30px;
    box-shadow: 6px 6px 10px 2px rgba(10, 10, 50, 0.8);
    cursor: pointer;
    z-index: 1000;
}

.drawer {
    position: fixed;
    top: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
    backdrop-filter: blur(6px);
    background-color: rgba(14, 9, 39, 0.86);
    transition: right 0.5s ease-in-out;
    @media (min-width: $screen-sm) {
        width: 500px;
    }
}

.drawerHidden {
    right: -101%;
}

.backButton {
    // use this with arrowTopRight
    width: auto;
    transform: rotate(-135deg) scale(1.2);
    margin-right: 14px;
    cursor: pointer;
    margin-left: 4px;
}

a {
    text-decoration: none;
}

$radius: 4px;
$border: 1px solid $colorWhite30;
