@import '../../styles/all';

.container {
  width: 100%;
  margin: 0 auto;

  @media screen and (max-width: $screen-xs) {
    display: block;
    padding: 0 20px;
  }

  @media (min-width: $screen-lg) {
    max-width: 1300px;
  }
}

.content {
  padding-left: 20px;
  padding-right: 20px;
  flex: 1;

  .headlineWrapper {
    display: flex;
    align-items: center;
    position: relative;

    &::before {
      position: absolute;
      background-image: url('../../data/images/elon-musk-1.svg');
      content: '';
      width: 100px;
      height: 100px;
      top: -35px;
      left: -70px;
    }

    .howtoLink {
      cursor: pointer;
      font-size: 11px;
      font-family: $fontRegular;
      text-decoration: underline;
      color: $colorLightPink;

      @media (max-width: $screen-xs) {
        display: none;
        margin: 0;
        width: 100%;
        padding: 0 15px 15px;
      }
    }
    .shareButton {
      padding-right: 10px;
    }

    .questionIcon {
      cursor: pointer;
      display: none;
      margin-bottom: 20px;
      width: 25px;
      height: 25px;

      svg {
        g,
        path,
        circle {
          fill: $colorYellow;
        }
      }

      @media (max-width: $screen-xs) {
        display: block;
      }
    }
  }

  .hideElon::before {
    background-image: none;
  }

  @media screen and (max-width: $screen-xs) {
    padding-left: 0px;
    padding-right: 0px;

    & .betFooter {
      display: none;
    }
  }
  .mainContainer {
    display: flex;
    @media (max-width: $screen-md) {
      flex-direction: column;
    }
    .leftContainer {
      width: calc(100% - 370px);
      @media (max-width: $screen-md) {
        width: 100%;
      }
    }
    .rightContainer {
      width: 370px;
      padding-left: 14px;
      @media (max-width: $screen-md) {
        padding-left: 0px;
        width: 100%;
        margin-top: 7px;
      }
      .placeContainer {
        display: flex;
        flex-direction: column;
        /*height: 596px;*/
        height: fit-content;
        @media (max-width: $screen-md) {
          height: 100%;
        }
      }
    }
  }

  .banner {
    margin-top: 50px;
    background-image: url('../../data/backgrounds/games/alpaca-wallpaper-banner.png');
    min-height: 208px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
    &::after {
      position: absolute;
      content: '';
      background-image: url('../../data/images/alpaca-logo-banner.png');
      width: 145px;
      height: 165px;
      bottom: -15px;
      right: -60px;
    }

    @media (max-width: $screen-md) {
      background-image: url('../../data/backgrounds/games/wallpaper-banner-mobile.png');
      height: 100%;
      background-position: center;
    }
  }
}

.sidebar {
  width: 320px;

  @media screen and (max-width: $screen-xs) {
    width: 100%;
  }
}

.bottomWrapper {
  display: flex;
  flex-direction: row;
}
.chatWrapper {
  margin-top: 32px;
  background-color: $colorWhite;
  border-radius: 10px;
  margin-right: 25px;
  border: 1px solid $colorLightGray;

  @media screen and (max-width: $screen-xs) {
    margin-bottom: 20px;
  }
}

.chatContainer {
  height: 312px;
  background: $colorWhite;
  border-radius: 10px;
  margin: 0px;
  padding: 10px;
  margin-top: 12px;

  .chatMessageContainer {
    @media (max-width: $screen-sm) {
      margin-bottom: 0;
    }
  }
}

.activityWrapper {
  margin-top: 32px;
  background: $colorWhite;
  border: 1px solid $colorLightGray;
  border-radius: 10px;

  @media screen and (max-width: $screen-xs) {
    margin-bottom: 20px;
  }
  .activityContainer {
    position: relative;
    height: 324px;

    .chatMessageContainer {
      @media (max-width: $screen-sm) {
        margin-bottom: 0;
      }
    }

    .inactivePlaceholder {
      position: absolute;
      top: 45%;
      left: 50%;
      transform: translate(-50%, -50%);
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 24px;
      font-family: $fontMedium;
      color: #f2ff53;
      font-weight: 700;
    }
  }
}

.activitiesTrackerGamesBlock {
  height: 100%;
}

.tabLayout {
  display: flex;
  align-items: flex-end;
  color: $colorWhite;
  font-family: $fontRegular;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 18px;
  padding-top: 24px;
  border-bottom: 1px solid $colorLightGray2;
  @media (max-width: $screen-sm) {
    margin-left: 0px;
    justify-content: space-between;
    font-size: 11px;
    line-height: 14px;
  }

  .tabItem {
    text-align: center;
    padding-bottom: 12px;
    opacity: 0.3;
    cursor: pointer;
  }

  .tabItemSelected {
    text-align: center;
    padding-bottom: 12px;
    opacity: 1;
    cursor: pointer;
  }
}
