@import '../../styles/all';

.activitiesTrackerContainer {
  display: flex;
  flex-direction: column;
  padding-top: 0;
  height: 470px;
  position: relative;
  // margin-top:     -20vh;

  .chatMessage {
    position: relative;
    color: $colorWhite;
    padding: 1rem 20px;
    background-color: $colorPrimary;
    display: inline-flex;
    display: -ms-inline-flexbox;
    display: -webkit-box;
    font-size: 14px;
    text-align: left;
    hyphens: auto;
    transition: opacity 300ms ease-out, transform 300ms ease-out;
    width: 100%;

    &.isVisible {
      opacity: 0.3;

      & ~ .isVisible {
        opacity: 1;
      }
    }

    img {
      width: 30px !important;
      height: 30px;
      border-radius: 50%;
      border: 1px solid $colorWhite !important;
      margin-right: 0.5rem;
    }

    span {
      display: flex;
      justify-content: space-between;
      align-items: center;

      :first-child {
        font-size: 12px;
        font-family: $fontDMSans;
      }

      :last-child {
        font-size: 12px;
        text-align: right;
        color: $colorGray;
        width: 60px;
        margin-left: 10px;
      }
    }
  }

  .dateStringContainer {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
  }

  .dateString {
    position: relative;
    display: flex;
    align-items: center;
    right: -6px;
    width: 47px;
    justify-content: flex-end;
    text-align: right;
    color: $colorWhite50;
    font-family: $fontDMSans;
  }

  .messageItem {
    opacity: 1;
    font-size: 14px;
    font-weight: 400;
    align-items: center;
    //width: 100%;
    background-color: $colorPrimary;
  }

  .categoryList {
    display: flex;
    position: relative;
    left: 0;
    top: 0;
    width: 100%;
    margin: auto;
    margin-top: -30px;
    //> :not(:last-child) {
    //  margin-right: 15px;
    //}
  }

  .box {
    width: 60px;
    height: 80px;
    overflow: hidden;
    border: $border;
    border-radius: $radius;
    display: flex;
    justify-content: center;
    align-items: center;

    &.active {
      border: 2px solid $colorMint;
    }
  }

  .boxIcon {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    //width: 100px;
    padding: 2px;
    border: 1px solid transparent;
    position: relative;
    word-break: break-word;

    &:hover,
    &.categorySelected {
      cursor: pointer;

      .imageIcon {
        opacity: initial;
      }

      .label {
        color: $colorWhite;
      }
    }
  }

  //only with cats
  .swiperElement {
    padding: 15px 0;
    width: 93%;
  }

  .label {
    font-size: 14px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1;
    letter-spacing: normal;
    text-align: center;
    color: $colorWhite;
    margin-top: 16px;
    transition: opacity 0.2s ease-in;
    width: 100%;
    text-transform: uppercase;
    font-family: $fontDMSans;

    &.active {
      opacity: initial;
    }
  }

  .imageIcon {
    opacity: 1;
    margin-top: -16px;
    transition: opacity 0.2s ease-in;

    &.active {
      opacity: initial;
    }
  }

  @media (max-width: $screen-md) {
    padding-top: 0;
    margin-top: 0;
  }

  .messageContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-flow: column nowrap;
    overflow-y: scroll;
    margin-bottom: 0;
    position: relative;
    //height: 260px;
    //margin-top: 125px;
    height: 500px;
    margin-top: 0;
    row-gap: 5px;

    & > div {
      border-radius: 4px;
      background-color: $colorLightPurple12;
    }

    &::-webkit-scrollbar {
      width: 0;
      background: transparent;
    }

    > :first-child {
      margin-top: 0;
    }
  }

  .swiperNavContainer {
    position: absolute;
    top: 16px;
    width: 100%;
    height: 100%;

    .activitiesSwiperButtonNext,
    .activitiesSwiperButtonPrev {
      position: absolute;
      top: -5px;
      bottom: 0;
      height: 100%;
      z-index: 10;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
      color: $colorGrayLight1;
      width: 5%;

      &:after {
        font-family: swiper-icons;
        font-size: 40px;
        letter-spacing: 0;
        text-transform: none;
        font-variant: initial;
        line-height: 1;
      }
    }

    .activitiesSwiperButtonNext {
      right: 0px;
      &:after {
        content: 'next';
      }
    }

    .activitiesSwiperButtonPrev {
      left: 0;
      &:after {
        content: 'prev';
      }
    }
  }

  .tabLayout {
    display: flex;
    align-items: flex-end;
    color: $colorBlack;
    font-family: $fontDMSans;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 18px;
    padding-top: 24px;
    margin-left: 16px;
    margin-bottom: 8px;
    @media (max-width: $screen-sm) {
      margin-left: 0px;
      font-size: 11px;
      line-height: 14px;
    }

    .tabItem {
      text-align: center;
      padding-bottom: 12px;
      opacity: 0.3;
      cursor: pointer;
      @media (max-width: $screen-sm) {
        padding: 12px 20px;
      }
    }

    .tabItemSelected {
      text-align: center;
      padding-bottom: 12px;
      border-bottom: 2px solid $mainAction;
      opacity: 1;
      cursor: pointer;
      @media (max-width: $screen-sm) {
        padding: 12px 20px;
      }
    }
  }
}
