@import '../../../styles/all';

.categoryListItem {
    display: flex;
    align-items: flex-end;
}
.box {
    width: 80px;
    height: 106px;
    overflow: hidden;
    border: $border;
    border-radius: $radius;
    display: flex;
    justify-content: center;
    align-items: center;

    &.active {
        border: 2px solid $colorRedDark;
    }
}

.boxIcon {
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2px;
    border: 1px solid transparent;

    &.active {
        border: 2px solid $colorRedDark;
    }
}

.image {
    width: 80px;
    height: 106px;
}
.imageIcon {
}
