@import '../../styles/all';

.container {
  width: 100%;
  margin: 0 auto;

  @media screen and (max-width: $screen-xs) {
    display: block;
    padding: 0 20px;
  }

  @media (min-width: $screen-lg) {
    max-width: 1300px;
  }
}

.gameContent {
  padding-top: 140px;
  padding-bottom: 250px;
  width: 100%;
  margin-top: 20px;
  position: relative;
  margin-bottom: -40px;

  @media (max-width: $screen-md) {
    padding-left: 30px;
    padding-right: 30px;
  }

  .firstBgImage {
    background: url('../../data/images/common-games/top-bg.png');
    height: 1080px;
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
    z-index: -1;
  }

  .secondBgImage {
    background: url('../../data/images/common-games/middle-bg.png');
    height: 1079px;
    width: 100%;
    top: 1079px;
    left: 0;
    position: absolute;
    z-index: -1;
  }

  .thirdBgImage {
    background: url('../../data/images/common-games/bottom-bg.png');
    height: 1080px;
    width: 100%;
    top: calc(1079px + 1079px);
    left: 0;
    position: absolute;
    z-index: -1;

    @media (max-width: $screen-lg) {
      height: 1800px;
      background-size: cover;
    }
  }


  &:before {
    position: absolute;
    top: 0;
    z-index: 10;
    content: "";
    background: linear-gradient(180deg, #00092B 0%, rgba(14, 9, 39, 0) 100%);
    height: 55px;
    width: 100%;
  }

  &:after {
    position: absolute;
    bottom: 0;
    z-index: 10;
    content: "";
    background: linear-gradient(180deg, #00092B 0%, rgba(14, 9, 39, 0) 100%);
    height: 55px;
    width: 100%;
    transform: rotate(-180deg);
  }

  .title {
    margin-bottom: 105px;
  }

  .firstCoin {
    transform: rotate(45deg);
    position: absolute;
    top: 450px;
    right: 18%;

    @media (max-width: $screen-lg) {
      right: 0;
    }
  }

  .secondCoin {
    transform: rotate(45deg);
    position: absolute;
    top: 1000px;
    left: -5%;

    @media (max-width: $screen-xs) {
      top: 1170px;
    }
  }

  .thirdCoin {
    transform: rotate(45deg);
    position: absolute;
    top: 900px;
    right: -19%;

    @media (max-width: $screen-lg) {
      display: none;
    }
  }

  .forthCoin {
    transform: rotate(45deg);
    position: absolute;
    top: 1150px;
    right: 5%;

    @media (max-width: $screen-lg) {
      top: 850px;
      right: 0;
    }

    @media (max-width: $screen-md) {
      display: none;
    }

    .rectangle {
      width: 550px !important;
    }
  }

  .fifthCoin {
    transform: rotate(45deg);
    position: absolute;
    top: 1950px;
    left: 0;

    @media (max-width: $screen-lg) {
      top: 2150px;
    }
  }

  .coinRectangle {
    position: relative;
    display: inline-block;
    z-index: 0;

    .rectangle {
      background: linear-gradient(90deg, rgba(196, 196, 196, 0) 0%, #FFD626 82.45%);
      opacity: 0.5;
      width: 635px;
      height: 100px;
    }

    svg {
      position: absolute;
      right: -50px;
      top: -20px;
      transform: rotate(-45deg);
    }
  }

  h2 {
    font-weight: 900;
    font-size: 50px;
    color: white;
    text-align: center;
    margin-bottom: 30px;
    position: relative;
    z-index: 10;

    @media (max-width: $screen-xs) {
      font-size: 40px;
    }
  }

  h3 {
    font-weight: 900;
    font-size: 40px;
    color: white;
    text-align: center;
    position: relative;
    z-index: 10;

    @media (max-width: $screen-xs) {
      font-size: 32px;
    }
  }

  .paragraph {
    color: white;
    font-size: 20px;
    line-height: 50px;
    font-weight: 900;

    @media (max-width: $screen-xs) {
      font-size: 18px;
      line-height: 42px;
    }
  }

  .firstHeadingContainer {
    max-width: 600px;
    margin-left: 17%;
    margin-bottom: 125px;
    position: relative;
    z-index: 10;

    @media (max-width: $screen-lg) {
      margin-left: auto;
      margin-right: auto;
    }
  }

  .placeBetContainer {
    max-width: 240px;
    margin: 0 auto;
    margin-top: 45px;
    margin-bottom: 130px;
  }

  .firstCircledContainer,
  .secondCircledContainer {
    display: flex;

    svg {
      margin-right: 160px;

      &:last-child {
        margin-right: 0;
      }
    }
  }

  .firstCircledContainer {
    margin-left: 550px;
    margin-top: 250px;

    @media (max-width: $screen-lg) {
      margin-left: 0;
      justify-content: center;
      margin-top: 350px
    }

    @media (max-width: $screen-md) {
      margin-top: 400px;
    }

    @media (max-width: $screen-sm) {
      display: none;
    }
  }

  .secondCircledContainer {
    margin-left: 420px;
    margin-top: 150px;

    @media (max-width: $screen-lg) {
      margin-left: 0;
      justify-content: center;
    }

    @media (max-width: $screen-sm) {
      display: none;
    }
  }

  .secondHeadingContainer {
    max-width: 880px;
    margin-right: 150px;
    margin-left: auto;
    margin-top: 250px;
    position: relative;
    z-index: 10;
    margin-bottom: 400px;

    @media (max-width: $screen-lg) {
      margin-right: auto;
      justify-content: center;
      max-width: 600px;
    }

    @media (max-width: $screen-md) {
      margin-top: 120px;
      margin-bottom: 300px;
    }

    @media (max-width: $screen-sm) {
      margin-top: 230px;
      margin-bottom: 150px;
    }
  }

  .wrapperCards {
    @media (max-width: $screen-xl) {
      padding-left: 30px;
      padding-right: 30px;
    }

    @media (max-width: $screen-md) {
      padding-left: 0px;
      padding-right: 0px;
    }
  }
}

.content {
  padding-left: 20px;
  padding-right: 20px;
  flex: 1;

  .headlineWrapper {
    display: flex;
    position: relative;
    align-items: center;

    .howtoLink {
      padding-bottom: 20px;
      cursor: pointer;
      font-size: 11px;
      font-family: $fontOmnes;
      text-decoration: underline;
      color: $colorYellow;

      @media (max-width: $screen-xs) {
        display: none;
        margin: 0;
        width: 100%;
        padding: 0 15px 15px;
      }
    }

    .shareButton {
      padding-right: 10px;
    }

    .questionIcon {
      cursor: pointer;
      display: none;
      margin-bottom: 20px;
      width: 25px;
      height: 25px;

      svg {

        g,
        path,
        circle {
          fill: $colorYellow;
        }
      }

      @media (max-width: $screen-xs) {
        display: none;
      }
    }
  }

  @media screen and (max-width: $screen-xs) {
    padding-left: 0px;
    padding-right: 0px;

    & .betFooter {
      display: none;
    }
  }

  .mainContainer {
    display: flex;

    @media (max-width: $screen-md) {
      flex-direction: column;
    }

    .leftContainer {
      display: flex;
      flex-direction: column;
      width: calc(100% - 370px);

      @media (max-width: $screen-md) {
        width: 100%;
        flex-direction: column-reverse;
      }
    }

    .rightContainer {
      width: 370px;
      padding-left: 14px;

      @media (max-width: $screen-md) {
        padding-left: 0px;
        width: 100%;
        margin-top: 7px;
      }

      .placeContainer {
        display: flex;
        flex-direction: column;

        @media (max-width: $screen-md) {
          height: 100%;
        }
      }
    }
  }

  .banner {
    margin-top: 50px;
    background-image: url('../../data/backgrounds/games/alpaca-wallpaper-banner.png');
    min-height: 208px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: contain;

    @media (max-width: $screen-lg) {
      padding: 20px;
      min-height: unset;
      height: 200px;
    }

    @media (max-width: $screen-md) {
      padding: 20px;
      min-height: unset;
      height: 150px;
    }

    @media (max-width: $screen-sm) {
      background-image: url('../../data/backgrounds/games/alpaca-wallpaper-banner.png');
      height: 100%;
      background-position: center;
      padding: 80px;
    }

    @media (max-width: $screen-xs) {
      padding: 40px;
    }
  }
}

.sidebar {
  width: 320px;

  @media screen and (max-width: $screen-xs) {
    width: 100%;
  }
}

.bottomWrapper {
  display: flex;
  flex-direction: row;
}

.chatWrapper {
  margin-top: 32px;
  width: 96%;
  // padding-right: 7px;
  background: rgba(122, 121, 121, 0.1);
  border-radius: 10px;
  color: $colorWhite;
  border: 1px solid $colorLightGray4;

  @media screen and (max-width: $screen-xs) {
    margin-bottom: 20px;
  }
}

.chatContainer {
  height: 312px;
  border-radius: 10px;
  margin: 0px;
  margin-top: 12px;

  .chatMessageContainer {
    @media (max-width: $screen-sm) {
      margin-bottom: 0;
    }
  }
}

.activityWrapper {
  margin: auto;
  margin-top: 32px;
  width: 97%;
  border-radius: 10px;
  // padding-left: 7px;
  background: #fff;
  border: 1px solid #ededed;

  @media screen and (max-width: $screen-xs) {
    margin-bottom: 20px;
  }

  .activityContainer {
    position: relative;
    color: #000;
    height: 312px;
    border-radius: 10px;
    margin: 0px;
    // padding: 10px;

    .chatMessageContainer {
      @media (max-width: $screen-sm) {
        margin-bottom: 0;
      }
    }

    .inactivePlaceholder {
      position: absolute;
      top: 45%;
      left: 50%;
      transform: translate(-50%, -50%);
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 24px;
      font-family: $fontOmnes;
      color: #f2ff53;
      font-weight: 700;
    }
  }
}

.activitiesTrackerGamesBlock {
  height: 100%;
}

.tabLayout {
  display: flex;
  align-items: flex-end;
  color: $colorWhite;
  font-family: $fontOmnes;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 18px;
  padding-top: 24px;
  // margin-left: 16px;
  border-bottom: 1px solid #878593;

  @media (max-width: $screen-sm) {
    margin-left: 0px;
    justify-content: space-between;
    font-size: 11px;
    line-height: 14px;
  }

  .tabItem {
    text-align: center;
    padding-bottom: 10px;
    opacity: 0.3;
    cursor: pointer;
  }

  .tabItemSelected {
    text-align: center;
    padding-bottom: 10px;
    // border-bottom: 2px solid #f1ff54;
    opacity: 1;
    cursor: pointer;
  }
}

.fairnessContainer {
  text-align: right;
  font-size: 14.5px;
  color: $colorWhite;
  line-height: 1;

  .balanceIcon {
    display: inline-block;
    vertical-align: middle;
  }

  .fairnessOpenPopup {
    cursor: pointer;
  }
}