@import "../../styles/all";

.header {
    color: white;
    width: 80%;
    margin: 32px auto 0;

    @media (min-width: $screen-sm) {
        display: flex;
        align-items: flex-end;
    }
}

.categories {
}

.search {
    margin-top: 20px;

    @media (min-width: $screen-sm) {
        width: 220px;
        margin-left: auto;
        padding-left: 10px;
    }
}

.main {
    color: white;
    width: 80%;
    margin: 32px auto 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    // justify-content: space-between;

    > * {
        margin-bottom: 10px;
    }
}
