@import '../../../styles/all';

.outcomes {
  display: flex;
  flex-flow: wrap;
  grid-gap: 10px;
  flex-direction: column;
  padding: 15px;
  .outcomeCard {
    flex-basis: calc(50% - 5px);
    padding: 10px;
    border: 2px solid;
    border-radius: 6px;
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-flow: wrap;

    &:nth-child(1) {
      border-color: $colorOrangeLight;
    }

    &:nth-child(2) {
      border-color: $colorGreen;
    }

    &:nth-child(3) {
      border-color: $colorPinkLight;
    }

    &:nth-child(4) {
      border-color: $colorFlamingo;
    }

    .index {
      font-size: 12px;
      // color: $colorGrayLight2;
      font-weight: bold;
      height: 16px;
    }
    .removeButton {
      border-radius: 50%;
      height: 16px;
      width: 16px;
      line-height: 1;
      border: 1px solid;
      background-color: transparent;
      color: $colorGray;
      cursor: pointer;
      opacity: 0.7;
      &:hover {
        opacity: 1;
      }
    }
    input {
      padding: 4px;
      font-size: 13px;
      height: auto;
      background-color: #f1f2f6;
      width: 100%;
      height: 56px;
      position: relative;
      display: flex;
      align-items: center;
      padding: 15px 20px;
      border-radius: 8px;
      border: 3px solid transparent;
    }
  }
  .addButton {
    border-radius: 6px;
    margin: auto;
    cursor: pointer;
    padding: 15px 20px;
    border: none;
    background-color: transparent;
    text-decoration: underline;
  }
}
.outcomeForm {
  flex-basis: 100%;
  margin-top: 15px;
  label {
    font-size: 12px;
    margin: 4px 0;
    display: block;
  }
}

.outcomesErrors {
  margin: 0 auto;
  flex-basis: 100%;
  text-align: center;
}
