@import '../../styles/all';

$largeMobileHeight: 700px;

.settings {
  display: flex;
  flex-direction: column;
  width: 95%;
  // margin-bottom: 40px;
  top: 0;
  transition: right 0.5s ease-in-out;

  .headlineContainer {
    display: flex;

    .headlineText {
      font-style: normal;
      font-weight: normal;
      font-size: 30px;
      line-height: 39px;
      letter-spacing: 0.75px;
      color: $colorWhite;
    }

    .headlineIcon {
      color: #ffffff;
      margin-right: 20px;
      cursor: pointer;
      transition: transform 0.5s;

      &:hover {
        transform: scale(1.25);
      }
    }
  }

  .settingContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 15%;

    @media (max-width: $screen-sm) {
      margin-top: 30px;
    }

    .singleSettingHolder {
      position: relative;
      width: 100%;
      display: flex;
      align-items: center;
      height: 57px;
      margin: 5px 0 5px 0;
      cursor: pointer;

      @media (max-width: $screen-sm) {
        width: 100%;
        height: 50px;
      }

      .settingBackground {
        position: absolute;
      }

      .settingIcon {
        position: absolute;
        left: 23px;

        @media (max-width: $screen-sm) {
          left: 15px;
        }
      }

      .referralIcon {
        position: absolute;
        left: 23px;
        width: 30px;

        @media (max-width: $screen-sm) {
          left: 15px;
        }
      }

      .settingTitle {
        position: absolute;
        left: 70px;
        font-style: normal;
        font-weight: 600;
        font-size: 24px;
        line-height: 30px;
        color: $colorWhite;
        @media (max-width: $screen-sm) {
          left: 70px;
          font-size: 17px;
          font-weight: 500;
          line-height: 22px;
        }
      }

      .goIntoSettingIcon {
        position: absolute;
        right: 20px;
      }

      .leftIcon {
        margin-left: 30px;
      }

      .profilePicture {
        position: absolute;
        left: 23px;
        width: 32px;
        border-radius: 50%;
        border: 1px solid $colorGrayLight;
        background-color: $colorGrayLight3;

        @media (max-width: $screen-sm) {
          left: 15px;
        }
      }
    }

    .settingActive {
      cursor: pointer;
      transition: background-color 0.25s ease-in-out;

      &:hover {
        background-color: $colorGrayLight3;
      }
    }

    .settingDeactive {
      cursor: not-allowed;
    }

    .closeProfileContainer {
      text-align: right;
      justify-content: right;
      width: 100%;
      display: flex;
      margin-top: 35px;

      @media (min-width: $screen-md) {
        display: none;
      }

      .closeProfile {
        cursor: pointer;
        width: 30px;
      }
    }
  }
}
