@import '../../styles/all';

.slider{
  margin-left: 10px;
  margin-right: 10px;
  color: #7166c7 !important;
  width: 100px !important;
  @media screen and (max-width: 768px){
    flex-direction: column;
    height: 60px !important;
    width: 5px !important;
    margin-bottom: 5px;
  }
}
