@import '../../styles/all';

.providersList {
  display: flex;
  overflow-x: auto;
  width: 100%;
  //   justify-content: space-between;

  > :not(:last-child) {
    margin-right: 10px;
  }

  .providerButton {
    font-size: 12px;
    padding: 11px 16px;
    width: 100%;
    max-width: 160px;
    height: 60px;
    &.active {
      background: rgba(172, 196, 255, 0.16);
      border: 2px solid #dbe0ff;
    }

    img {
      height: 35px;
      max-width: 120px;
      object-fit: contain;
    }
  }
}
