@import '../../styles/all';

.navBarDrawer {
  color: $colorPrimary;
  padding: 90px 24px 0;
  height: 100vh;
  display: flex;
  flex-flow: nowrap column;

  .closeButton {
    @extend .floatingCloseButton;
    @media screen and (min-width: $screen-sm) {
      display: none;
    }
  }
}
