@import '../../styles/all';

.gamesContainer {
  padding: 30px 0;

  @media (max-width: $screen-xs) {
    padding: 0;
  }
}

.gamesCategory {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: $colorBlack;
  font-family: $fontRegular;
  font-size: 24px;
  font-weight: 700;
  padding-bottom: 20px;

  @media (max-width: $screen-lg) {
    padding: 20px;
  }

  h2 {
    font-size: 33px;
    color: $colorWhite;

    @media (max-width: $screen-xs) {
      font-size: 28px;
    }
  }

  .howtoLink {
    cursor: pointer;
    font-size: 11px;
    font-family: $fontRegular;
    text-decoration: underline;
    color: $colorYellow;

    @media (max-width: $screen-xs) {
      display: none;
      margin: 0;
      width: 100%;
      padding: 0 15px 15px;
    }
  }

  .questionIcon {
    cursor: pointer;
    display: none;

    svg {
      g,
      path,
      circle {
        fill: $colorYellow;
      }
    }

    @media (max-width: $screen-xs) {
      display: block;
    }
  }
}

.games {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  row-gap: 15px;
  column-gap: 15px;

  @media (max-width: $screen-xs) {
    //flex-direction: column;
    column-gap: 0px;
  }

  .wrapper {
    position: relative;
    height: 491px;

    @media (max-width: $screen-sm) {
      width: 43%;
      height: auto;
      margin: 0 auto;
    }

    .gameItem {
      height: 100%;
      @media (max-width: $screen-md) {
        height: auto;
      }
      &.gameItemLg {
        .gameInfo {
          .title {
            @media (max-width: $screen-md) {
              font-size: 16px;
            }
          }

          .subtitle {
            @media (max-width: $screen-md) {
              font-size: 12px;
            }
          }

          .description {
            @media (max-width: $screen-md) {
              font-size: 14px;
            }
          }
        }

        .inactivePlaceholder {
          @media (max-width: $screen-md) {
            min-width: 150px;
            min-height: 45px;
            font-size: 14px;
          }
        }
      }

      &.gameItemMd,
      &.gameItemSm {
        .inactivePlaceholder {
          min-width: 150px;
          min-height: 45px;
          font-size: 32px;
        }
      }

      &.gameItemMd {
        .gameInfo {
          .title {
            @media (max-width: $screen-md) {
              font-size: 26px;
            }
          }
        }
      }

      &.gameItemSm {
        .gameInfo {
          .title {
            font-size: 26px;
          }
        }

        .inactivePlaceholder {
          @media (max-width: $screen-md) {
            min-width: 250px;
            min-height: 70px;
            font-size: 18px;
          }
        }
      }

      img {
        width: 100%;
        height: 100%;
        @media (max-width: $screen-md) {
          height: auto;
        }
        // object-fit: contain;
        border-radius: 20px;
        border: 2px solid rgba(255, 255, 255, 0.1);
        filter: drop-shadow(0px 9px 16px rgba(159, 162, 191, 0.48))
          drop-shadow(0px 2px 2px rgba(159, 162, 191, 0.62));
      }

      .gameInfo {
        position: absolute;
        bottom: 0;
        left: 0;
        color: $colorWhite;
        font-family: $fontRegular;
        padding: 30px;

        .title {
          font-size: 36px;
          font-weight: 700;
          padding: 10px 0;
          line-height: 1;
        }

        .subtitle {
          font-size: 14px;
          opacity: 0.7;
        }

        .description {
          font-size: 16px;
          opacity: 0.7;
          min-height: 60px;
        }
      }

      .inactivePlaceholder {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 24px;
        font-family: $fontMedium;
        color: #f2ff53;
        text-align: center;
        font-weight: 700;
      }
    }

    .gameLink {
      text-decoration: none;

      &.gameLinkInactive {
        cursor: not-allowed;
      }
    }
  }
}
