@import '../../styles/all';

.choiceButton {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 7px;
  border: 2px solid;
  box-sizing: border-box;
  padding: 10px 0;
  cursor: pointer;
  transition: background-color 0.2s ease-in;
  height: 81px;
  min-width: 170px;

  &.choiceColorOrangeLight {
    border-color: $colorOrangeLight;

    &.choiceButtonSelected,
    &:hover:not(&.choiceButtonDisabled) {
      background-color: $colorOrangeLight20;
    }
  }

  &.choiceColorGreen {
    border-color: $colorGreen;

    &.choiceButtonSelected,
    &:hover:not(&.choiceButtonDisabled) {
      background-color: $colorGreen20;
    }
  }

  &.choiceColorPinkLight {
    border-color: $colorPinkLight;

    &.choiceButtonSelected,
    &:hover:not(&.choiceButtonDisabled) {
      background-color: $colorPinkLight20;
    }
  }

  &.choiceColorFlamingo {
    border-color: $colorFlamingo;

    &.choiceButtonSelected,
    &:hover:not(&.choiceButtonDisabled) {
      background-color: $colorFlamingo20;
    }
  }

  &.choiceButtonDisabled {
    border-color: $colorGrayLight;
    background-color: $colorGrayLight;
    color: $colorGray;
    cursor: not-allowed;
    transition: none;
  }

  .choiceName {
    font-family: $fontDMSans;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: center;
  }

  .choiceWinAmountContainer {
    display: flex;
    align-items: center;
    width: 100%;
    margin-top: 6px;

    .choiceWinAmount {
      overflow-wrap: anywhere;
      width: 52%;
      font-family: $fontDMSans;
      font-size: 28px;
      font-style: normal;
      font-weight: 700;
      line-height: 1;
      letter-spacing: 1px;
      text-align: right;
      padding-left: 3px;
    }

    .choiceWinAmountUnitContainer {
      width: 48%;
      padding-left: 3px;

      .choiceWinAmountUnit {
        font-family: $fontDMSans;
        font-size: 12px;
        font-style: normal;
        font-weight: 500;
        letter-spacing: 0px;
        text-align: left;
      }
      .choiceWinAmountCash {
        font-family: $fontDMSans;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        letter-spacing: 0px;
        text-align: left;
        color: $colorGrayLight1;
        display: flex;
        line-height: 1;

        .percentage {
          color: $colorGreen;
          padding-left: 2px;

          &.negative {
            color: $colorRed;
          }
        }
      }
    }
  }
}
