@import '../../styles/all';

.bonus {
  max-width: 1305px;
  margin: 0 auto;
  padding: 150px 20px 0;
  display: flex;
  flex-direction: column;
  // justify-content: center;
  // align-items: center;

  @media (max-width: $screen-sm) {
    padding: 50px 20px 0;
  }

  .headlineContainer {
    display: flex;
    column-gap: 10px;
    align-items: center;
    margin-bottom: 20px;
    .headline {
      font-size: 30px;
      font-weight: bold;
      color: $colorWhite;
      position: relative;
    }

    .activeBonus {
      background: $colorGreenLight;
      color: $colorPrimary;
      display: flex;
      align-items: center;
      border-radius: 3px;
      padding: 0 10px;
      cursor: default;
      height: 24px;
    }

    @media (max-width: $screen-md) {
    }
  }

  .itemGrid {
    width: 100%;
    display: grid;
    flex-wrap: wrap;
    gap: 16px;
    justify-self: center;
    grid-template-columns: repeat(auto-fit, minmax(250px, 409px));
    margin: 0 auto;

    @media (max-width: $screen-sm) {
      width: fit-content;
    }
  }
}

/* ACTIVITY TRACKER */
.activitiesTracker {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  margin-top: 50px;
  padding: 20px;

  .title {
    display: flex;
    align-items: center;
    color: $colorWhite;

    h2 {
      color: $colorWhite;
      font-size: 25px;
      font-weight: bold;
      padding: 0;

      @media (max-width: $screen-xs) {
        font-size: 20px;
      }
    }

    img {
      margin-right: 30px;
    }
  }
}
