@import '../../styles/all';

.icon
{
    background-size: contain;
    width:           100%;
    height:          auto;
    display:         flex;
    justify-content: center;
    align-items:     center;
    position:        relative;

    &.iconCircled
    {
        border:        solid 1.2px $colorPrimary;
        border-radius: 100%;
        padding:       5px;
    }

    &.iconBlack
    {
        > svg
        {
            @include svgColorStroke($colorBlack)
        }
    }

    &.iconPrimary
    {
        > svg
        {
            @include svgColorStroke($colorPrimary)
        }
    }

    &.iconPrimaryLightTransparent
    {
        > svg
        {
            @include svgColorStroke($colorPrimaryLight20)
        }
    }

    &.iconWhite
    {
        > svg
        {
            @include svgColorStroke($colorWhite)
        }
    }
}