@import '../../styles/all';

.icon
{
    background-size: contain;
    width:           100%;
    height:          auto;
    display:         flex;
    justify-content: center;
    align-items:     center;
    position:        relative;

    &.iconPrimary
    {
        @include svgColorStroke($colorPrimary)
    }

    &.iconPrimaryLightTransparent
    {
        @include svgColorStroke($colorPrimaryLight20)
    }

    &.iconWhite
    {
        @include svgColorStroke($colorWhite)
    }
}