@import '../../styles/all';

.headerWithHeadlineContainer
{
    display:         flex;
    flex-direction:  row;
    align-items:     center;
    justify-content: space-between;
    padding:         24px 30px;

    .backIcon
    {
        position: absolute;
        width:    12px;
        height:   12px;
        cursor:   pointer;
    }

    h2
    {
        flex:       1;
        text-align: center;
    }
}

.eventCardHome {
    @media (max-width: $screen-xs) {
        min-width: 300px;
    }
}

.eventLink {
    @media (max-width: $screen-xs) {
        padding-right: 10px;
    }
}