@import '../../styles/all';

.bgRewards {
  position: fixed;
  width: 100%;
  height: 100%;
  background-image: url('../../data/backgrounds/orb-bg.svg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  z-index: 0;
}

.container {
  position: relative;
  width: 100%;
  margin: 0 auto;
  color: $colorWhite;
  z-index: 1;

  @media (min-width: $screen-lg) {
    max-width: 1240px;
  }

  @media (max-width: $screen-lg-max) {
    padding: 15px;
  }
}

.column {
  flex: 1;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;

  border-radius: 10px;
  background-color: #2f3150;
  padding: 20px;

  min-height: 260px;

  p {
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 10px;
  }
}

.celebrationBadge {
  align-self: flex-end;
  animation: fadeIn 0.5s forwards;

  @media screen and (max-width: $screen-sm-max) {
    transform: translate(100px, -50px);
  }

  img {
    position: absolute;
    right: 40px;
    top: 40px;
  }
  span {
    position: absolute;
    right: 60px;
    top: 97px;
    width: 60px;
    text-align: center;
    transform: translate(-50%, -50%);
    font-size: 13px;
    line-height: 1.4;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.cardReward {
  margin-bottom: 22px;
  color: #2dcb70;

  span {
    font-size: 14px;
    padding: 2px 4px;
    background-color: rgba(45, 203, 112, 0.2);
    border-radius: 4px;
  }
}

.cardCenter {
  justify-content: center;
}

.cardRewardDescrption {
  flex: 1;
  opacity: 0.6;
  margin-bottom: 20px;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  margin-top: 52px;
  margin-bottom: 120px;

  @media (max-width: $screen-md) {
    flex-direction: column;
  }
}

.rewardsWrapper {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(2, 1fr);
  flex: 0 624px;
  @media screen and (max-width: $screen-xs-max) {
    grid-template-columns: repeat(1, 1fr);
  }
}

.rewardsInfo {
  align-self: center;
  flex: 0 415px;

  h3 {
    font-size: 32px;
    margin-bottom: 22px;

    @media screen and (min-width: $screen-md) {
      font-size: 66px;
      word-spacing: 100vw;
    }
  }

  p {
    margin-bottom: 14px;
    opacity: 0.6;
  }

  ul {
    margin-bottom: 14px;

    li {
      list-style: none;
      margin-bottom: 5px;
      opacity: 0.6;
    }

    li:before {
      content: '';
      display: inline-block;
      height: 14px;
      width: 14px;
      background-image: url('../../data/icons/arrow-small-right.svg');
      background-size: contain;
      background-repeat: no-repeat;
    }
  }
}

.cardButton {
  height: 42px;
  font-size: 14px;
  background-color: #ffffff !important;
  background-image: url('../../data/images/signup-background-one.svg');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.cardButtonDone {
  background-color: #201f3b;
  background-image: none;
  color: #fff;
}

.iconRightSide {
  display: inline-block;
  width: auto;
  margin-left: 12px;
}

.lotteryGameContent {
  text-align: center;

  p {
    opacity: 0.6;
    margin-bottom: 30px;
  }

  h3 {
    font-size: 38px;
    font-weight: 500;
    margin-bottom: 60px;
  }
}

.radioButton {
  background-color: #201f3b;
  border-radius: 10px;
  padding: 20px;
  user-select: none;
  cursor: pointer;
  text-align: left;

  input {
    margin-right: 22px;
  }

  @media screen and (min-width: $screen-md) {
    flex-basis: calc(33.3% - 20px);
  }

  img {
    margin-top: 20px;
    width: 100%;
    object-fit: contain;
    height: 230px;
    background-color: rgba(255, 255, 255, 0.1);
  }
}

.questionOptions {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: stretch;
  grid-gap: 20px;
  margin-bottom: 40px;

  @media screen and (min-width: $screen-md) {
    justify-content: center;
    align-items: center;
    flex-flow: wrap;
  }
}

.questionNumberLabel {
  padding: 6px 12px;
  border-radius: 999px;
  background-color: #201f3b;
}

.lotteryGameButtons {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: wrap;
  @media screen and (min-width: $screen-xs) {
    margin-bottom: 80px;
    flex-flow: nowrap;
  }
}

.nextQuestionBtn {
  min-width: 220px;
  font-size: 14px;
  padding: 25px;
  display: flex;
  justify-content: space-between;
  @media screen and (max-width: $screen-xs-max) {
    flex: auto;
    margin-top: 20px;
  }
}

.skipQuestionBtn {
  height: 60px;
  margin-right: 12px;
  min-width: 120px;
  border-radius: 10px;
  border: solid 1px rgba(226, 255, 84, 0.69);
  background-color: transparent !important;
  color: #e2ff54;
  padding: 25px;
  display: flex;
  justify-content: space-between;

  svg {
    width: 12px;
    height: 12px;
  }

  svg * {
    stroke: #e2ff54 !important;
  }
}

input[type='radio'] {
  &.checkbox {
    position: absolute;
    left: -9999px;

    & + label {
      position: relative;
      padding: 20px 20px 20px 60px;
      &::before {
        content: '';
        position: absolute;
        left: 20px;
        top: 20px;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        border: 2px solid rgba(255, 255, 255, 0.3);
        display: block;
        transition-property: border-color, background-color;
        transition: 0.2s ease-in-out;
      }
    }
    &:checked + label {
      &::before {
        background: #e2ff54;
        border: 2px solid #201f3b;
      }
    }
  }
}

.loader {
  animation: spin 2s linear infinite;
  display: inline-block;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  border: 4px solid #ffffff;
  opacity: 0.6;
  border-bottom-color: transparent;
  margin-bottom: 20px;
}
@keyframes spin {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
