@import "../../styles/all";

.divider
{
    width:      100%;
    border:     none;
    border-top: 2px dashed $colorGrayLight4;
    margin:     20px 0;

    &.noMargin
    {
        margin: 0;
    }
}