@import '../../styles/all';

.eventShareContainer {
  width: 100%;
  min-height: 58px;
  position: relative;
  background: radial-gradient(circle at 50% 50%, #1c124a 0%, #150e39 100%);
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 50px;
  margin-bottom: 20px;

  &.closed {
    display: none;
  }

  @media (max-width: $screen-sm) {
    padding: 10px 10px;
    flex-direction: column;
    gap: 10px;
  }

  .labelContainer {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  .leftContainer {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 10px;

    svg {
      margin-bottom: 5px;
    }

    @media (max-width: $screen-sm) {
      flex-direction: column;
    }

    span {
      font-family: $fontDMSans;
      font-weight: 700;
      font-style: italic;
      text-transform: uppercase;

      &.yellow {
        color: $colorYellow;
      }
    }
  }

  .rightContainer {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 10px;

    @media (max-width: $screen-sm) {
      flex-direction: column;
    }
  }

  .inputContainer,
  .inputContainerCopied {
    width: 100%;
    height: 30px;

    .inputBoxContainer {
      height: 20px;
    }

    & > div {
      margin-bottom: 5px;
    }

    input {
      font-family: $fontLight;
      font-size: 16px;

      @media (max-width: $screen-sm) {
        font-size: 14px;
      }
    }
  }

  .inputContainerCopied {
    input {
      color: $colorGreenDarker !important;
    }
  }

  .shareButtons {
    display: flex;
    flex-direction: row;
    column-gap: 5px;

    .shareIcon {
      width: 29px;
      height: 29px;

      svg > * {
        fill: $colorYellow;
      }

      button,
      svg {
        width: 29px;
        height: 29px;
      }

      path {
        fill: $colorPrimary;
      }
    }
  }

  .closeIcon {
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 10px;

    & path {
      stroke: $colorWhite20;
    }
  }
}
