@import '../../styles/all';

.choiceContainer
{
    display:         flex;
    flex-wrap:       wrap;
    flex-direction:  row;
    justify-content: space-between;
    width:           100%;

    .choice,
    .emptyChoiceSelector
    {
        width:  100%;
        flex:   1 0 calc(50% - 16px);
        margin: 8px;

        &.choice
        {
            display:         flex;
            flex-direction:  column;
            justify-content: center;
        }
    }
}