@import '../../styles/all';

.paymentScreenContainer
{
    display:          flex;
    flex-direction:   column;
    background-color: $colorWhite;
    color:            $colorPrimary;
    flex:             1;

    &.paymentScreenSuccessContainer
    {
        padding:          40px 1rem 0;
        background-color: $colorGrayLight3;
    }

    .confirmButton
    {
        margin-top:    auto;
        margin-bottom: 20px;
    }
}