@import '../../styles/all';

.disclaimerPopupContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: relative;
  height: 100%;
  width: 100%;
  padding: 45px 0;
  background-color: $colorWhite;
  color: $colorPrimaryDark;
  overflow: visible;

  .ctaButton {
    background-color: $colorWhite;
    width: 100%;
    height: 60px;
    font-size: 20px;
    background-image: url('../../data/images/signup-background-one.svg');
    background-position: center;
    background-repeat: no-repeat;

    @media (min-width: $screen-sm) {
      width: 70%;
    }
  }

  .disclaimerPopupTextContainer {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 0 20px;

    .disclaimerPopupTextHeadline {
      font-family: $fontBold;
      font-size: 11px;
      margin-bottom: 10px;
      position: relative;
      text-align: center;
      z-index: 1;
      padding-top: 25px;

      @media (max-width: $screen-xs) {
        padding-top: 35px;
      }

      .disclaimerPopupTextHeadlineUnderline {
        position: absolute;
        bottom: 10px;
        left: 0;
        top: 40px;
        width: 100%;
        border-bottom: 9px solid $colorYellowLight;
        z-index: -1;
      }
    }

    .disclaimerPopupText {
      font-size: 11px;
      margin-bottom: 20px;
      text-align: justify;
      z-index: 1;
      padding: 20px;

      p {
        margin-bottom: 10px;

        @media (max-width: $screen-xs) {
          font-size: 13px;
          padding: 0;
          margin-bottom: 0;
        }
      }
    }
  }
}
