@import '../../styles/all';

.disclaimerPopupContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: relative;
  height: 100%;
  min-height: 550px;
  width: 100%;
  padding: 45px 20px;
  background-color: $colorWhite;
  color: $colorPrimaryDark;
  overflow: visible;
  border-radius: 10px;

  @media (max-width: $screen-sm) {
    padding: 35px 10px;
  }

  .ctaButton {
    overflow: hidden;
    font-size: 16px;
    margin: 20px 0 0;
    width: 100%;
    max-width: 200px;

    @media (max-width: $screen-sm) {
      height: 50px;
      margin: 10px 0 0;
    }

    span > svg {
      width: 100%;
    }

    &[disabled] {
      opacity: 0.7;
      cursor: not-allowed;
    }
  }

  .disabledCTA {
    background: $colorLightYellow !important;
  }

  .disclaimerPopupTextContainer {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 0 20px;

    .disclaimerPopupTextHeadline {
      font-family: $fontBold;
      color: $colorPrimary;
      font-size: 25px;
      margin-bottom: 20px;
      position: relative;
      text-align: center;
      z-index: 1;

      @media (max-width: $screen-xs) {
        font-size: 16px;
        margin-bottom: 15px;
        .highlight {
          top: 15px;
        }
      }
    }

    .disclaimerPopupText {
      font-size: 13px;
      margin-top: 10px;
      margin-bottom: 10px;
      text-align: justify;
      z-index: 1;

      p {
        margin-bottom: 10px;
        -webkit-text-size-adjust: 100%;

        @media (max-width: $screen-xs) {
          padding: 0;
          margin-top: 0;
          margin-bottom: 5px;
        }
      }
    }
  }

  .disclaimerPopupScrollableContainer {
    width: 100%;
    height: fit-content;
    border: 1px solid $colorPrimaryDark;
    border-radius: 10px;
    position: relative;
    padding: 10px 0 10px 10px;

    .disclaimerPopupScrollableText {
      font-family: $fontBold;
      width: 100%;
      height: 100%;
      flex: 1 1;
      max-height: 350px;
      overflow-y: scroll;
      font-size: 11px;
      padding: 0 20px 0 15px;
      text-align: justify;
      -webkit-text-size-adjust: 100%;

      @media (max-width: $screen-xs) {
        max-height: 300px;
      }

      ol li,
      p {
        margin-bottom: 10px;

        a {
          text-decoration: underline;
        }
      }

      p {
        margin-left: -10px;
      }
    }
  }

  .authenticationLegalAuthorizationAgreementCheckBox {
    display: flex;
    align-items: center;
    font-family: $fontBold;
    font-size: 12px;
    margin: 20px 20px 10px 20px;
    -webkit-text-size-adjust: 100%;
  }
}
