@import '../../styles/all';

.switchableViewContainer {
  padding: 0 30px;
  color: $colorPrimary;
}

.myTrades {
  width: 100%;
  color: $colorWhite;
  overflow-y: auto;
}

.myTradesContainer {
  display: flex;
  flex-direction: column;
  height: 100%;
}
