@import '../../styles/all';

.pill
{
    display:        flex;
    flex-direction: column;
    margin-bottom:  1rem;
    border-radius:  8px;
    overflow:       hidden;
}

.pillFooter
{
    display:          flex;
    justify-content:  flex-end;
    align-items:      center;
    background-color: rgba(241, 242, 246, 0.33);
    padding:          1rem 1.5rem;

    .timeLeftCounterContainer
    {
        display:     flex;
        align-items: center;
        color:       $colorWhite;
        font-family: $fontLight;
        font-size:   12px;
    }
}

.pillContent
{
    display:          flex;
    flex-direction:   column;
    justify-content:  space-between;
    align-items:      flex-start;
    background-color: $colorWhite;
    padding:          1rem 1.5rem;

    @media (min-width: $screen-sm)
    {
        align-items:    center;
        flex-direction: row;
    }

    .label
    {
        font-size:   10px;
        font-family: $fontLight;
        color:       $colorPrimaryDark;
    }

    .justify
    {
        display:         flex;
        flex-direction:  column;
        align-items:     center;
        justify-content: space-between;

        @media (min-width: $screen-sm)
        {
            flex-direction:  row;
            align-items:     center;
            justify-content: center;
        }

        &.profileContainer
        {
            flex-direction: row;
            flex-flow:      wrap;

            span
            {
                display:     block;
                font-family: $fontLight;
                color:       $colorGrayLight2;
                font-size:   12px;
            }

            @media (min-width: $screen-sm)
            {
                flex-flow: nowrap;
            }

            .hotBetBadgeContainer
            {
                width:       100%;
                display:     flex;
                align-items: flex-start;

                @media (min-width: $screen-sm)
                {
                    display: block;
                    width:   auto;
                }
            }
        }
    }

    .divider
    {
        width:      100%;
        border:     none;
        border-top: 1.8px dashed #e7e8ee;
        margin:     30px 0;

        @media (min-width: $screen-sm)
        {
            display: none;
        }
    }

    .profile
    {
        height:              25px;
        width:               25px;
        border-radius:       50%;
        margin-right:        0.5rem;
        background-color:    $colorGrayLight;
        background-size:     cover;
        background-position: center center;

        @media (min-width: $screen-sm)
        {
            height: 50px;
            width:  50px;
        }
    }

    .desc
    {
        margin: 1rem 0;

        p
        {
            display:     block;
            font-family: $fontBold;
        }
    }

    .input
    {
        border-radius:    6px;
        border:           solid 1px #f1f2f6;
        background-color: #f1f2f6;
        height:           59px;
        display:          inline-flex;
        justify-content:  space-between;
        align-items:      flex-start;
        flex-direction:   column;
        padding:          0.5rem 1rem;
        margin:           1rem 0.5rem;
        width:            100%;

        label
        {
            font-size:   10px;
            font-family: $fontLight;
            color:       $colorPrimaryDark;
        }

        input
        {
            background-color: transparent;
            border:           none;
            font-family:      $fontBold;
        }

        span
        {
            color:       $colorGrayLight2;
            font-family: $fontBold;
        }
    }

    .onWinInput
    {
        border-radius:    6px;
        border:           solid 1px #f1f2f6;
        background-color: $colorWhite;
        height:           59px;
        display:          inline-flex;
        justify-content:  space-between;
        align-items:      flex-start;
        flex-direction:   column;
        padding:          0.5rem 1rem;
        margin:           0.5rem 0.5rem;
        width:            100%;

        label
        {
            font-size:   10px;
            font-family: $fontLight;
            color:       $colorPrimaryDark;
        }

        input
        {
            background-color: transparent;
            border:           none;
            font-family:      $fontBold;
        }

        span
        {
            color:       $colorGrayLight2;
            font-family: $fontBold;
        }
    }

    .buttonContainer
    {
        display:         flex;
        align-items:     center;
        justify-content: center;

        .btnBetLeft
        {
            display:          inline-flex;
            justify-content:  center;
            align-items:      center;
            flex-direction:   column;
            margin-right:     0.25rem;
            padding:          0.5rem 1.5rem;
            border-radius:    10px;
            border:           solid 2.5px #acffce;
            background-color: $colorWhite;
            font-family:      $fontBold;
            cursor:           pointer;
            font-size:        18px;
            width:            100%;

            span
            {
                font-family:   $fontLight;
                color:         $colorGrayLight2;
                margin-bottom: 0.25rem;
                font-size:     12px;
            }
        }

        .btnBetRight
        {
            display:          inline-flex;
            justify-content:  center;
            align-items:      center;
            flex-direction:   column;
            margin-left:      0.25rem;
            padding:          0.5rem 1.5rem;
            border-radius:    10px;
            border:           solid 2.5px #acc4ff;
            background-color: $colorWhite;
            font-family:      $fontBold;
            cursor:           pointer;
            font-size:        18px;
            width:            100%;

            span
            {
                color:         $colorGrayLight2;
                font-family:   $fontLight;
                margin-bottom: 0.25rem;
                font-size:     12px;
            }
        }
    }

    .goToEventContainer
    {
        min-width:       80px;
        display:         flex;
        flex-direction:  column;
        align-items:     center;
        text-align:      center;
        text-decoration: none;
        font-size:       10px;

        .goToEventIcon
        {
            margin-bottom: 5px;
        }
    }
}