@import '../../styles/all';

.pill
{
    display:        flex;
    flex-direction: column;
    margin-bottom:  1rem;
    border-radius:  8px;
    overflow:       hidden;
    cursor:         pointer;
}

.pillFooter
{
    display:          flex;
    justify-content:  flex-end;
    align-items:      center;
    background-color: rgba(241, 242, 246, 0.33);
    padding:          1rem 1.5rem;

    .timeLeftCounterContainer
    {
        display:     flex;
        align-items: center;
        color:       $colorWhite;
        font-family: $fontLight;
        font-size:   12px;
    }
}

.pillContent
{
    display:          flex;
    flex-direction:   column;
    justify-content:  space-between;
    align-items:      flex-start;
    background-color: $colorWhite;
    padding:          1rem 1.5rem;

    @media (min-width: $screen-md)
    {
        align-items:    center;
        flex-direction: row;
    }

    .label
    {
        font-size:   10px;
        font-family: $fontLight;
        color:       $colorPrimaryDark;
    }

    .justify
    {
        display:         flex;
        flex-direction:  column;
        align-items:     center;
        justify-content: space-between;
        width:           100%;

        @media (min-width: $screen-md)
        {
            flex-direction:  row;
            align-items:     center;
            justify-content: flex-end;
        }
    }

    .divider
    {
        @media (min-width: $screen-md)
        {
            display: none;
        }
    }

    .desc
    {
        width: 100%;

        @media (min-width: $screen-md)
        {
            width: 50%;
        }

        p
        {
            display:     block;
            font-family: $fontBold;
            font-size:   1.2rem;
            margin:      0.5rem 0;
        }
    }

    .inputWrapper
    {
        display:         flex;
        align-items:     center;
        flex-wrap:       nowrap;
        margin-top:      1rem;
        justify-content: space-between;
        width:           100%;

        @media (min-width: $screen-md)
        {
            flex-direction:   column;
            align-items:      flex-start;
            border-radius:    6px;
            border:           solid 1px #f1f2f6;
            background-color: #f1f2f6;
            padding:          1rem;
            margin:           0 1rem 0 0;
            max-width:        200px;

            .input
            {
                border: unset !important;
            }
        }

        label
        {
            font-size:    10px;
            font-family:  $fontLight;
            color:        $colorPrimaryDark;
            white-space:  nowrap;
            margin-right: 1rem;

            @media (min-width: $screen-md)
            {
                padding-bottom: 0.5rem;
                display:        inline-block;
            }
        }

        .input
        {
            border-radius:    6px;
            display:          inline-flex;
            justify-content:  center;
            align-items:      center;
            padding:          1rem 1rem;
            width:            auto;
            border:           1px solid $colorGrayLight;
            background-color: $colorGrayLight;

            @media (min-width: $screen-md)
            {
                padding: 0;
            }

            input
            {
                background-color: transparent;
                border:           none;
                font-family:      $fontBold;
                width:            100%;
                font-size:        16px;

                @media (min-width: $screen-md)
                {
                    text-align: left;
                }
            }

            span
            {
                color:       $colorGrayLight2;
                font-family: $fontBold;
                font-size:   12px;

                @media (min-width: $screen-md)
                {
                    font-size: 1rem;
                }
            }
        }
    }

    .buttonContainer
    {
        width:   100%;
        height:  100%;
        z-index: $zIndexEventBetPillButtonContainer;

        @media (min-width: $screen-md)
        {
            margin:    0 1rem;
            max-width: 300px;
        }

        .quoteButtons
        {
            display:         flex;
            align-items:     center;
            justify-content: center;
            height:          100%;
            margin-top:      20px;

            @media (min-width: $screen-md)
            {
                margin-top: 0;
            }

            .choice
            {
                width:           100%;
                padding:         10px;
                height:          95px;
                justify-content: center;

                @media(min-width: $screen-md)
                {
                    padding:         15px;
                    justify-content: unset;
                    height:          unset;
                }

                &:first-child
                {
                    margin-right: 0.5rem;
                }

                &:last-child
                {
                    margin-left: 0.5rem;
                }

                > span
                {
                    font-size: 16px;
                }
            }
        }
    }

    .betButton
    {
        font-size:        16px;
        margin-top:       auto;
        background-color: transparent;

        @media (min-width: $screen-sm)
        {
            margin-bottom: auto;
            margin-top:    auto;
            font-size:     18px;
            margin-left:   20px;
            margin-right:  5px;
        }

        .buttonContent
        {
            z-index: $zIndexEventBetPillButtonContent;
        }
    }
}