@import '../../styles/all';

.buttonContainer {
  flex-basis: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.button {
  width: 15em;
  &.disabled {
    opacity: 0.6;
    cursor: not-allowed;
  }
}

@mixin selectStyles {
  input,
  .select > div:first-child {
    border-radius: 5px;
    padding: 10px;
    height: 38px;
    font-size: 14px;
    color: $colorPrimaryDark;
  }
  .select > div {
    svg {
      top: 50%;
      transform: translateY(-50%);
    }
  }
  & > div:nth-child(2) {
    input {
      height: auto;
    }
  }
}

.betTemplate {
  margin: 0 auto;
  @include selectStyles();
}

.betTemplateHint {
  margin-bottom: 10px;
  display: block;
  opacity: 0.4;
}

.templatePicker {
  display: flex;
}

.applyButton {
  margin-left: 10px;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 14px;
}

.inputContainer {
  flex: calc(50% - 5px) 0 1;
  width: auto;
  @include selectStyles();
  &.inputContainerError {
    input {
      border-color: $colorRed;
    }
  }
}
