@import '../../styles/all';

.modalHeaderDesc {
  color: $colorBlack;
  font-size: 14px;
  font-family: $fontDMSans;
  text-align: left;
  margin-top: 10px;
}

.modalHeaderTitle {
  display: flex;
  align-items: center;
  h1 {
    color: $colorBlack;
    font-size: 28px;
    font-family: $fontDMSans;
    font-weight: bold;

    @media (max-width: 600px) {
      font-size: 20px;
    }
  }
}
