@import '../../styles/all';

.referralListContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  max-height: 100%;
  width: 100%;
  height: 100%;
  padding: 60px 30px 0;
  background-color: $colorWhite;
  color: $colorPrimaryDark;
  border-radius: 10px;

  .referralListTitle {
    display: flex;
    flex-direction: row;
    font-size: 24px;
    font-family: $fontDMSans;
    font-weight: bold;
    text-align: center;
    width: 100%;
    justify-content: center;

    .titleIcon {
      width: auto;
      margin-right: 15px;
    }
  }

  .referralListDescription {
    width: 100%;
    margin-top: 50px;
    font-size: 16px;

    .referralLinkContainer {
      display: flex;
      flex-direction: column;

      @media (min-width: $screen-sm) {
        align-items: center;
        flex-direction: row;
      }

      .referralLinkTitle {
        margin-bottom: 20px;

        @media (min-width: $screen-sm) {
          flex: 1 0 40%;
          margin-bottom: 0;
        }
      }
    }
  }

  .referralList {
    width: 100%;
    height: 100%;
    overflow: auto;
    border: 2px solid $colorPrimaryDark;
    border-radius: 6px;
    margin: 30px 0 20px;

    .referralListItem {
      display: flex;
      flex-direction: row;
      align-items: center;
      flex-wrap: wrap;
      width: 100%;
      padding: 20px 15px;
      font-size: 16px;

      &:not(:last-child) {
        border-bottom: 2px solid $colorGrayLight;
      }

      .referralName,
      .referralEmail {
        margin-left: 30px;
      }

      .referralDate {
        width: 100%;
        text-align: right;

        @media (min-width: $screen-sm) {
          width: auto;
          margin-left: auto;
        }
      }
    }
  }
}
