@import '../../styles/all';

.arrowContainer
{
    position:       absolute;
    top:            -50px;
    right:          3rem;
    display:        flex;
    flex-direction: row;
    align-items:    center;
    height:         20px;
    margin-bottom:  50px;
    margin-left:    3rem;

    .arrow
    {
        height: 10px;
        width:  10px;
        cursor: pointer;

        &:first-child
        {
            margin-right: 50px;
        }

        &.arrowDisabled
        {
            opacity: 0.36;
        }

        @include svgSelectorColor($colorWhite)
    }

    @media (max-width: $screen-sm)
    {
        display: none;
    }
}