@import '../../styles/all';

.header {
    background: linear-gradient(180deg,rgba(0,0,0,.6),#120e27),url('https://thumbnails.mtb-news.de/cache/2000_1066_1_1_0/87/aHR0cHM6Ly93d3cubXRiLW5ld3MuZGUvbmV3cy93cC1jb250ZW50L3VwbG9hZHMvMjAyMC8wOS9iMzFjOTZjNzFkMWM1MTBiNjY1OGUwZmZmZTY5NjJlOWQyYmE0MDdmLXNjYWxlZC5qcGc.jpg');
    min-height: 600px;
    margin-bottom: 4rem;
}