@import '../../styles/all';

.header {
  position: relative;
  min-height: 600px;
  max-height: 600px;
  overflow: hidden;
  display: flex;

  .eventContainer {
    height: 100%;
    width: 100%;
    background-position: center center;
    background-size: cover;
    box-shadow: 4px 5px 10px 5px rgba(18, 14, 39, 0.3);

    iframe {
      position: absolute;
      z-index: -1;
      max-width: unset !important;
      width: calc(100% * 4) !important;
      height: calc(100% * 2) !important;
      margin: 0 !important;

      @media (min-width: 2100px) {
        width: calc(100% * 6) !important;
        height: calc(100% * 3) !important;
      }
    }

    .previewImage {
      width: 100%;
      height: 100%;
    }

    .timeLeftCounterContainer {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      padding-top: 10px;
      opacity: 0;
      transition: opacity 0.5s ease-in-out;
    }
    .showTimeLeftCounter {
      opacity: 1;
    }
    .timeLeftCaption {
      font-size: 10px;
      color: $colorWhite;

      @media screen and (min-width: $screen-xs) {
        font-size: 12px;
      }
    }
  }

  .headerOverlay {
    position: absolute;
    width: calc(100% + 2px);
    height: calc(100% + 2px);
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.2), $colorPrimaryDark);
    z-index: 0;
    top: -1px;
    left: -1px;
  }

  .twitchStream {
    height: 100%;
    overflow: hidden;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .headerWrapper {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: flex-end;
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 3rem 30px;

    @media (min-width: $screen-sm) {
      padding: 3rem;
    }
  }

  .tagList {
    display: flex;
    flex-flow: wrap;

    .tag {
      color: #b0b0b0;
      margin-right: 6px;
    }
  }

  .headerContentContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: $colorWhite;

    .badgeContainer {
      margin-bottom: 30px;
    }

    .tags {
      color: #b0b0b0;
      font-size: 12px;
    }

    .title {
      margin-bottom: 25px;
      font-size: 30px;
      font-weight: bold;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.07;
      letter-spacing: 1px;

      @media (min-width: $screen-sm) {
        font-size: 40px;
      }
    }

    .goToEvent {
      margin-top: 2rem;
      display: inline-flex;
      justify-content: space-around;
      align-items: center;
      text-decoration: none;
      padding: 1rem 2rem;
      background-color: rgba(8, 6, 17, 0.42);
      font-family: $fontDMSans;

      span {
        display: block;
        margin-right: 1rem;
      }

      .arrowRight {
        display: block;
        position: relative;
        width: 10px;
        height: 10px;
        border-top: 2px solid #ffffff;
        border-left: 2px solid #ffffff;
        transform: rotate(90deg);

        &:after {
          content: '';
          position: absolute;
          width: 2px;
          height: 15px;
          background-color: #ffffff;
          transform: rotate(-45deg) translate(4.5px, 1px);
          left: 0;
          top: 0;
        }
      }
    }
  }
}

.betPillContainer {
  padding: 0 30px;
  padding-top: 3rem;

  @media (min-width: $screen-sm) {
    padding: 0 3rem;
    padding-top: 3rem;
  }
}
