@import '../../styles/all';

.navbar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 50px 24px;
  z-index: $zIndexNavbar;
  background-color: $colorWhite;

  @media (max-width: $screen-sm) {
    padding: 36px 24px;
  }

  img {
    margin-right: 2rem;
  }

  .drawerWrapper {
    display: contents;
  }

  .drawerBackdropBg {
    backdrop-filter: blur(6px);
    height: inherit;
    width: inherit;
    position: absolute;
    z-index: 1;
  }

  .drawerContent {
    z-index: 5;
    display: flex;
    flex-flow: column nowrap;
    height: inherit;
  }

  .navbarItems {
    display: flex;
    align-items: center;
    z-index: 2;

    .signUpButton {
      width: 11rem;
      height: 55px;
      border-radius: 4px;
      font-size: 16px;
      margin-left: 0;
      background-image: url('../../data/images/signup-background-one.svg');
      background-position: center;
      @media (min-width: $screen-xs-max) {
        margin-left: 20px;
      }
    }

    svg {
      stroke-width: 0;
    }

    &.hideOnMobile {
      @media (max-width: $screen-md) {
        display: none;
      }
    }

    &:not(.hideOnMobile) {
      @media (max-width: $screen-xs-max) {
        width: 100%;
        justify-content: flex-end;
      }
    }
    .signUpButton {
      background: linear-gradient(180deg, #e82e89 0%, #a21c5d 97.4%) !important;
      width: 11rem;
      height: 43px;
      border-radius: 30px;
      font-size: 15px;
      line-height: 20px;
      margin-left: 0;
      background-image: url('../../data/images/signup-background-one.svg');
      background-position: center;
      color: #ffffff;
      text-transform: uppercase;
      font-family: $fontRegular;

      @media (max-width: $screen-sm) {
        width: 8rem;
        height: 40px;
        font-size: 14px;
      }
    }

    .loginButton {
      background: linear-gradient(180deg, #21155c 0%, #0e0927 100%) !important;
      color: $colorWhite;
      border-radius: 30px;
      text-transform: uppercase;
      width: 11rem;
      height: 43px;
      font-size: 16px;
      border: 1px solid $colorWhite;
      font-family: $fontRegular;
      margin-right: 20px;

      @media (max-width: $screen-sm) {
        width: 8rem;
        height: 40px;
        font-size: 14px;
      }
    }

    a {
      color: $colorPrimary;
      opacity: 0.5;
      text-decoration: none;
      margin: 0 15px;
      font-family: $fontLight;
      white-space: nowrap;
      letter-spacing: 0.4px;
      font-size: 16px;

      &:hover {
        opacity: 1;
      }
    }

    .ranking {
      z-index: 5;
      @media (max-width: $screen-xs) {
        display: none !important;
      }

      &.hiddenMobile {
        @media (max-width: $screen-xs) {
          display: none;
        }
      }
    }

    .balanceOverview {
      border: none;
      opacity: 1;
      z-index: 5;
      @media (max-width: 360px) {
        display: none !important;
      }
    }

    .pillButton {
      color: $colorWhite;
      display: flex;
      align-items: center;
      white-space: nowrap;
      padding: 10px;
      padding-right: 16px;
      background: $colorPinkDark;
      font-size: 12px;
      border-radius: 20px;
      font-family: $fontRegular;
      cursor: pointer;
      margin-right: 10px;
      height: 35px;
      min-width: 80px;

      img,
      svg {
        margin-right: 10px;
        max-height: 21px;
      }

      p {
        font-size: 13px;
      }

      @media screen and (min-width: $screen-sm) {
        margin-right: 16px;
      }

      &.leaderboardValues {
        background-color: $colorPrimary;
      }

      &Active {
        background-color: transparent;
        border: 2px solid rgba(172, 196, 255, 0.42);
        padding: 8px 13px;
      }
    }

    .notificationOverview {
      position: relative;
      color: white;
      z-index: 5;
      padding: 0 1rem;
      cursor: pointer;

      .notificationIcon {
        position: absolute;
        top: -10px;
        left: 0;
      }

      .notificationNew {
        position: absolute;
        top: -12px;
        right: -5px;
        width: 21px;
        height: 17px;
        display: flex;
        justify-content: center;
        align-items: center;
        background: $colorRedLight;
        border-radius: 8.4px;

        .notificationNewText {
          font-size: 10px;
          line-height: 13px;
          color: #ffffff;
        }
      }
    }

    .profileContainer {
      display: flex;
      margin-left: 15px;
      cursor: pointer;
      z-index: 5;

      &.menuOpened {
        .downCaret {
          transform: rotate(90deg);
        }
      }

      .profile {
        flex: auto;
        margin: 0;
        height: 35px;
        width: 35px;
        border-radius: 50%;
        background-color: $colorGrayLight;
        background-size: cover;
        background-position: center center;
        border: 1px solid $colorLightGray;
      }
      .downCaret {
        margin: 0 0 0 10px;
        width: auto;
        transition: transform 0.5s ease-in-out;
      }
      svg path {
        fill: $colorWhite;
        stroke: $colorWhite;
      }

      @media screen and (min-width: $screen-sm) {
        margin-right: 20px;
      }
    }

    .active {
      opacity: 1;
      font-family: $fontBold;
      position: relative;

      &:after {
        content: '';
        position: absolute;
        background-color: $colorPinkDark;
        bottom: -5px;
        left: 50%;
        width: 80%;
        max-width: 120px;
        height: 2px;
        transform: translateX(-50%);
        transition: opacity 0.2s ease-in-out;
      }
    }

    .logoLink {
      opacity: 1;
      margin: 4rem 0 0;

      & > img {
        margin: 0;
        width: 450px;
      }

      &:after {
        display: none;
      }
    }

    .linkWrapper {
      display: flex;
      margin-left: 1rem;
      margin-top: 4rem;
    }

    .homeIcon {
      width: 20px;
      height: 20px;

      & > svg {
        max-height: 20px;
      }
    }
  }

  .leaderboard {
    background-color: $colorWhite;

    display: flex;
    flex-flow: column nowrap;
    z-index: 5;
    box-shadow: 0px 9px 16px rgba(159, 162, 191, 0.18),
      0px 2px 2px rgba(159, 162, 191, 0.32);
    border-radius: 0px 0px 12px 0px;

    .closeLeaderboard {
      @extend .floatingCloseButton;

      @media screen and (min-width: $screen-sm) {
        display: none;
      }
    }

    .leaderboardHeadingWrapper {
      display: flex;
      align-items: center;
      justify-content: space-between;
      position: relative;

      &:after {
        content: '';
        position: absolute;
        background: url('../../data/images/side-panel-alpaca.png');
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        right: 17px;
        top: 10px;
        width: 100px;
        height: 70px;
        z-index: -1;

        // @media (min-width: $screen-sm) {
        //   display: none;
        // }
      }
    }

    .leaderboardHeading {
      padding: 20px 30px;
      color: $colorPrimary;
      width: 100%;
      font-family: $fontBold;
      font-size: 24px;
      line-height: 30px;

      @media screen and (min-width: $screen-xs) {
        font-size: 24px;
      }
    }

    .leaderboardHeadingRank {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      color: $colorWhite;
      padding: 20px 30px;
      min-width: 90px;
      display: none;
    }

    .leaderboardHeadingRankText {
      font-size: 11px;
      text-transform: uppercase;
      //opacity: 0.45;
      padding-bottom: 10px;
    }

    .leaderboardHeadingRankValue {
      font-size: 24px;
    }

    .leaderboardInfo {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 90px;
      width: 100%;
      margin-bottom: 20px;
      display: none;

      @media (max-width: $screen-sm) {
        flex-direction: column;
        padding: 0 15px;
        height: auto;
      }
    }

    .leaderboardCountdownBlock {
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0 auto;
      margin-bottom: 15px;
      width: 100%;
      height: 44px;
      z-index: -3;

      @media (max-width: $screen-sm) {
        padding: 0 15px;
      }

      .leaderboardInfoItem {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        width: 88%;
        align-items: center;

        &:last-child {
          margin-right: 0;
          margin-left: 0;
        }

        @media (max-width: $screen-sm) {
          width: 100%;
          //padding: 20px 15px;

          @media (max-width: $screen-sm) {
            flex-direction: column;
          }
        }
      }

      @media (max-width: $screen-sm) {
        margin: 15px 0;
        flex-direction: column;
      }

      .timerSide {
        font-weight: bold;
        font-size: 14px;
        display: flex;
        font-family: $fontRegular;
        align-items: center;
      }

      .linkSide {
        font-family: $fontBold;
        color: $colorPinkDark;
        cursor: pointer;
        font-size: 14px;
        line-height: 18px;
        text-decoration-line: underline;
      }
    }

    .leaderboardTimerComponent {
      span {
        font-size: 18px;
        font-family: $fontBold;
        color: $colorPrimary;
        opacity: 1;
        padding: 0;
      }
    }

    .time-part-name {
      font-size: 16px;
    }

    .leaderboardInfoItem {
      background-color: $colorLightGray1;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      width: 100%;
      padding: 20px;
      border-radius: 12px;
      color: $colorPrimary;
      height: 100%;
      font-family: $fontRegular;

      &:first-child {
        margin: 0 5px 0 30px;
      }

      &:last-child {
        margin: 0 30px 0 5px;
      }

      @media (max-width: $screen-sm) {
        margin: 0;
        padding: 15px 20px;

        &:first-child {
          margin: 0 0 10px 0;
        }

        &:last-child {
          margin: 0;
        }
      }
    }

    .leaderboardInfoItemText {
      font-size: 11px;
      text-transform: uppercase;
      //opacity: 0.45;
    }

    .leaderboardInfoItemNumber {
      font-size: 24px;
    }

    .leaderboardInfoItemToken {
      font-size: 10px;
      vertical-align: super;
    }
  }

  .logoMobile {
    width: auto;
    max-width: 60px;

    & > svg,
    & > svg > * {
      width: 100%;
      height: 100%;
      overflow: visible;
    }

    & > svg > * {
      stroke-width: 0;
    }
  }

  .logoMobileWrapper {
    @media (min-width: $screen-md) {
      display: none;
    }
  }
}

.navbarSticky {
  position: fixed;
}
