@import '../../styles/all';

.navbar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 50px 50px;
  z-index: $sIndexNavbar;

  @media (max-width: $screen-md) {
    padding: 36px 24px;
  }

  @media (min-width: 1900px) {
    padding: 50px 100px;
  }

  .drawerWrapper {
    display: contents;
  }

  .drawerBackdropBg {
    backdrop-filter: blur(6px);
    height: inherit;
    width: inherit;
    position: absolute;
    z-index: 1;
  }

  .drawerContent {
    z-index: 5;
    display: flex;
    flex-flow: column nowrap;
    height: inherit;
  }

  .centerContainer {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    .walletButton {
      color: $colorLightYellow;
      display: flex;
      align-items: center;
      white-space: nowrap;
      padding-left: 10px;
      font-size: 12px;
      border: 1px solid $colorLightYellow;
      box-sizing: border-box;
      border-radius: 24px;
      font-family: $fontRegular;
      cursor: pointer;
      min-width: 80px;
      height: 40px;
      z-index: 0;

      .plusButton {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 40px;
        height: 40px;
        margin-left: 10px;
        background: #ffd31a;
        border: 1px solid #ffd401;
        box-sizing: border-box;
        border-radius: 25px;
        color: $colorWhite;
        font-style: normal;
        font-weight: 600;
        font-size: 40px;
        line-height: 20px;
        &:before {
          content: '\FF0B';
        }
      }

      img,
      svg {
        margin-right: 10px;
        max-height: 24px;
      }

      p {
        font-size: 13px;
      }

      &.leaderboardValues {
        background-color: $colorPrimary;
      }

      &Active {
        background-color: transparent;
        border: 2px solid rgba(172, 196, 255, 0.42);
        padding: 8px 13px;
      }
      @media (max-width: $screen-sm) {
        display: none;
      }
    }
  }

  .navbarItems {
    display: flex;
    align-items: center;

    svg {
      stroke-width: 0;
    }

    &.hideOnMobile {
      @media (max-width: $screen-md) {
        display: none;
      }
    }

    &:not(.hideOnMobile) {
      @media (max-width: $screen-xs-max) {
        width: 100%;
        justify-content: flex-end;
      }
    }
    .signUpButton {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 43px;
      border-radius: 30px;
      font-size: 15px;
      line-height: 20px;
      margin-left: 0;
      margin-right: 20px;
      background: #ffd31a;
      color: black;
      border: 2px solid #ea9c00;
      box-sizing: border-box;
      border-radius: 25px;
      font-family: $fontRegular;
      padding: 0 24px;
      cursor: pointer;

      @media (max-width: $screen-sm) {
        display: none;
        height: 40px;
        font-size: 14px;
      }
    }

    .loginButton {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 43px;
      color: #ffd31a;
      font-size: 16px;
      font-family: $fontRegular;
      margin-right: 20px;
      border: 2px solid #ffd31a;
      box-sizing: border-box;
      border-radius: 25px;
      padding: 0 24px;
      cursor: pointer;

      @media (max-width: $screen-sm) {
        height: 40px;
        font-size: 14px;
      }
    }

    a {
      color: $colorWhite;
      opacity: 0.7;
      text-decoration: none;
      margin: 0 15px;
      font-family: $fontLight;
      white-space: nowrap;
      letter-spacing: 0.4px;
      font-size: 16px;

      &:hover {
        opacity: 1;
      }
    }

    .ranking {
      z-index: 5;
      @media (max-width: $screen-xs) {
        display: none !important;
      }

      &.hiddenMobile {
        @media (max-width: $screen-xs) {
          display: none;
        }
      }
    }

    .balanceOverview {
      border: none;
      opacity: 1;
      z-index: 5;
      @media (max-width: 360px) {
        display: none !important;
      }
    }

    .notificationOverview {
      position: relative;
      color: white;
      z-index: 5;
      padding: 0 1rem;
      cursor: pointer;

      .notificationIcon {
        position: absolute;
        top: -10px;
        left: 0;
      }

      .notificationNew {
        position: absolute;
        top: -12px;
        right: -5px;
        width: 21px;
        height: 17px;
        display: flex;
        justify-content: center;
        align-items: center;
        background: $colorRedLight;
        border-radius: 8.4px;

        .notificationNewText {
          font-size: 10px;
          line-height: 13px;
          color: #ffffff;
        }
      }
    }

    .profileContainer {
      display: flex;
      margin-left: 15px;
      cursor: pointer;
      z-index: 5;

      &.menuOpened {
        .downCaret {
          transform: rotate(90deg);
        }
      }

      .profile {
        flex: auto;
        margin: 0;
        height: 35px;
        width: 35px;
        border-radius: 50%;
        background-color: $colorGrayLight;
        background-size: cover;
        background-position: center center;
        border: 1px solid $colorLightGray;
      }
      .downCaret {
        margin: 0 0 0 10px;
        width: auto;
        transition: transform 0.5s ease-in-out;
      }
      svg path {
        fill: $colorWhite;
        stroke: $colorWhite;
      }

      @media screen and (min-width: $screen-sm) {
        margin-right: 20px;
      }
    }

    .menuContainer {
      cursor: pointer;
      z-index: 5;
      .menu {
        width: auto;
        @media (max-width: $screen-md) {
          width: 40px;
          height: 40px;
        }
      }
    }

    .active {
      opacity: 1;
      font-family: $fontBold;
      position: relative;

      &:after {
        content: '';
        position: absolute;
        background-color: $colorWhite;
        bottom: -5px;
        left: 50%;
        width: 80%;
        max-width: 120px;
        height: 2px;
        transform: translateX(-50%);
        transition: opacity 0.2s ease-in-out;
      }
    }

    .logoLink {
      opacity: 1;
      margin: 0;

      .logoContainer {
        display: flex;
        align-items: center;
        .logoText {
          margin-left: 10px;
          color: $colorWhite;
          font-family: $fontBold;
          font-size: 30px;
          line-height: 50px;
        }
      }

      & > img {
        margin: 0;
        width: 450px;
      }

      &:after {
        display: none;
      }
    }

    .linkWrapper {
      display: flex;
      margin-left: 1rem;
      margin-top: 4rem;
    }

    .homeIcon {
      width: 20px;
      height: 20px;

      & > svg {
        max-height: 20px;
      }
    }
  }

  .leaderboard {
    background-color: $colorPrimary;

    display: flex;
    flex-flow: column nowrap;
    z-index: 1;

    .closeLeaderboard {
      @extend .floatingCloseButton;

      @media screen and (min-width: $screen-sm) {
        display: none;
      }
    }

    .leaderboardHeadingWrapper {
      display: flex;
      align-items: center;
      justify-content: space-between;
      position: relative;
      padding: 15px 0;

      @media (max-width: $screen-md) {
        padding: 0;
      }

      .leaderboardIcon {
        width: 30px;
        height: 30px;
        margin-left: 30px;
      }
      &:after {
        content: '';
        position: absolute;
        //background: url('../../data/images/side-panel-alpaca.png');
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        right: 17px;
        top: 10px;
        width: 100px;
        height: 70px;
        z-index: -1;

        // @media (min-width: $screen-sm) {
        //   display: none;
        // }
      }
    }

    .leaderboardHeading {
      padding: 20px 16px;
      color: $colorWhite;
      width: 100%;
      font-family: $fontBold;
      font-size: 24px;
      line-height: 30px;

      @media screen and (min-width: $screen-xs) {
        font-size: 24px;
      }
    }

    .leaderboardHeadingRank {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      color: $colorWhite;
      padding: 20px 30px;
      min-width: 90px;
      display: none;
    }

    .leaderboardHeadingRankText {
      font-size: 11px;
      text-transform: uppercase;
      //opacity: 0.45;
      padding-bottom: 10px;
    }

    .leaderboardHeadingRankValue {
      font-size: 24px;
    }

    .leaderboardInfo {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 90px;
      width: 100%;
      margin-bottom: 20px;
      display: none;

      @media (max-width: $screen-sm) {
        flex-direction: column;
        padding: 0 15px;
        height: auto;
      }
    }

    .leaderboardInfoItem {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      width: 100%;
      padding: 20px;
      color: $colorWhite;
      height: 100%;
      font-family: $fontRegular;

      &:first-child {
        margin: 0 5px 0 30px;
      }

      &:last-child {
        margin: 0 30px 0 5px;
      }

      @media (max-width: $screen-sm) {
        margin: 0;
        padding: 15px 20px;

        &:first-child {
          margin: 0 0 10px 0;
        }

        &:last-child {
          margin: 0;
        }
      }
    }

    .leaderboardInfoItemText {
      font-size: 11px;
      text-transform: uppercase;
      //opacity: 0.45;
    }

    .leaderboardInfoItemNumber {
      font-size: 24px;
    }

    .leaderboardInfoItemToken {
      font-size: 10px;
      vertical-align: super;
    }
  }

  .logoMobile {
    width: auto;
    max-width: 42px;

    & > svg,
    & > svg > * {
      width: 100%;
      height: 100%;
      overflow: visible;
    }

    & > svg > * {
      stroke-width: 0;
    }
  }

  .logoMobileWrapper {
    @media (min-width: $screen-md) {
      display: none;
    }
  }
}

.navbarSticky {
  position: fixed;
}
