@import '../../styles/all';

.container {
  width: 100%;
  margin: 0 auto;

  @media (min-width: $screen-lg) {
    max-width: 1270px;
  }
}

.blogsContainer {
  padding: 30px;

  @media (max-width: $screen-md) {
    padding: 0 150px 15px;
  }

  @media (max-width: $screen-sm) {
    padding: 0 100px 15px;
  }

  @media (max-width: $screen-xs) {
    padding: 0 15px 15px;
  }
}

.gamesCategory {
  display: flex;
  flex-direction: row;
  column-gap: 10px;
  align-items: center;
  color: $colorWhite;
  font-family: $fontRegular;
  font-size: 24px;
  font-weight: 700;
  padding-bottom: 20px;

  .howtoLink {
    cursor: pointer;
    font-size: 11px;
    font-family: $fontRegular;
    text-decoration: underline;
    color: $colorYellow;

    @media (max-width: $screen-xs) {
      display: none;
      margin: 0;
      width: 100%;
      padding: 0 15px 15px;
    }
  }

  .questionIcon {
    cursor: pointer;
    display: none;

    svg {
      g,
      path,
      circle {
        fill: $colorYellow;
      }
    }

    @media (max-width: $screen-xs) {
      display: block;
    }
  }
}

.title {
  display: flex;
  column-gap: 10px;
  align-items: center;
  column-gap: 10px;
  font-size: 30px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.02;
  letter-spacing: 0.75px;
  color: white;

  //   margin: 30px auto 0;
  padding: 30px;
  width: 80%;

  .howtoLink {
    cursor: pointer;
    font-size: 11px;
    font-family: $fontRegular;
    text-decoration: underline;
    color: $colorYellow;

    @media (max-width: $screen-xs) {
      display: none;
      margin: 0;
      width: 100%;
      padding: 0 15px 15px;
    }
  }

  .questionIcon {
    cursor: pointer;
    display: none;

    svg {
      g,
      path,
      circle {
        fill: $colorYellow;
      }
    }

    @media (max-width: $screen-xs) {
      display: block;
    }
  }

  @media (max-width: $screen-sm) {
    margin: 0;
    width: 100%;
    padding: 0 15px 15px;
    align-items: center;
  }
}
.header {
  color: white;
  width: 80%;
  padding: 30px;

  @media (min-width: $screen-lg) {
    display: flex;
    align-items: flex-end;
  }

  @media (max-width: $screen-sm) {
    margin: 0;
    width: 100%;
    padding: 15px;
  }
}
