@import "../../styles/all";

.rippedTicketContainer
{
    position:      relative;
    box-sizing:    border-box;
    padding:       30px;
    border-radius: 10px;
    background:    $colorWhite;
    box-shadow:    2px 2px 15px 0 $colorGray;

    &:after
    {
        content:    '';
        position:   absolute;
        left:       5px;
        height:     6px;
        width:      calc(100% - 10px);
        bottom:     -5px;
        background: radial-gradient(circle, transparent, transparent 50%, $colorWhite 50%, $colorWhite 100% ) -7px -2px / 16px 16px repeat-x,
    }
}
