@import '../../styles/all';

.welcomeContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: relative;
  height: 100%;
  width: 100%;
  padding: 45px 0;
  background-color: $colorWhite;
  color: $colorPrimaryDark;
  font-family: $fontDMSans;
  font-weight: bold;
  overflow: visible;
  border-radius: 30px;

  .joinNowButton {
    width: 100%;
    font-size: 20px;
    @media (min-width: $screen-sm) {
      width: 70%;
    }
  }

  .featureList {
    z-index: 2;
    list-style: none;
    margin: 1rem 0;
    li {
      margin-bottom: 1rem;
    }

    li::before {
      content: '\2713';
      color: $colorGreen;
      font-weight: bold;
      display: inline-block;
      width: 1em;
      //margin-left: -2em;
      margin-right: 0.5rem;
    }
  }

  .welcomeTextContainer {
    display: flex;
    flex-direction: column;
    align-items: center;

    .logoMini {
      width: 60px;
    }

    .welcomeTextHeadline {
      font-size: 30px;
      margin-bottom: 10px;
      position: relative;
      text-align: center;
      z-index: 1;

      .welcomeTextHeadlineUnderline {
        position: absolute;
        bottom: 4px;
        left: -3.5%;
        width: 64%;
        border-bottom: 9px solid rgba(172, 196, 255, 0.36);
        z-index: -1;

        @media (min-width: $screen-sm) {
          left: -6%;
          width: 66%;
        }
      }
    }

    .welcomeTextText {
      margin-top: 4rem;

      @media (min-width: $screen-sm) {
        margin-top: 1rem;
      }
    }

    .welcomeTextText,
    .welcomeTextTextBelow {
      font-size: 30px;
      text-align: center;
    }

    .welcomeTextTextBelow {
      margin-top: 50px;
    }
  }

  .welcomeConfettiRight {
    position: absolute;
    z-index: 1;

    &.welcomeConfettiRight {
      right: -20px;
      bottom: -50px;
    }
  }
}
