@import '../../styles/all';

.jackpotContainer {
  margin: 30px 0;
  padding: 10px 30px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #e2ff54;

  @media (max-width: $screen-sm) {
    flex-direction: column;
  }

  .jackpotInfo {
    color: #fff;
    width: 60%;
    margin: 10px 0;

    @media (max-width: $screen-sm) {
      width: 100%;
    }

    h3 {
      font-size: 32px;
      &:first-child {
        color: #e2ff54;
      }

      &:last-child {
        margin-bottom: 15px;
      }

      @media (max-width: $screen-sm) {
        font-size: 20px;
        text-align: center;
      }
    }

    .infoList {
      display: flex;
      flex-direction: column;

      .userInfo {
        display: flex;
        flex-direction: row;
        flex: auto;
        justify-content: flex-start;
        align-items: center;
        height: 60px;
        width: 95%;
        padding-left: 10px;

        .imgs {
          width: 20%;
          justify-content: flex-start;
          display: flex;

          .medalImg {
            width: 16px;
          }

          .profilePicture {
            width: 44px;
            border-radius: 100px;
            margin-left: 10px;
          }
        }

        .username {
          width: 30%;
        }

        .amount {
          width: 50%;
        }

        @media (max-width: $screen-sm) {
          justify-content: space-between;
        }
      }
    }
  }

  .jackpotImage {
    width: 40%;

    @media (max-width: $screen-sm) {
      width: 100%;
    }
  }
}
