@import '../../styles/all';

.animation {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background: #1f1d38;
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.17);
  height: 340px;
  position: relative;

  @media (max-width: $screen-xs-max) {
    height: 244px;
  }

  .gameOffline {
    -webkit-filter: blur(10px);
    -moz-filter: blur(10px);
    -o-filter: blur(10px);
    -ms-filter: blur(10px);
    filter: blur(10px);
  }

  .timer {
    $timerShadowColor: #859acf;

    display: inline-block;
    width: 3ch;
    position: absolute;
    font-size: 110px;
    font-weight: bold;
    text-shadow: 4px 2px 2px $timerShadowColor;
    color: $colorWhite;

    @media (max-width: $screen-xs-max) {
      top: 16px;
      left: 20px;
      font-size: 36px;
    }

    &.flashAnimation {
      animation: color-change 0.3s ease-out forwards, scale 0.4s ease-out;
    }

    @keyframes scale {
      0% {
        transform: scale(1);
      }

      50% {
        transform: scale(1.6);
      }

      100% {
        transform: scale(1);
      }
    }

    @keyframes color-change {
      from {
        color: $colorWhite;
        text-shadow: 4px 2px 2px $timerShadowColor;
      }

      to {
        color: $colorRed;
        text-shadow: 4px 2px 2px $colorRedDark;
      }
    }
  }

  .canvas {
    border-radius: 12px;
    width: 100%;
    height: 100%;
  }
}

.preparingRound {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  .title {
    font-size: 46px;
    font-weight: bold;
    margin-bottom: 10px;
    color: $colorWhite;
    text-align: center;

    @media (max-width: $screen-xs-max) {
      font-size: 32px;
    }
  }

  .description {
    font-size: 16px;
    color: $colorYellow;
    text-align: center;
  }
}
