@import '../../styles/all';

.animation {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background: #1f1d38;
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.17);
  height: 340px;
  position: relative;

  .timer {
    position: absolute;
    font-size: 110px;
    font-weight: bold;
    text-shadow: 4px 2px 2px #859acf;
    color: $colorWhite;
  }

  .canvas {
    border-radius: 12px;
    width: 100%;
    height: 100%;
  }
}

.preparingRound {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(18, 19, 46, 0.8) 0.23%;

  .title {
    font-size: 46px;
    font-weight: bold;
    margin-bottom: 10px;
    color: $colorWhite;
    text-align: center;
  }

  .description {
    font-size: 16px;
    color: $colorYellow;
    text-align: center;
  }
}
