@import "../../styles/all";

.notifications {
    position: relative;
    display: flex;
    flex-direction: column;
    position: fixed;
    padding: 90px 0 40px 0;
    width: 100vw;
    height: 100vh;
    right: 0;
    top: 0;
    background-color: rgba(14, 9, 39, 0.86);
    z-index: 2;
    overflow-y: scroll;

    @media (min-width: $screen-sm) {
        width: 500px;
        background-color: $colorPrimary90;
    }

    .notificationsHeader {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        justify-content: space-between;
        margin: 0 24px 50px;

        .closeNotifications {
            width: 20px;
            cursor: pointer;

            @media (max-width: $screen-xs) {
                right: 0;
            }
        }

        .notificationHeadline {
            font-size: 30px;
            line-height: 39px;
            letter-spacing: 0.75px;
            color: #ffffff;
            display: flex;
            flex-wrap: nowrap;
            align-items: center;
        }

        .notificationUnreadBadge {
            background-color: $colorRedLight;
            padding: 5px 15px;
            border-radius: 20px;
            font-size: 15px;
            line-height: 18px;
            font-family: $fontBold;
        }
    }

    .markRead {
        position: relative;
        margin: 0 24px 10px 0;
        text-align: right;
        font-size: 14px;
        line-height: 18px;
        letter-spacing: 0.5px;
        text-decoration-line: underline;
        color: #ffffff;
        cursor: pointer;
    }

    .notificationsHolder {
        width: 100%;
        display: flex;
        flex-direction: column;
    }
}
