@import '../../styles/all';

.placeholderLiveEventsScreenshot {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;

  img {
    width: 100%;
    filter: blur(5px);
  }

  .mobile {
    display: none;
  }

  .desktop {
    display: block;
  }

  @media (max-width: $screen-xs) {
    .desktop {
      display: none;
    }
    .mobile {
      display: block;
    }
  }
}

.inactivePlaceholder {
  position: fixed;
  left: 50%;
  top: 50%;
  z-index: 20;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  font-family: $fontOmnes;
  color: #f2ff53;
  font-weight: 700;

  @media (max-width: $screen-xs) {
    top: calc(50% - 60px);
  }
}
