@import '../../styles/all.scss';

.container {
    background-color: $colorWhite;
    border-radius: 5px;
    height: auto;
    background: rgba(172,196,255,0.10);
    border-radius: 10px;
    height: 400px;
    overflow: auto;

    @media screen and (max-width: $screen-xs) {
        background-color: transparent;
        margin: 0px -20px;
    }
}

.lastCrashes {
    padding: 30px 0px;
    background: linear-gradient(180deg, rgba(18, 14, 39, 0.0001) 0%, rgba(18, 14, 39, 0.767136) 100%);
}

.lastCrash {
    display: flex;
    justify-content: space-between;
    font-family: Helvetica;
    font-size: 12px;
    color: $colorWhite;
    letter-spacing: 0;
    border-bottom: 1px solid rgba(172,196,255,0.50);
    padding: 15px 20px;

    span:last-child {
        color: rgba(172,196,255,0.50);
    }
}

.inGameBets {
    padding-bottom: 30px;

    .bets {
        overflow: auto;
    }
}

.totalContainer {
    padding: 20px;
    background-color: rgba(172,196,255,0.50);
    text-align: right;

    .label {
        font-size: 12px;
        font-family: Helvetica;
        color: #ACC4FF;
        letter-spacing: 1.5px;
    }

    .total {
        color: $colorWhite;
        font-family: Helvetica;
        font-size: 16px;
    }
}

.inGameBet {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: Helvetica;
    font-size: 12px;
    color: $colorWhite;
    letter-spacing: 0;
    border-bottom: 1px solid rgba(172,196,255,0.50);
    padding: 12px 20px;

    span:last-child {
        color: rgba(172,196,255,0.50);
    }
}

.user {
    display: flex;
    align-items: center;

    svg {
        border-radius: 50%;
        margin-right: 10px;
    }
}

.chatContainer {
    padding: 20px;

    .chatInput {
        position: absolute;
        background-color: transparent;

        input {
            margin-right: 0px;
        }

        button {
            width: 50px;
        }

        button::after {
            background: transparent;
        }
    }
}
