@import '../../styles/all';

.checkboxContainer {
  position: relative;
  margin: 10px 5px 11px 0;
  padding-left: 25px;
  user-select: none;

  &.clickable {
    cursor: pointer;
  }

  .checkbox {
    -webkit-appearance: none;
    cursor: pointer;
    display: inline-block;
    position: absolute;
    left: 0;
    top: 0;
    width: 1.4em;
    height: 1.4em;
    border-radius: 4px;
    box-shadow: inset 0 1px 3px 0 rgba(15, 0, 45, 0.07);
    background-color: $colorGrayLight;
    cursor: pointer;

    &:checked:after {
      content: '\2714';
      position: absolute;
      left: 4px;
      top: 1px;
      font-size: 14px;
      color: $colorBlack60;
    }
  }

  a {
    text-decoration: underline;
  }
}
