@import '../../styles/all';

.checkboxContainer {
  position: relative;
  margin: 10px 5px 11px 0;
  padding-left: 25px;
  user-select: none;

  &.clickable {
    cursor: pointer;
  }

  .checkbox {
    -webkit-appearance: none;
    cursor: pointer;
    display: inline-block;
    position: absolute;
    left: 0;
    top: 0;
    width: 1.4em;
    height: 1.4em;
    border-radius: 4px;
    box-shadow: inset 0 1px 3px 0 rgba(15, 0, 45, 0.07);
    background-color: $colorGrayLight;
    cursor: pointer;

    &:checked:after {
      content: '\2714 \fe0e';
      position: absolute;
      left: 2px;
      top: 0;
      font-size: 17px;
      color: $colorBlack60;

      @media (max-width: $screen-xs) {
        left: 1px;
        top: -2px;
        font-size: 15px;
      }
    }
  }

  a {
    text-decoration: underline;
  }
}
