@import '../../styles/all';

.checkboxContainer {
  position: relative;
  display: flex;
  gap: 12px;
  align-items: center;
  justify-content: center;
  margin: 10px 5px 11px 0;
  padding-left: 5px;
  user-select: none;
  max-width: 100%;
  &.clickable {
    cursor: pointer;
  }

  .checkbox {
    -webkit-appearance: none;
    cursor: pointer;
    width: 1.4em;
    height: 1.4em;
    padding-left: 3px;
    border-radius: 4px;
    // box-shadow: inset 0 1px 3px 0 rgba(15, 0, 45, 0.07);
    background-color: $colorGrayLight;
    border: 1px solid $colorGray;
    cursor: pointer;

    &:checked:after {
      content: '\2714 \fe0e';
      position: absolute;
      font-size: 17px;
      color: $colorBlack60;

      @media (max-width: $screen-xs) {
        font-size: 15px;
      }
    }
  }

  a {
    text-decoration: underline;
  }
}
