@import '../../styles/all';

.container {
  width: 100%;
  margin: 0 auto;
  padding-left: 2em;
  padding-right: 2em;

  @media (min-width: $screen-lg) {
    max-width: 1270px;
  }

  .activitiesTrackerContainerFull {
    height: auto;
    border: 1px solid $colorGrayLight;
    border-radius: 12px;
    box-shadow: 0px 9px 16px rgba(159, 162, 191, 0.18),
      0px 2px 2px rgba(159, 162, 191, 0.32);
  }

  .globalStats {
    display: flex;
    flex-direction: row;
    column-gap: 10px;
    align-items: center;
    color: $colorWhite;
    font-family: $fontRegular;
    font-size: 24px;
    font-weight: 700;
    padding-bottom: 30px;
  }

  .statsBlock {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;

    .statItem {
      background-color: $colorWhite;
      border-radius: 50px;
      border: 1px solid $colorLightGray;
      width: 16%;
      padding: 15px 10px;
      margin-bottom: 10px;

      @media (max-width: $screen-lg) {
        width: 33%;
      }

      @media (max-width: $screen-md) {
        width: 50%;
      }

      @media (max-width: $screen-xs) {
        width: 100%;
      }

      .statItemHead {
        font-weight: bold;
        display: flex;
        align-items: center;
        font-family: $fontRegular;
        font-size: 20px;
        justify-content: center;
        flex-wrap: wrap;
        flex-direction: column;
        color: $colorPrimary;

        span {
          font-size: 16px;
          color: $colorPinkDark;
        }
      }

      .statItemHint {
        margin-top: 5px;
        font-size: 12px;
        line-height: 1.1;
        text-align: center;
        color: #5c5c6d;
      }
    }
  }
}
.banner {
  margin-top: 50px;
  background-image: url('../../data/backgrounds/games/alpaca-wallpaper-banner.png');
  min-height: 208px;
  width: 100%;
  background-repeat: no-repeat;
  background-size: contain;
  position: relative;
  &::after {
    position: absolute;
    content: '';
    background-image: url('../../data/images/alpaca-logo-banner.png');
    width: 145px;
    height: 165px;
    bottom: -15px;
    right: -60px;
  }

  @media (max-width: $screen-md) {
    background-image: url('../../data/backgrounds/games/wallpaper-banner-mobile.png');
    height: 100%;
    background-position: center;
  }
}
