@import '../../styles/all';

:root {
  --swiper-theme-color: #e6fe00;
}

.activities-tracker-swiper {
  .swiper-button-next {
    right: 0;
  }

  .swiper-button-prev {
    left: 0;
  }

  .swiper-pagination-progressbar {
    background-color: transparent;
    span {
      background-color: transparent;
    }
  }

  .swiper-container {
  }
}
