@import '../../../styles/all';

.depositFiat {
  width: 100%;
  padding: 10px 0;
  display: flex;
  flex-direction: column;
  row-gap: 7px;
  min-height: 650px;

  iframe {
    border-radius: 4px;
  }

  .widgetFooter {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    color: #fff;
    font-weight: 500;

    p {
      margin-top: 3px;
    }

    img {
      height: 30px;
      margin-left: 5px;
    }
  }

  .title {
    font-size: 20px;
    font-weight: 700;
    text-align: left;
  }

  .chooseOtherMethod {
    display: flex;
    column-gap: 10px;
    align-items: center;
    cursor: pointer;
    span {
      padding-bottom: 3px;
      color: $colorButton;
      font-size: 14px;
    }
  }
}
