@import '../../styles/all';

.container {
  width: 100%;
  flex-direction: column;
  padding: 40px 20px 60px 20px;
  background-color: $colorBackground;
}

.footer {
  display: flex;
  flex-direction: row;
  font-size: 12px;
  color: $colorPrimary;
  margin: 0 auto;
  justify-content: space-between;

  @media (max-width: $screen-sm) {
    flex-direction: column;
    padding: 0 20px;
    margin-bottom: 40px;
    align-items: center;
  }

  img.footerLogo {
    max-width: 300px;

    @media (max-width: $screen-sm) {
      margin-bottom: 20px;
    }
  }

  .links {
    display: flex;
    margin: 10px 0;
    gap: 12px;
    color: white;

    @media (max-width: $screen-sm) {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 0 auto;
      row-gap: 16px;
    }

    a,
    button {
      font-family: $fontRegular;
      font-size: 12px;
      display: flex;
      align-items: center;
      text-decoration: none;

      &:hover {
        opacity: 1;
      }

      img {
        margin-bottom: 0;
      }

      p {
        font-size: 12px;
      }
    }

    button {
      background: transparent;
      border: 0;
      color: white;
      cursor: pointer;
    }
  }

  .socialIcons {
    margin-top: 20px;

    @media (max-width: $screen-sm) {
      padding: 0px;
      max-width: 200px;

      svg {
        width: 25px;
        height: 25px;
      }
    }
  }
  p {
    font-size: 10px;

    @media (max-width: $screen-sm) {
      font-size: 12px;
    }
  }
}

.iconsContainer {
  padding-top: 20px;
  width: 100%;
  display: flex;
  color: $colorPrimary;
  //opacity: 0.45;
  margin: 0 auto;
  justify-content: space-between;
  max-width: 600px;

  @media (max-width: $screen-sm) {
    max-width: 300px;
  }

  .icon {
    display: flex;
    flex-direction: column;
    align-items: center;

    img {
      width: 50px;
      height: 50px;

      @media (max-width: $screen-sm) {
        width: 40px;
        height: 40px;
      }
    }

    span {
      font-size: 11px;
      text-align: center;
    }
  }
}
