@import '../../styles/all';

.container {
  width: 100%;
  flex-direction: column;
  padding: 30px 0;
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 12px;
  color: $colorPrimary;
  margin: 0 auto;
  justify-content: space-between;

  @media (max-width: $screen-sm) {
    font-size: 11px;
    padding: 0 20px;
  }

  img {
    margin-bottom: 40px;
  }

  .links {
    display: flex;
    justify-content: space-around;
    width: 100%;
    // max-width: 600px;
    //opacity: 0.45;

    @media (max-width: $screen-sm) {
      display: flex;
      flex-direction: column;
      margin: 0 auto;
      row-gap: 10px;
    }

    .column {
      // width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      row-gap: 20px;

      .firstRow,
      .secondRow {
        // max-width: 250px;
        width: 100%;
        display: flex;
        justify-content: flex-start;
        column-gap: 40px;
        justify-content: center;

        @media (max-width: $screen-sm) {
          column-gap: 20px;
        }

        a,
        button {
          font-family: $fontRegular;
          font-size: 12px;
          display: flex;
          align-items: center;
          text-decoration: none;
          column-gap: 5px;

          &:hover {
            opacity: 1;
          }

          img {
            margin-bottom: 0;
          }
        }

        button {
          background: transparent;
          border: 0;
          color: $colorPrimary;
          cursor: pointer;
        }
      }
    }
  }

  .socialIcons {
    //opacity: 0.45;
    margin-top: 28px;

    @media (max-width: $screen-sm) {
      padding: 0px;
      max-width: 200px;

      svg {
        width: 25px;
        height: 25px;
      }
    }
  }
}

.iconsContainer {
  padding-top: 20px;
  width: 100%;
  display: flex;
  color: $colorPrimary;
  //opacity: 0.45;
  margin: 0 auto;
  justify-content: space-between;
  max-width: 600px;

  @media (max-width: $screen-sm) {
    max-width: 300px;
  }

  .icon {
    display: flex;
    flex-direction: column;
    align-items: center;

    img {
      width: 50px;
      height: 50px;

      @media (max-width: $screen-sm) {
        width: 40px;
        height: 40px;
      }
    }

    span {
      font-size: 11px;
      text-align: center;
    }
  }
}
