@import '../../styles/all';

.container {
  width: 100%;
  flex-direction: column;
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 11px;
  color: $colorWhite;
  max-width: 400px;
  margin: 0 auto;
  margin-top: 80px;

  img {
    margin-bottom: 40px;
  }

  .links {
    > * {
      padding: 0 30px;
      opacity: 0.45;
      white-space: nowrap;

      &:first-child {
        padding-left: 0;
      }

      &:last-child {
        padding-right: 0;
      }

      @media (max-width: $screen-xs) {
        padding: 0 10px;
      }
    }

    a {
      text-decoration: none;

      &:hover {
        opacity: 1;
      }
    }
  }
}
