@import '../../styles/all';

.alpacaPopup {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  padding: 50px;

  .title {
    font-size: 30px;
    text-transform: uppercase;
    margin-bottom: 40px;
    position: relative;
    text-align: center;

    &::after {
      content: '';
      position: absolute;
      bottom: -20px;
      left: 0;
      background-image: url('../../data/backgrounds/highlight-underline.svg');
      background-repeat: no-repeat;
      background-size: contain;
      height: 20px;
      width: 100%;
    }
  }
}
