@import '../../styles/all';

.baseContainer
{
    min-height:       100%;
    background-color: $colorPrimaryDark;
    padding-bottom:   8rem;

    &.baseContainerWithPaddingTop
    {
        padding-top: 100px;
    }

    &.baseContainerWithContentPadding
    {
        $contentPadding: 30px;
        padding-left:    $contentPadding;
        padding-right:   $contentPadding;

        @media (min-width: $screen-sm)
        {
            $contentPadding: 100px;
            padding-left:    $contentPadding;
            padding-right:   $contentPadding;
        }
    }

    &.baseContainerWithPaddingBottomZero
    {
        padding-bottom: 0;
    }
}