@import '../../styles/all';

.baseContainer {
  position: relative;
  min-height: 100%;
  overflow: hidden;
  padding-bottom: 40px;

  &.baseContainerWithPaddingTop {
    padding-top: 120px;

    @media (max-width: $screen-sm) {
      padding-top: 80px;
    }
  }

  &.baseContainerWithContentPadding {
    $contentPadding: 30px;
    padding-left: $contentPadding;
    padding-right: $contentPadding;

    @media (min-width: $screen-sm) {
      $contentPadding: 100px;
      padding-left: $contentPadding;
      padding-right: $contentPadding;
    }
  }

  &.baseContainerWithPaddingBottomZero {
    padding-bottom: 0;
  }

  .zIndexheaderBackground {
    z-index: 0 !important;
  }
  .headerBackground {
    position: relative;
    left: 0;
    right: 0;
    top: 0;
    z-index: -3;
    position: absolute;
    height: 100%;
    .headerContianer {
      position: relative;
      height: 100vh;
      .gradientLayer {
        width: 100%;
        height: 134px;
        left: 0;
        right: 0;
        bottom: 0;
        position: absolute;
        background: linear-gradient(
          180deg,
          #00092b 13.02%,
          rgba(45, 76, 133, 0) 100%
        );
        transform: rotate(-180deg);
      }

      .aplacaHeader {
        bottom: -150px;
        left: calc(50% - 500px);
        transform: translateX(-50%);
        position: absolute;
        width: 450px;
        display: block;

        @media (max-width: 1100px) {
          bottom: -250px;
          left: calc(50% - 400px);
          transform: translateX(-50%);
          position: absolute;
          width: 300px;
          display: block;
        }
      }

      video {
        object-fit: cover;
        object-position: center center;
        height: 100vh;
        width: 100%;
      }
    }
    @media (max-width: $screen-sm) {
      height: 100vh;
    }
  }
  .withTransparent {
    opacity: 0.2;
  }
  .withHalfTransparent {
    opacity: 0.7;
  }

  .solid {
    opacity: 1;
  }
}
