@import '../../styles/all';

.chatMessage {
  color: $colorBlack;
  width: 100%;
  padding: 0rem 1rem;
  border-radius: 10px;
  display: inline-flex;
  align-items: center;
  margin-top: 0.5rem;
  font-size: 14px;
  font-weight: 600;
  text-align: left;
  hyphens: auto;
  opacity: 0.3;
  transition: opacity 500ms ease-out, transform 500ms ease-out;

  &.newMessage {
    animation: messageDrop 500ms ease;
  }

  &.isVisible {
    opacity: 1;
  }

  img {
    width: 30px !important;
    height: 30px;
    border-radius: 50%;
    border: 1px solid $colorWhite !important;
    margin-right: 0.5rem;
  }

  .singleMessageTime {
    margin-right: 10px;
    color: $colorLightGray2;
    font-size: 12px;
    min-width: 36px;
  }
  .singleMessageUser {
    font-family: $fontDMSans;
    font-weight: bold;
    color: $colorLightYellow;
    text-decoration: underline;
    font-size: 12px;

    &.singleMessageCurrentUser {
      color: $colorLightGray2;
    }
  }
  .singleMessage {
    margin-left: 5px;
    color: $colorWhite;
    font-size: 12px;
    font-family: $fontDMSans;
    overflow-x: hidden;
    text-overflow: ellipsis;
  }
}
