@import '../../styles/all';

.contentContainer {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  padding: 35px;

  .title {
    font-size: 28px;
    font-weight: 700;
    margin: 20px 0;
  }

  .text {
    margin-bottom: 40px;
    text-align: center;

    strong {
      display: block;
      margin-top: 10px;
      font-family: $fontDMSans;
      font-weight: bold;
      padding: 10px 20px;
      background-color: $colorGrayLight4;
      border-radius: 6px;
    }
  }

  .form {
    width: 100%;
    max-width: 400px;
    margin-bottom: 40px;
  }
  .buttonContainer {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
  }

  .acceptButton {
    background-color: $colorWhite;
    width: 100px;
    height: 60px;
    font-size: 20px;
    background-image: url('../../data/images/signup-background-one.svg');
    background-size: 80%;
    background-position: center;
    background-repeat: no-repeat;
    white-space: nowrap;
  }
  .declineButton {
    font-size: 15px;
    margin-right: 100px;
  }
}
