@import '../../../styles/all';

.promoMessage {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 35px;
  background-color: $colorWhite;
  border-radius: 12px;

  .logo {
    height: 60px;
  }

  .title {
    font-family: $fontDMSans;
    font-weight: bold;
    font-size: 20px;
    margin-top: 20px;
  }

  .subtitle {
    font-family: $fontDMSans;
    font-size: 14px;
  }

  .content {
    margin: 60px 0;
    text-align: center;
    color: $colorBlack;

    @media (max-width: $screen-sm) {
      margin: 50px 0;
    }

    .message {
      font-family: $fontDMSans;
      font-weight: bold;
      font-size: 24px;
    }

    .info {
      font-size: 12px;
      color: $colorPrimary;
      opacity: 0.4;
      padding-top: 10px;
    }
  }

  .referralLinkContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;

    p {
      width: 20%;
      font-size: 14px;
      font-family: $fontDMSans;
      font-weight: bold;
      @media (max-width: $screen-xs) {
        font-size: 12px;
        width: 30%;
      }
    }

    .referralWrapper {
      width: 80%;
      @media (max-width: $screen-xs) {
        width: 70%;
      }
      .referralLink {
        border: 1px solid $colorLightGray2 !important;
        box-sizing: border-box;
        border-radius: 8px;
      }
    }
    margin-top: 30px;
  }

  p {
    line-height: 1.75;
    position: relative;
    color: $colorBlack;
    z-index: 2;
    text-align: center;
    strong {
      font-family: $fontDMSans;
      font-weight: bold;
      border-bottom: 3px solid $colorLightYellow;
      cursor: pointer;
      word-break: break-all;
    }
    @media screen and (min-width: $screen-md) {
      margin: 30px 0;
    }
  }
  .prizeAmount {
    font-size: 35px;
    font-family: $fontDMSans;
    font-weight: bold;
    text-align: center;
    position: relative;
    align-self: center;
    margin-bottom: 40px;
    color: $colorBlack;

    z-index: 2;
    &::after {
      content: '';
      position: absolute;
      width: calc(100% - 15px);
      bottom: -15px;
      left: 50%;
      transform: translateX(-50%);
      height: 10px;
      background-color: $colorYellowLight;
      border-top-left-radius: 10px;
      border-bottom-right-radius: 10px;
    }
    @media screen and (min-width: $screen-md) {
      font-size: 42px;
    }
  }
  .keepGoing {
    display: block;
    margin: 0 auto 15px;
    width: 100%;
    max-width: 460px;
    height: 60px;
    border-radius: 30px;
    border: 0;
    font-size: 18px;
    font-family: $fontDMSans;
    font-weight: bold;
    cursor: pointer;
    background: $colorWhite;
    color: $colorWhite;
    background: $colorYellowLight;
  }
}
