@import '../../styles/all';

.navbarFooter {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 68px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  padding: 0 25px;
  z-index: $zIndexNavbarFooter;
  background-color: $colorWhite;
  border-radius: 15px 15px 0 0;
  transition: opacity ease-in-out 0.5s;
  opacity: 1;

  &.hideVisibility {
    opacity: 0;
    pointer-events: none;
  }

  @media (min-width: $screen-md) {
    display: none;
  }

  .Hidden {
    display: none;
  }
}