@import '../../styles/all';

.tradeViewContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: relative;
  height: 100%;
  width: 100%;
  padding: 30px 0;
  background-color: $colorWhite;
  color: $colorPrimaryDark;
  font-family: $fontDMSans;
  overflow: visible;
}
