@import '../../styles/all';
.animationMobile {
  .slider{
    right: 12.6%!important;
    width: 74.8%!important;
    top: 38.3%!important;
  }
  .interpolateMultiplier{
    top: 49.2%!important;
    right: 30%!important;
  }
  .chance{
    top: 49.2%!important;
    right: 59.5%!important;
  }
  .alpacaCrash{
    height: 65px!important;
    position: absolute;
    top: 93px!important;
    right:118px!important;
  }
  .alpacaFlying {
    width: 100px!important;
    bottom: 50px!important;
    right: 30px!important;
    transform: translate3d(0, 40%, 0) rotateX(70deg) rotateY(0deg) rotateZ(80deg)!important;
    animation: yAxis 2.5s infinite cubic-bezier(0.3, 0.27, 0.07, 1.64)!important;
    position: absolute!important;
    right: 120px!important;
    z-index: 1;
  }

}
.animation {
  display: flex;
  align-items: center;
  justify-content: space-around;
  overflow: hidden;
  border-radius: 12px;
  border: 1px solid hsla(0,0%,100%,.17);
  height: fit-content;
  position: relative;
  .background{
    width: 100%;
    height: auto;
  }
  .slider {
    position: absolute;
    right: 11.5%;
    width: 76.3%;
    top: 32.3%;
    -webkit-appearance: none;
    height: 9.5px;
    border-radius: 5px;
    outline: none;
    -webkit-transition: .2s;
    transition: opacity .2s;
    &::-webkit-slider-thumb {
      -webkit-appearance: none;
      appearance: none;
      height: 20px;
      width: 30px;
      border: 0;
      background-size: auto 100%;
      background-image: url('./assets/slider.svg');
      cursor: pointer;
    }
    &::-moz-range-thumb {
      border: 0;
      height: 20px;
      width: 30px;
      background-size: auto 100%;
      background-image: url('./assets/slider.svg');
      cursor: pointer;
    }
  }
  .chance{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 48.8%;
    right: 66%;
    width: 10.5%;
    height: 5%;
    span{
      color: white;
      font-weight: bold;
      font-size: 19px;
    }
  }
  .interpolateMultiplier{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 48.8%;
    right: 24%;
    width: 10.5%;
    height: 5%;
    span{
      color: white;
      font-weight: bold;
      font-size: 19px;
    }
  }
  .fullcannon{
    height: 150px;
    width: 100px;
    position: absolute;
    pointer-events: none;
    bottom: -70px;
    right: calc(50% - 50px);
    .cannon{
      width: 100%;
      position: absolute;
      z-index: 4;

    }
    .alpacaInCannon{
      width: 65px;
      top: -40px;
      position: absolute;
      left: 24px;
      z-index: -1;
    }
    .explotion{
      width: 108px;
      top: -40px;
      position: absolute;
      left: 0px;
      z-index: 1;
      -webkit-transition: opacity 0.3s ease-in-out;
      -moz-transition: opacity 0.3s ease-in-out;
      -ms-transition: opacity 0.3s ease-in-out;
      -o-transition: opacity 0.3s ease-in-out;
      transition: opacity 0.3 ease-in-out;
    }
  }
  .alpacaCrash{
    height: 70px;
    position: absolute;
    top: 139px;
  }
  .alpacaFlying {
    width: 100px;
    bottom: 50px;
    right: 30px;
    transform: translate3d(0, 40%, 0) rotateX(70deg) rotateY(0deg) rotateZ(80deg);
    animation: yAxis 2.5s infinite cubic-bezier(0.3, 0.27, 0.07, 1.64);
    position: absolute;
    right: 270px;
    z-index: 1;
  }
  @keyframes yAxis {
  50% {
    animation-timing-function: cubic-bezier(0.02, 0.01, 0.2, 1);
    transform: translateY(-100px);
  }
}
  
}

.audioControls{
  position: absolute;
  z-index: 999;
  left: 20px;
  top: 10px;
  svg{
    fill: #f2ff53 !important;
  }
  @media (max-width: $screen-xs-max) {

  }
  @media screen and (max-width: 768px){
    top: 60px;
    left: 5px !important;
  }
}
