@import '../../styles/all';

.resetPasswordBox {
  max-width: 500px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: $colorWhite;
  padding: 20px;
}

.formGroup {
  position: relative;
  width: 100%;
  margin: 20px 0;

  @media (max-width: $screen-sm) {
    margin: 10px 0;
  }
}

.inputBox {
  position: relative;
  margin-top: 10px;

  @media (max-width: $screen-sm) {
    font-size: 14px;
  }
}

label.inputLabel {
  color: $colorWhite;
  font-size: 16px;

  @media (max-width: $screen-sm) {
    font-size: 12px;
  }
}

.submitButton {
  overflow: hidden;
  font-size: 16px;
  margin: 20px 0 0;
  width: 100%;

  @media (max-width: $screen-sm) {
    height: 50px;
    margin: 10px 0 0;
  }

  span > svg {
    width: 150%;
  }
}

.errorBox {
  height: 60px;
  width: 100%;
  padding: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $colorRedLight;
  color: $colorWhite;
  border-radius: 10px;
  margin-top: 20px;
}
