@import '../../styles/all';

.reportEvent {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 30px 0 0;

  .logo {
    height: 60px;
  }

  .title {
    font-family: $fontDMSans;
    font-size: 20px;
    margin-top: 20px;
  }

  .subtitle {
    font-family: $fontDMSans;
    font-size: 14px;
    padding-top: 5px;
  }

  .content {
    margin-top: 40px;

    @media (max-width: $screen-xs) {
      width: 100%;
    }
  }

  .sendButton {
    font-size: 14px;
    margin-top: 40px;
  }
}
.textarea {
  background-color: $colorWhite;
  border-color: $colorPrimary10;
  color: $colorPrimary50;
}
