@import '../../styles/all';

.totalCount {
  text-align: center;
  margin: 0 auto;
  font-size: 16px;
  margin-top: 1rem;
  position: relative;
  z-index: 1;
  .underline {
    position: absolute;
    bottom: 10px;
    left: 0;
    top: 10px;
    width: 100%;
    border-bottom: 9px solid $colorYellowLight;
    z-index: -1;
  }
}

.authentication {
  overflow-y: auto;
}

.title {
  color: $colorPrimary;
  font-size: 36px;
  font-family: $fontBold;
  text-align: center;
}

.authenticationDescription {
  width: 100%;
  font-family: $fontRegular;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0;
  color: $colorPrimary;
  padding: $padding;
  text-align: center;
}

.authenticationInputBoxContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20px;

  .formGroup {
    position: relative;
    width: 100%;
    margin: 12px 0;

    @media (max-width: $screen-sm) {
      margin: 10px 0;
    }
  }

  .inputBox {
    position: relative;
    margin-top: 10px;

    @media (max-width: $screen-sm) {
      font-size: 14px;
    }
  }

  .inputLabel {
    font-size: 16px;

    @media (max-width: $screen-sm) {
      font-size: 12px;
    }
  }

  .submitButton {
    overflow: hidden;
    font-size: 16px;
    border-radius: 10px;
    margin: 20px 0 0;
    width: 100%;

    @media (max-width: $screen-sm) {
      height: 50px;
      margin: 10px 0 0;
    }

    span > svg {
      width: 100%;
    }
  }

  .forgotPasswordLink {
    align-self: flex-end;
    margin-bottom: 100px;
    text-decoration: underline;
    cursor: pointer;

    @media (max-width: $screen-sm) {
      margin: 10px 0;
    }
  }

  .ageVerificationForm {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    .solidButton {
      display: flex;
      overflow: hidden;
      font-family:  $fontRegular;
      font-size: 16px;
      border-radius: 10px;
      margin: 20px 0 0;
      padding: 0 20px;
      height: 42px;
      background-color: $colorYellowLight;
      justify-content: center;      
      align-items: center;
      cursor: pointer;
      @media (max-width: $screen-sm) {
        height: 36px;
        margin: 10px 0 0;
      }
    }

    .outlinedButton {
      display: flex;
      overflow: hidden;
      font-family:  $fontRegular;
      font-size: 16px;
      border-radius: 10px;
      margin: 20px 0 0;
      padding: 0 20px;
      height: 42px;
      background-color: $colorWhite;
      border-color: $colorYellowLight;
      border-style: solid;
      border-width: 2px;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      @media (max-width: $screen-sm) {
        height: 36px;
        margin: 10px 0 0;
      }

      span > svg {
        width: 100%;
      }
    }
  }
}

.authenticationTermsAgreement {
  width: (100% - $paddingHTotal);
  margin: 2rem $paddingPercent;
  font-size: 13px;
  font-family: $fontRegular;
  line-height: 19.6px;
  letter-spacing: 0;
  color: rgba(2, 6, 30, 0.36);
  display: none;
  text-align: center;

  @media (min-width: $screen-sm) {
    display: block;
  }

  .termsLink {
    text-decoration: underline;
  }
}

.authenticationLegalAuthorizationAgreementCheckBox {
  align-self: flex-start;

  .authenticationLegalAuthorizationAgreementText {
    font-size: 14px;

    @media (max-width: $screen-sm) {
      font-size: 12px;
    }

    a {
      color: $colorBlue;
      text-decoration: none;
    }
  }
}

.errorBox {
  position: relative;
  height: 60px;
  width: 100%;
  padding: 30px 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $colorRedLight;
  color: $colorWhite;
  border-radius: 10px;
}

.errorText {
  margin: 10px 5px 11px 0;
  font-family: $fontRegular;
  font-size: 14px;      
  color: $colorRedLight
}
