@import '../../styles/all';

.totalCount {
  text-align: center;
  margin: 0 auto;
  font-size: 16px;
  margin-top: 1rem;
  position: relative;
  z-index: 1;
  .underline {
    position: absolute;
    bottom: 10px;
    left: 0;
    top: 12px;
    width: 100%;
    border-bottom: 9px solid $colorLightPink;
    z-index: -1;
  }
}
.stepsTooltipError {
  position: absolute;
}
.authentication {
  overflow-y: auto;
}

.title {
  color: $colorPrimary;
  font-size: 36px;
  font-family: $fontBold;
  text-align: center;
}

.authenticationDescription {
  width: 100%;
  font-family: $fontRegular;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0;
  color: $colorPrimary;
  padding: $padding;
  text-align: center;
}

.authenticationInputBoxContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  font-family: $fontBold;
  text-transform: uppercase;

  .formGroup {
    position: relative;
    width: 100%;
    margin: 12px 0;

    @media (max-width: $screen-sm) {
      margin: 10px 0;
    }
  }

  .inputBox {
    position: relative;
    margin-top: 10px;

    @media (max-width: $screen-sm) {
      font-size: 14px;
    }
  }

  .inputLabel {
    font-size: 16px;

    @media (max-width: $screen-sm) {
      font-size: 12px;
    }
  }

  .birthInputBox {
    position: relative;
    margin-right: 12px;
    &:last-child {
      margin-right: 0px;
    }

    @media (max-width: $screen-sm) {
      font-size: 14px;
    }
  }

  .forgotPasswordLink {
    align-self: flex-end;
    margin-bottom: 100px;
    text-decoration: underline;
    cursor: pointer;

    @media (max-width: $screen-sm) {
      margin: 10px 0;
    }
  }

  .inputForm {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 10px;
  }
}

.authenticationTermsAgreement {
  width: (100% - $paddingHTotal);
  margin: 2rem $paddingPercent;
  font-size: 13px;
  font-family: $fontRegular;
  line-height: 19.6px;
  letter-spacing: 0;
  color: rgba(2, 6, 30, 0.36);
  display: none;
  text-align: center;

  @media (min-width: $screen-sm) {
    display: block;
  }

  .termsLink {
    text-decoration: underline;
  }
}

.authenticationLegalAuthorizationAgreementCheckBox {
  align-self: flex-start;
  width: 390px;
  .authenticationLegalAuthorizationAgreementText {
    font-size: 14px;

    @media (max-width: $screen-sm) {
      font-size: 12px;
    }

    a {
      color: $colorBlue;
      text-decoration: none;
    }
  }
}

.errorBox {
  position: relative;
  height: 60px;
  width: 100%;
  padding: 30px 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $colorRedLight;
  color: $colorWhite;
  border-radius: 10px;
}

.errorText {
  margin: 10px 5px 11px 0;
  font-family: $fontRegular;
  font-size: 14px;
  color: $colorRedLight;
  max-width: 390px;
  text-align: center;
}

.warningInfoContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 12px;
  padding: 8px 0;

  @media (max-width: $screen-sm) {
    gap: 4px;
  }
}
.signUpOptions {
  height: auto;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  flex: auto;
}

.submitButton,
.signInButton {
  overflow: hidden;
  font-size: 16px;
  border-radius: 10px;
  margin: 20px 0 0;
  width: 100%;
  cursor: pointer;
  color: $colorWhite;
  @media (max-width: $screen-sm) {
    height: 50px;
    margin: 10px 0 0;
  }

  span > svg {
    overflow: hidden;
    width: 100%;
  }

  &[disabled] {
    opacity: 0.7;
    cursor: not-allowed;
  }
}
.signInButton {
  margin-top: 5px;
  &:first-child {
    margin-top: 0;
  }
  span svg {
    overflow: visible;
  }
  .buttonIcon {
    margin-right: 12px;

    &:not([data-icon-type='email']) {
      width: 24px;
      svg * {
        stroke-width: 0;
      }
    }
    &[data-icon-type='email'] {
      width: 20px;
      svg * {
        stroke-width: 17px;
      }
    }
  }
}
.unstyledButton {
  background: transparent;
  border: none;
  font-family: $fontMedium;
  cursor: pointer;
  font-size: 16px;
}
.backToSignupOptions {
  @extend .unstyledButton;
  display: flex;
  align-items: center;
  margin-top: 10px;
  &:before {
    content: '';
    height: 10px;
    width: 10px;
    border: 2px solid $colorBlack;
    border-top: 0;
    border-right: 0;
    display: block;
    transform: rotate(45deg);
  }
}

.alreadyHaveAnAccount {
  margin-top: 20px;
  font-size: 14px;
  button {
    @extend .unstyledButton;
    text-decoration: underline;
    font-size: 14px;
    color: $colorPrimary;
  }
}
