@import '../../styles/all';

.highlight {
  background-size: contain;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;

  > svg {
    position: absolute;
    g {
      fill: $colorRedLight;
    }
  }

  &.highlightFillRed {
    > svg {
      g {
        fill: $colorRedLight;
      }
    }
  }

  &.highlightFillGray {
    > svg {
      g {
        fill: $colorGrayLight;
      }
    }
  }
  &.highlightFillPink {
    > svg {
      g {
        fill: $colorLightYellow;
      }
    }
  }
}
