@import '../../styles/all';

.paymentNumberInputContainer
{
    display:          flex;
    width:            100%;
    border-radius:    6px;
    align-items:      center;
    padding:          25px 25px 25px 45px;
    border:           1px solid $colorGrayLight;
    background-color: $colorGrayLight;

    @media (min-width: $screen-lg)
    {
        padding: 1rem 4rem;
    }

    .input
    {
        width:            50%;
        font-family:      $fontRegular;
        font-size:        40px;
        text-align:       left;
        background-color: transparent;
        border:           none;
        outline:          none !important;
        margin-right:     11px;

        &::-webkit-inner-spin-button
        {
            -webkit-appearance: none;
            margin:             0;
        }

        -moz-appearance:  textfield;
    }

    .eventTokenLabel
    {
        font-family:  $fontRegular;
        font-size:    16px;
        margin-right: 25px;
    }

    .changeNumberButtonContainer
    {
        display:        flex;
        flex-direction: column;
    }
}