@import '../../styles/all';

.newsTicker {
  margin-top: 20px;
  display: flex;
  flex-flow: row wrap;
  row-gap: 20px;
  column-gap: 10px;
}

.newsItem {
  background-color: transparent;
  border-radius: $radius;
  flex-shrink: 0;
  max-width: 300px;
  width: 100%;

  @media screen and (max-width: $screen-md) {
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);

    &:last-child{
      border: none;
      padding: 0;
      margin: 0;
    }
  }
}

.newsTitle {
  font-style: normal;
  font-weight: bold;
  font-size: 1.25rem;
  line-height: 1;
  text-transform: capitalize;
  color: #ffffff;
  height: 63px;
  text-overflow: ellipsis;
  overflow: hidden;
  // @include ellipsis;
}
.newsDesc {
  margin-top: 10px;
  font-style: normal;
  font-weight: 500;
  font-size: 0.75rem;
  line-height: 1.3;
  color: #ffffff;
  opacity: 0.5;
  height: 100px;
  // @include ellipsis;

  @media screen and (max-width: $screen-md) {
    height: auto;
  }
}
.readButton {
  margin-top: 10px;
  background-color: white;
  height: 32px;
  font-style: normal;
  font-weight: 500;
  font-size: 0.75rem;
  line-height: 1.3;
  text-align: center;
  text-transform: capitalize;
  color: #000000;
}
