@import '../../styles/all';

.newsTicker {
  margin-top: 20px;
  display: flex;
  flex-flow: row wrap;
  row-gap: 20px;
  column-gap: 20px;
}

.newsItem {
  background-color: transparent;
  flex-shrink: 0;
  max-width: 300px;
  width: 100%;
  padding-bottom: 20px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  margin-bottom: 10px;
  display: flex;
  flex-flow: column;

  @media screen and (max-width: $screen-md) {
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    max-width: 100%;

    &:last-child {
      border: none;
      padding: 0;
      margin: 0;
    }
  }
}

.newsTitle {
  font-style: normal;
  font-weight: bold;
  font-size: 1.25rem;
  line-height: 1;
  text-transform: capitalize;
  color: #ffffff;
  height: 63px;
  text-overflow: ellipsis;
  overflow: hidden;
  // @include ellipsis;
}
.newsDesc {
  margin-top: 10px;
  font-style: normal;
  font-weight: 500;
  font-size: 0.75rem;
  line-height: 1.3;
  color: #ffffff;
  opacity: 0.5;
  height: auto;
  flex: auto;
  // @include ellipsis;

  @media screen and (max-width: $screen-md) {
    height: auto;
    margin-bottom: 20px;
  }
}

.newsLink {
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-size: 14px;
  opacity: 1;
  transition: opacity 0.2s ease-in-out;

  span {
    margin: 2px 10px 0 0;
    width: auto;
  }

  &:hover {
    opacity: 0.5;
  }
}
.loadMoreNews {
  margin: 30px auto;
  background-color: $colorBackgroundShadeLighter;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.25s ease-in-out;
  width: 125px;
  padding: 10px;
  text-align: center;
  p {
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 22px;
    color: #ffffff;
  }
}
