.codeFields div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.codeFields > div > input {
    font-family: "PlusJakarta-Light";
    width: 100% !important;
    background-color: #F1F2F6;
    height: 72px !important;
    margin: 0 4px;
    font-size: 36px;
    border: none !important;
    border-radius: 10px !important;
    color: black;
}

.codeFields > div > input:focus {
    border: 2px solid #02061E !important;
    box-shadow: 0 0 0 2px #E2FF54;
    background-color: white;
}

.codeFields div input:first-child {
    margin-left: 0;
}

.codeFields div input:last-child {
    margin-right: 0;
}