@import 'styles/all';

@font-face {
  font-family: $fontLight;
  src: url('/fonts/webfonts/PlusJakartaSans-Light.woff2') format('woff2'),
    url('/fonts/webfonts/PlusJakartaSans-Light.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  max-width: 100vw;
}

body {
  background: $colorPrimary;
}

body,
html {
  height: 100%;
  font-family: $fontDMSans, sans-serif;

  > div {
    width: 100%;
    height: 100%;

    > div {
      width: 100%;
      height: 100%;
      // overflow: auto;
      position: relative;
    }
  }
}

a {
  color: inherit;
}

b {
  font-weight: 700;
  font-family: $fontDMSans;
}

* {
  font-family: $fontDMSans;
}
