@import 'styles/all';

// Global Style
@font-face
{
    font-family: $fontBold;
    src:         url('/fonts/webfonts/PlusJakartaSans-Bold.woff2') format('woff2'),
                 url('/fonts/webfonts/PlusJakartaSans-Bold.woff') format('woff');
    font-weight: bold;
    font-style:  normal;
}

@font-face
{
    font-family: $fontRegular;
    src:         url('/fonts/webfonts/PlusJakartaSans-Regular.woff2') format('woff2'),
                 url('/fonts/webfonts/PlusJakartaSans-Regular.woff') format('woff');
    font-weight: normal;
    font-style:  normal;
}

@font-face
{
    font-family: $fontLight;
    src:         url('/fonts/webfonts/PlusJakartaSans-Light.woff2') format('woff2'),
                 url('/fonts/webfonts/PlusJakartaSans-Light.woff') format('woff');
    font-weight: normal;
    font-style:  normal;
}

*
{
    margin:     0;
    padding:    0;
    box-sizing: border-box;
    max-width:  100vw;
}

body, html
{
    height:              100%;
    font-family:         $fontRegular;
    overscroll-behavior: none;

    > div
    {
        width:  100%;
        height: 100%;
    }
}

a
{
    color: inherit;
}