@import '../../styles/all';

.relatedBetCard {
  width: 100%;
  border-radius: 10px;
  font-family: $fontLight;
  color: $colorWhite;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  user-select: none;
  margin-bottom: 1.5rem;
  color: #120e27;

  .relatedBetCardContainer {
    padding: 1.5rem 1.5rem;
    border-radius: 6px 6px 0 0;
    background-color: $colorWhite;
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-flow: column wrap;

    .relatedBetCardHeader {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      padding-bottom: 1rem;

      .menuMain {
        cursor: pointer;
        display: flex;
        align-items: center;
      }
    }

    .stateBadgeContainer {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      grid-gap: 8px;
      .stateBadge {
        margin-right: auto;
      }
    }
  }

  .title {
    font-family: $fontOmnes;
    display: flex;
    text-align: left;
    cursor: pointer;
  }

  .pillFooter {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.12);
    border-radius: 0 0 6px 6px;

    .timeLeftCounterContainer {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      flex-direction: row;
      width: 100%;
      padding: 0.5rem;
      color: $colorWhite;
      font-size: 11px;

      .description {
        font-size: 13px;
      }

      .endDate {
        font-size: 13px;
        margin-left: 7px;
      }
    }
  }
}

.resolutionOutcome {
  margin-bottom: 25px;
  font-size: 14px;
  width: auto;
  align-self: flex-start;
  border-radius: 4px;

  .outcomeLabel {
    margin-right: 6px;
  }
  .outcomeValue {
    font-family: $fontOmnes;
  }
}

.betLinkButtonLabel {
  margin-right: 5px;
}
