@import '../../styles/all';

.container {
  height: 100%;
  padding: 16px 0;
  background-color: $colorWhite;
  color: $colorPrimaryDark;
  border-radius: 10px;
}

.button {
  margin-top: 10px;
  // margin-bottom: 20px;
  font-family: $fontOmnes;
}

.buyWithCryptoManualContainer {
  width: 100%;
  margin-top: 10px;
  display: flex;
  justify-content: center;
  // padding-top: 20px;
  padding-bottom: 20px;
  flex-direction: column;

  .cryptoTabsContianer {
    display: flex;
    margin: 0 auto;
    padding: 5px;
    margin-top: 20px;
    border-radius: 50px;
    background-color: $colorLightYellow;
    justify-content: center;

    align-items: center;
    @media (max-width: $screen-sm) {
      margin-top: 8px;
      width: 90%;
    }

    .cryptoTab {
      width: 160px;
      height: 46px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 30px;
      cursor: pointer;
      @media (max-width: $screen-sm) {
        height: 40px;
      }

      p {
        margin-left: 10px;
        font-size: 20px;
        line-height: 25px;
        font-family: $fontOmnes;
        color: $colorWhite;
        @media (max-width: $screen-sm) {
          font-size: 12px;
        }
      }
      p.fullName {
        display: inline-block;

        @media (max-width: $screen-sm) {
          display: none;
        }
      }
      p.shortName {
        display: none;
        @media (max-width: $screen-sm) {
          display: inline-block;
        }
      }
      svg {
        @media (max-width: $screen-md) {
          width: 20px;
          height: 20px;
        }
      }
    }
    .cryptoTabActive {
      background-color: $colorWhite;
      p {
        color: $colorBlack;
      }
    }
  }

  .addressInputContainer {
    position: relative;
    // max-width: 500px;
    width: 100%;
    height: 62px;
    background: #f1f2f6;
    border: 1px solid $colorLightGray2;
    box-sizing: border-box;
    border-radius: 8px;
    margin-bottom: 40px;
    margin: 0 25px;
    display: flex;
    align-items: center;
    @media (max-width: $screen-md) {
      height: 40px;
    }
    .labelContainer {
      position: absolute;
      top: -26px;
      width: 100%;
      text-transform: capitalize;

      span {
        font-weight: 700;
      }
    }

    input {
      background: #f1f2f6;
      outline: none !important;
      width: 100%;
      height: 100%;
      padding: 20px 5px;
      margin: 0px 10px;
      border: none;
      direction: ltr;
      text-align: left;
      font-size: 16px;
      font-family: $fontOmnes;
      font-weight: bold;
      &:focus-visible {
        outline: none;
      }
      @media (max-width: $screen-md) {
        padding: 0 20px;
        font-size: 16px;
      }
    }
  }

  .cryptoContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    // padding: 0 25px;
    margin: 0 auto;
    margin-top: 25px;
    text-align: justify;
    width: 100%;
    p {
      font-family: $fontOmnes;
      font-size: 16px;
      padding-bottom: 10px;
    }
    @media (max-width: $screen-md) {
      padding: 0;
      margin: 25px auto;
    }
  }

  .cryptoCalculatorContainer {
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    justify-content: center;
    align-items: center;
    padding: 0 50px;
    @media (max-width: $screen-md) {
      margin-top: 40px;
      padding: 0 16px;
    }

    .cryptoInputContiner {
      position: relative;
      // max-width: 500px;
      //   padding: 0 25px;
      width: 100%;
      height: 50px;
      background: #f1f2f6;
      border: 1px solid $colorLightGray2;
      box-sizing: border-box;
      border-radius: 8px;
      margin-bottom: 11px;
      display: flex;
      align-items: center;
      margin-top: 20px;
      @media (max-width: $screen-md) {
        margin-top: 10px;
        height: 40px;
      }
      .labelContainer {
        position: absolute;
        top: -26px;
        width: 100%;
        font-weight: 700;
      }
      input {
        background: #f1f2f6;
        outline: none !important;
        width: 70%;
        height: 100%;
        padding: 20px;
        margin: 0px 10px;
        border: none;
        direction: ltr;
        text-align: right;
        font-size: 24px;
        font-family: $fontOmnes;
        font-weight: bold;
        &:focus-visible {
          outline: none;
        }
        @media (max-width: $screen-md) {
          padding: 0 20px;
          font-size: 16px;
        }
      }

      input::-webkit-outer-spin-button,
      input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }

      .inputRightContainer {
        width: 40%;
        height: 60px;
        border-radius: 20px;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        padding-right: 15px;
        column-gap: 10px;

        svg {
          width: 30px;
          height: 30px;
          @media (max-width: $screen-md) {
            width: 20px;
            height: 20px;
          }
        }

        svg.wfairLogo {
          cursor: pointer;
          width: 30;
          height: 30px;
          @media (max-width: $screen-md) {
            width: 20px;
            height: 20px;
          }
        }

        .innerContiner {
          width: 134px;
          height: 60px;
          //background-color: $colorBlueLight;

          .dropdown {
            margin-bottom: 0;
          }

          .innerContent {
            p {
              font-family: $fontOmnes;
              font-weight: bold;
              font-size: 18px;
            }
          }
          .innerIcon {
            svg {
              fill: #3570ff;
              stroke: none;
            }
          }
        }

        img {
          height: 40px;
          width: 80%;
          object-fit: contain;
        }
      }
    }
    .InputLineSeparator {
      height: 50px;
      width: 100%;
      margin-bottom: 25px;
      display: flex;
      justify-content: center;
      align-items: center;
      img {
        height: 50px;
      }
    }

    .transankContineButton {
      background: linear-gradient(
        180deg,
        $colorLightYellow 0%,
        $colorLightDark2 97.4%
      );
      border-radius: 22.5px;
      border: 1px solid $colorWhite;
      width: 240px;
      height: 45px;
      font-family: $fontOmnes;
      color: $colorWhite;
      margin-top: 10px;
      margin-bottom: 25px;
      cursor: pointer;
      font-size: 18px;
      @media (max-width: $screen-md) {
        width: 225px;
        height: 40px;
        font-size: 16px;
      }

      &.disabled {
        opacity: 0.6;
      }
    }
  }

  .transactionContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 24px;
    @media (max-width: $screen-md) {
      padding: 0 16px;
    }
    .transferSection {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      margin: 0 auto;
      flex-direction: column;
      p {
        font-family: $fontOmnes;
        font-size: small;
        margin-bottom: 22px;
        text-align: justify;
        font-size: 16px;
        padding: 0 25px;

        a {
          text-decoration: underline;
        }

        span {
          font-family: $fontOmnes;
          font-weight: bold;
        }
      }
      .backBtn {
        text-align: left;
        align-self: flex-start;
        margin-bottom: 25px;
        text-decoration: underline;
        cursor: pointer;
        padding: 0 25px;
      }

      .referralLink {
        border: 1px solid $colorLightGray2 !important;
        box-sizing: border-box;
        border-radius: 8px;
        margin: 20px 0;
      }

      .transferSectionCopy {
        margin: 25px 0;
        width: 100%;
        text-align: center;
        p {
          margin-bottom: 5px;
        }
        .cryptoUrlContiner {
          width: 100%;
          height: 40px;
          background: #f1f2f6;
          border: 1px solid $colorLightGray2;
          box-sizing: border-box;
          border-radius: 8px;
          margin-bottom: 11px;
          display: flex;
          align-items: center;

          input {
            background: #f1f2f6;
            outline: none !important;
            width: 100%;
            height: 100%;
            // padding: 20px;
            margin: 0px 10px;
            border: none;
            direction: ltr;
            text-align: left;
            font-size: 16px;
            font-family: $fontOmnes;
            font-weight: bold;
            &:focus-visible {
              outline: none;
            }
          }
          input::-webkit-outer-spin-button,
          input::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
          }
        }
      }

      .sendUrlBtn {
        background: linear-gradient(
          180deg,
          $colorLightYellow 0%,
          $colorLightDark2 97.4%
        );
        border-radius: 22.5px;
        border: 1px solid $colorWhite;
        width: 240px;
        height: 45px;
        font-family: $fontOmnes;
        color: $colorWhite;
        margin-top: 10px;
        margin-bottom: 10px;
        cursor: pointer;
        font-size: 18px;
      }
    }
  }

  .cryptoInputsWrapper {
    display: flex;
    grid-gap: 10px;
    margin-bottom: 5px;
    margin-top: 20px;
    width: 100%;
    padding: 0;
    @media screen and (max-width: $screen-xs) {
      flex-direction: column;
      //   grid-gap: 20px;
      margin-bottom: 20px;
    }
    // @media screen and (min-width: $screen-md) {
    //   padding: 0 25px;
    // }
  }

  .transferInformation {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
    margin-bottom: 20px;

    .addressCopy {
      width: calc(100% - 125px - 100px);
      padding-top: 25px;
      margin-left: 20px;
    }

    @media screen and (max-width: $screen-xs) {
      flex-direction: column;

      .addressCopy {
        margin: 10px 0;
        width: 100%;
      }
    }
    @media screen and (min-width: $screen-md) {
      margin-top: 20px;
    }
  }

  .qrCodeImg {
    height: 125px;
  }
}
