@import '../../styles/all';

.container {
  //   display: flex;
  //   align-items: center;
  height: 100%;
  width: 660px;
  background-color: $colorWhite;
  color: $colorPrimaryDark;
  border-radius: 10px;
}

.activities {
  .title {
    display: flex;
    align-items: center;

    h2 {
      font-size: 20px;

      @media (max-width: $screen-xs) {
        font-size: 18px;
      }
    }

    img {
      margin-right: 30px;
    }
  }
}
.activityWrapper {
  @media screen and (max-width: $screen-xs) {
    margin-bottom: 20px;
  }
  .activityContainer {
    margin-top: 10px;
    position: relative;
    height: 700px;
    min-height: 700px;
    width: 100%;
    display: flex;
    justify-content: center;
  }
}

.tabLayout {
  display: flex;
  align-items: flex-end;
  color: $colorWhite;
  font-family: $fontRegular;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 18px;
  padding-top: 24px;
  margin-left: 16px;

  @media (max-width: $screen-md) {
    margin-left: 0px;
    font-size: 11px;
    line-height: 14px;
  }
}

.tabItemSelected {
  text-align: center;
  padding-bottom: 12px;
  opacity: 1;
  cursor: pointer;
  border-bottom: 3px solid $mainAction;
}

.tabItem {
  text-align: center;
  padding-bottom: 12px;
  opacity: 0.3;
  cursor: pointer;
}

.buyWithFiatTabContainer {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  width: 100%;
  flex-direction: column;

  .buyWithFiatTabIframe {
    display: block;
    width: 100%;
    max-height: 650px;
    max-width: 450px;
  }

  .textContainer {
    width: 507px;
    height: 224px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 5px;
    margin-top: 20px;

    p {
      font-family: $fontRegular;
      font-style: normal;
      font-weight: normal;
      font-size: 20px;
      line-height: 25px;
      text-align: justify;
      margin-bottom: 25px;
    }
  }
  .wfairCalculatorContainer {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    justify-content: center;
    align-items: center;

    .inputContiner {
      width: 550px;
      height: 80px;
      background: $colorWhite;
      border: 1px solid $colorLightGray2;
      box-sizing: border-box;
      border-radius: 20px;
      margin-bottom: 11px;
      display: flex;
      align-items: center;

      input {
        width: 70%;
        height: 70px;
        padding: 20px;
        margin: 0px 10px;
        border: none;
        font-size: large;
        direction: ltr;
        text-align: center;
        &:focus-visible {
          outline: none;
        }
      }
      input::-webkit-outer-spin-button,
      input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }

      .inputRightContainer {
        width: 30%;
        height: 80px;
        border-left: 1px solid $colorLightGray2;
        border-radius: 20px;
        display: flex;
        justify-content: center;
        align-items: center;

        .innerContiner {
          width: 134px;
          height: 68px;
          background-color: $colorBlueLight;
          display: flex;
          justify-content: space-around;
          align-items: center;

          .innerContent {
            p {
              font-family: $fontBold;
              font-size: 18px;
            }
          }
          .innerIcon {
            svg {
              fill: #3570ff;
              stroke: none;
            }
          }
        }

        img {
          height: 40px;
          width: 80%;
        }
      }
    }
    .InputLineSeparator {
      width: 550px;
      height: 80px;
      background: $colorWhite;
      margin-bottom: 11px;
      display: flex;
      justify-content: center;
      align-items: center;
      img {
        height: 80px;
      }
    }

    .transankContineButton {
      background: linear-gradient(
        180deg,
        $colorPinkDark 0%,
        $colorLightDark2 97.4%
      );
      border-radius: 22.5px;
      border: 1px solid $colorWhite;
      width: 240px;
      height: 45px;
      font-family: $fontRegular;
      color: $colorWhite;
      margin-top: 55px;
      margin-bottom: 36px;
      cursor: pointer;
    }
  }
}

.buyWithCryptoContainer {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  width: 100%;
  flex-direction: column;

  .buyWithFiatTabIframe {
    display: block;
    width: 100%;
    max-height: 650px;
    max-width: 450px;
  }

  .cryptoTabsContianer {
    width: 500px;
    height: 63px;
    display: flex;
    margin: 0 auto;
    padding: 5px;
    margin-top: 20px;
    border-radius: 50px;
    background-color: $colorPinkDark;
    justify-content: center;
    align-items: center;

    .cryptoTab {
      width: 160px;
      height: 46px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 30px;
      cursor: pointer;
      p {
        margin-left: 10px;
        font-size: 20px;
        line-height: 25px;
        font-family: $fontRegular;
      }
    }
    .cryptoTabActive {
      background-color: white;
    }
  }
  .cryptoCalculatorContainer {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    justify-content: center;
    align-items: center;

    .cryptoInputContiner {
      width: 350px;
      height: 80px;
      background: $colorWhite;
      border: 1px solid $colorLightGray2;
      box-sizing: border-box;
      border-radius: 20px;
      margin-bottom: 11px;
      display: flex;
      align-items: center;

      input {
        width: 70%;
        height: 70px;
        padding: 20px;
        margin: 0px 10px;
        border: none;
        font-size: large;
        direction: ltr;
        text-align: center;
        &:focus-visible {
          outline: none;
        }
      }
      input::-webkit-outer-spin-button,
      input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }

      .inputRightContainer {
        width: 40%;
        height: 80px;
        border-left: 1px solid $colorLightGray2;
        border-radius: 20px;
        display: flex;
        justify-content: center;
        align-items: center;

        .innerContiner {
          width: 134px;
          height: 68px;
          background-color: $colorBlueLight;
          display: flex;
          justify-content: space-around;
          align-items: center;

          .innerContent {
            p {
              font-family: $fontBold;
              font-size: 18px;
            }
          }
          .innerIcon {
            svg {
              fill: #3570ff;
              stroke: none;
            }
          }
        }

        img {
          height: 40px;
          width: 50%;
        }
      }
    }
    .InputLineSeparator {
      width: 550px;
      height: 80px;
      background: $colorWhite;
      margin-bottom: 11px;
      display: flex;
      justify-content: center;
      align-items: center;
      img {
        height: 80px;
      }
    }

    .transankContineButton {
      background: linear-gradient(
        180deg,
        $colorPinkDark 0%,
        $colorLightDark2 97.4%
      );
      border-radius: 22.5px;
      border: 1px solid $colorWhite;
      width: 240px;
      height: 45px;
      font-family: $fontRegular;
      color: $colorWhite;
      margin-top: 55px;
      margin-bottom: 36px;
      cursor: pointer;
    }
  }
}

.depositTabContainer {
  padding: 50px 0;
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;

  .depositHeader {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid $colorWhite;
    background-color: $colorPinkDark;
    border-radius: 50px;
    padding: 10px;
    width: 318px;
    height: 64px;
    margin-top: 10px;

    .imageSizeEther {
      height: 35px;
    }
    .imageSizePolygon {
      height: 23px;
    }

    .activeButton {
      border: 1px solid $colorWhite;
      height: 50px;
      width: 100%;
      align-items: center;
      display: flex;
      background-color: $colorWhite;
      border-radius: 50px;
      padding: 8px;
      display: flex;
      cursor: not-allowed;
      // justify-content: center;
    }
    .inactiveButton {
      height: 50px;
      width: 100%;
      align-items: center;
      display: flex;
      padding: 10px;
      display: flex;
      cursor: pointer;
      // justify-content: center;
    }
  }

  .copyhash {
    width: 331px;
    height: 34px;
    padding: 10px 23px 8px 25px;
    margin-top: 40px;
    border-radius: 14.5px;
    background-color: #e82e89;
    display: flex;

    .copyhashText {
      width: 255px;
      height: 16px;
      margin: 0 14px 0 0;
      font-family: $fontRegular;
      font-size: 12.6px;
      font-weight: 500;
      color: $colorWhite;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    img {
      cursor: pointer;
    }
  }

  .qrCodeImg {
    margin-top: 40px;
    border-radius: 35.4px;
    background-color: #fff;
  }

  .firstDiscription {
    width: 443.9px;
    height: 32px;
    margin-top: 40px;
    font-family: $fontRegular;
    font-size: 12.6px;
    font-weight: 500;
    text-align: center;
    color: $colorBlack;
  }

  .copyButton {
    border: none;
    background: transparent;
    padding: 0;
    position: relative;
    .confirmation {
      position: absolute;
      bottom: calc(100% + 15px);
      right: -15px;
      width: max-content;
      border-radius: 6px;
      background-color: rgba(232, 46, 137, 0.6);
      color: $colorWhite;
      padding: 6px;
      @media screen and (min-width: $screen-xs) {
        right: unset;
        left: 50%;
        transform: translateX(-50%);
      }
    }
  }

  .connectWalletContainer {
    height: 100px;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 10px;

    .connectWalletButton {
      border-radius: 30px;
      border: 1px solid $colorWhite;
      background-color: $colorPinkDark;
      font-size: 20px;
      width: 300px;
      color: $colorWhite;
      padding: 10px;
      cursor: pointer;
      font-family: $fontRegular;
    }
  }
}
