@import '../../styles/all';

.errorTextContainer {
  display: flex;
  align-items: center;
  width: 100%;
  min-height: 40px;
  padding: 12px 12px 12px 21px;
  border-radius: 8px;
  // background-color: rgba(255, 88, 88, 0.1);
  // color:            $colorRedDark;
  background-color: rgba(255, 197, 88, 0.1);
  color: $colorOrangeLight;

  .errorTextIcon {
    height: 25px;
    width: 25px;
    margin-right: 16px;

    // @include svgSelectorColor($colorRedLight);
    @include svgSelectorColor($colorOrangeLight);
  }
}
