@import '../../styles/all';

.containerWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 0 1rem;

  .container {
    margin: 0 2rem;
    max-width: 1200px;
    width: 100%;

    @media (max-width: $screen-sm) {
      margin: 0 3rem;
      width: 100%;
    }

    .containerHeader {
      width: 100%;
      height: 280px;
      background-image: url('../../data/backgrounds/profile/background.png');
      background-repeat: no-repeat;
      background-position: top;
      background-size: cover;
      border-radius: 8px;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      @media (max-width: $screen-sm) {
        height: 120px;
      }
    }

    .headerBody {
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      color: $colorBlack;
      padding-top: 20px;
      border-bottom-left-radius: 8px;
      border-bottom-right-radius: 8px;
      @media (max-width: $screen-sm) {
        justify-content: flex-start;
        align-items: center;
      }

      .avatarBox {
        position: absolute;
        left: 60px;
        top: -60px;
        border-radius: 50%;
        width: 110px;
        height: 110px;
        background-color: $colorPrimaryDark;
        @media (max-width: $screen-sm) {
          top: -42px;
          left: 50%;
          transform: translateX(-50%);
          width: 93.7px;
          height: 93.7px;
        }

        .profileImage {
          object-fit: cover;
          object-position: center;
          border-radius: 50%;
          width: 100%;
          height: 100%;
          margin: 0;
        }
      }

      .userInfo {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;

        @media (max-width: $screen-sm) {
          flex-direction: column;
        }
        .profileSection {
          padding-left: 250px;
          @media (max-width: $screen-sm) {
            padding-top: 56px;
            padding-left: 20px;
            padding-right: 20px;
          }

          h2 {
            font-family: $fontOmnes;
            font-style: normal;
            font-weight: bold;
            font-size: 30px;
            line-height: 39px;
            color: $colorLightYellow;
            @media (max-width: $screen-sm) {
              font-size: 24px;
              line-height: 31px;
              text-align: center;
            }
          }

          p {
            margin-top: 8px;
            font-family: $fontOmnes;
            font-style: normal;
            font-weight: 600;
            font-size: 14px;
            line-height: 24px;
            color: $colorWhite;
            opacity: 0.8;
          }
        }
        .suspendButton {
          min-width: 150px;
          height: 40px;
          font-size: 16px;
          margin-right: 20px;
          @media (max-width: $screen-sm) {
            margin: 20px 0 0;
            align-self: center;
          }
        }
      }
    }

    .tabLayout {
      display: flex;
      align-items: flex-end;
      color: $colorBlack;
      font-family: $fontOmnes;
      font-style: normal;
      font-weight: bold;
      font-size: 14px;
      line-height: 18px;
      padding-top: 24px;
      margin-left: 16px;
      margin-bottom: 8px;
      @media (max-width: $screen-sm) {
        margin-left: 0px;
        justify-content: space-between;
        font-size: 11px;
        line-height: 14px;
      }

      .tabItem {
        text-align: center;
        padding-bottom: 12px;
        opacity: 0.3;
        cursor: pointer;
      }

      .tabItemSelected {
        text-align: center;
        padding-bottom: 12px;
        border-bottom: 2px solid $mainAction;
        opacity: 1;
        cursor: pointer;
      }
    }

    .userActivities {
      position: relative;
      display: flex;
      flex-direction: row;
      width: 100%;

      .activitiesTrackerUserPage {
        width: 100%;
      }

      .templateImage {
        width: 100%;
        // filter: blur(2px);
        filter: brightness(100);
        border-radius: 12px;
      }

      .activityWrapper {
        width: 75%;
      }

      .statistics {
        width: 25%;
      }
    }

    .transactionHistory {
      width: 100%;
      min-height: 480px;
      display: flex;
      justify-content: center;
      border-radius: 10px;
      background-color: rgba(255, 255, 255, 0.1);
      .inactivePlaceholder {
        position: absolute;
        top: 25%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 24px;
        font-family: $fontOmnes;
        color: $colorLightYellow;
        font-weight: 700;
      }
    }

    .activities {
      width: 100%;
      background-color: $colorPrimary;
      border-radius: 12px;
    }

    .leaderboard {
      width: 100%;
      background-color: $colorPrimary;
      border-radius: 12px;

      .leaderboardTable {
        overflow-y: hidden;
      }
    }

    .heading {
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
      @media (max-width: $screen-sm) {
        border-top-left-radius: 0;
        border-top-right-radius: 0;
      }
    }
  }

  .contentBlock {
    display: flex;
    justify-content: space-between;
    margin-top: 8px;
    flex-grow: 0;
    flex-shrink: 0;

    @media (max-width: $screen-sm) {
      flex-direction: column;
    }

    .mainContent {
      margin-right: 15px;
      border-radius: 10px;
      width: 100%;
      background: transparent;
    }

    .sideContent {
      border-radius: 10px;
      background-color: $colorPrimary;
      width: 400px;
      color: $colorWhite;
      padding: 15px;

      @media (max-width: $screen-sm) {
        margin-top: 15px;
        width: 100%;
        padding: 0px;
      }

      .header {
        font-size: 14px;
        font-weight: bold;
        margin-bottom: 15px;
        color: $colorWhite;
      }

      .statsBlock {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        .statItem {
          display: flex;
          background-color: rgba(255, 255, 255, 0.1);
          width: 100%;
          padding: 15px 10px;
          margin-bottom: 10px;

          .statItemHead {
            width: 100px;
            font-size: 16px;
            font-weight: bold;
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            flex-direction: column;
            color: $mainAction;
          }

          .statItemHint {
            margin-top: 5px;
            font-size: 16px;
            font-weight: 600;
            color: $colorWhite;
          }
        }
      }
    }
  }
}
