@import '../../styles/all';

.tradeDetailContainer
{
    display:        flex;
    flex-direction: column;
    width:          100%;
    height:         100%;
    padding-top:    30px;

    .headline
    {
        width:           100%;
        display:         flex;
        flex-direction:  row;
        align-items:     center;
        justify-content: center;

        .headlineIcon
        {
            margin-right: 12px;
        }

        .headlineText
        {
            font-size: 12px;

            strong
            {
                font-family: $fontBold;
            }
        }
    }

    .tradeDetailHeadline
    {
        font-size: 20px;
    }
}