@import '../../styles/all';

.iconsWrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  max-width: 300px;
  width: 100%;
  margin: 0 auto;
  padding: 20px 0;

  a {
    transition: transform 0.5s;
    &:hover {
      transform: scale(1.2);
    }
  }
  .iconWrapper {
    position: relative;
    .badge {
      position: absolute;
      top: -18px;
      right: -50%;
    }
    img {
      width: 40px;
      @media screen and (max-width: 763px) {
        width: 25px;
      }
    }
  }
}
